In [1]:
import random
import sys
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics.cluster import adjusted_rand_score
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scripts.data_generator as data_generator
import scripts.feature_ranking as feature_ranking
import scripts.features_2d as features_2d
import scripts.ga as ga
import scripts.preprocess as preprocess
import scripts.ga_evaluation as ga_evaluation
import scripts.bio_analysis as bio_analysis
import tensorflow as tf
from IPython import get_ipython
from keras.backend.tensorflow_backend import set_session
from tqdm import tqdm
from collections import Counter
import seaborn as sns
import time

config = tf.ConfigProto()
config.gpu_options.allow_growth = True  # dynamically grow the memory used on the GPU
config.log_device_placement = True  # to log device placement (on which device the operation ran)
sess = tf.Session(config=config)
set_session(sess)  # set this TensorFlow session as the default

plt.ion()
plt.show()
sys.path.append("..")

random_state=1
random.seed( random_state )
np.random.seed(random_state)
method = "adapted_silhouette"

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)
Using TensorFlow backend.

Device mapping:
/job:localhost/replica:0/task:0/device:XLA_CPU:0 -> device: XLA_CPU device
/job:localhost/replica:0/task:0/device:XLA_GPU:0 -> device: XLA_GPU device
/job:localhost/replica:0/task:0/device:GPU:0 -> device: 0, name: GeForce RTX 2060, pci bus id: 0000:01:00.0, compute capability: 7.5

In [2]:
%load_ext autoreload
%autoreload 2

# Steps
- Clustering 1d to select best discriminant features

- Clustering 2d to select redundant, close and outlier features

In [3]:
random_state=0
random.seed( random_state )
np.random.seed(random_state)
results = None

In [4]:
filenames = np.array(["khan","west",  "gordon",'borovecki'])
clustering = "hdbscan"
path = 'data/microarray/'
imp_f = np.arange(20)
for name in filenames:
    t1 = time.time()
    data = pd.read_pickle(f'{path}' + name + '.pkl')
    truth = data["truth"].values
    data = data.drop("truth", axis = 1).values


    n_clusters = len(np.unique(truth))

    z_file= f"data/microarray/Z_{name}_correlation.npy"
    print(f"\n##########  {name}, {data.shape}")

    # Clustering 1D
    meta_features = feature_ranking.rank_features(data,
                                              nb_bins=20,
                                              rank_threshold=90,
                                              z_file=z_file,
                                              metric='correlation',
                                              redundant_threshold=0.4)
    t2 = time.time()
    print(f"TIME: 1d Features : {(t2-t1)/60} min")
    model_file = f'models/gmm_arl.h5' 

    population, n = features_2d.run(data,
                                n_clusters,
                                meta_features,
                                model_file=model_file,
                                add_close_population=False)
    t3 = time.time()
    t4 = time.time()
    print(f"TIME: 2d scores: {(t4-t3)/60} min")
    round_size = 4
    epochs = 10*round_size
    sampling = {
        "ARCHIVE2D": { 
            "ga": 0.25,
            "max": 0.25 },
        "CLOSE": { 
            "ga": 0.4,
            "max": 0.4 },
        "IMP1D": { 
            "ga": 0.25,
            "max": 0.25 },
        "RANDOM": { 
            "ga": 0.1,
            "max": 0.1},
        }
    params = ga.ga_parameters(
        n_clusters,
        data.shape[1],
        truth,
        meta_features,
        method=method,
        truth_methods=['ari'],
        archive_2d=population[:data.shape[1] // 4],
        epochs=epochs,
        sampling = sampling,
        round_size=round_size,
        allow_subspace_overlap = True,
        improvement_per_mutation_report = False,
        clustering = clustering,
        total_maximisation_exploration = 300,
        max_subspace_size = 100,
        pca = False,
        hdbscan_min_cluster_size =4
        
    )
    solutions, archive= ga.run(data, params)
#     display(params["report"].groupby(["op", "improvement"]).count())
    solutions["dataset_name"] = name
    
    t5 = time.time()
    n_total = t5-t1
    print(f"TIME: GA: {(t5-t4)/60} min")
    print(f"TIME: Total: {(t5-t1)/60} min")
    solutions["total_time"] = round((t5-t1)/60, 1)
    solutions["t(feature_sel)"] = round((t2-t1)/60, 1)
    solutions["t(cnn)"] = round((t3-t2)/60, 1)
    solutions["t(clustering2d)"] = round((t4-t3)/60, 1)
    solutions["t(ga)"] = round((t5-t4)/60, 1)
    
    solutions["n_ga"] = archive.shape[0]
    solutions["n_cnn"] = n_total
    solutions["input_size"] = data.shape[1]
    
    
    solutions["n_non_redundant"] = meta_features[(meta_features["redundant"] ==1) ].shape[0]
    solutions["n_imp"] = meta_features[(meta_features["relevance"] !=0)].shape[0]
    solutions["n_imp4"] = meta_features[(meta_features["relevance"] ==4)].shape[0]
    solutions["n_imp3"] = meta_features[(meta_features["relevance"] ==3)].shape[0]
    
    
    if results is None: 
        results = solutions
    else:
        results = pd.concat([results, solutions], ignore_index = True)
    results.to_excel("reports/microarray_hdbscan.xlsx")

##########  khan, (63, 2308)
*** Computing 1D feature ranking ...
Dispersion tests took 0.03 sec
Entropy computation 0.49 sec
KNN computation 0.33 sec
Sorting and thresholds 0.04 sec
Loading clustering from file
Hierarchical clustering 0.02 sec
Handle redundant features 1.18 sec
Returning 381 redundant features and  83 important features
TIME: 1d Features : 0.03514524300893148 min
*** Exploring 2D feature space with NN ...
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4070: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

trimming 1665 to 963
handle_close_important (963, 3), total 1678, 0.16005289554595947
relevant_features 606 => computing 3586
trimming 3123 to 381
handle_important_features (1344, 3),  total 3586, 0.16005289554595947
irrelevant_features 1321 => computing 3953
trimming 3042 to 963
handle_not_important_features (2307, 3), total 3953, 0.16005289554595947
handle_all_features 1927 => computing 5772

  0%|          | 0/41 [00:00<?, ?it/s]

trimming 4666 to 1927
handle_all_features (4234, 3),  total 5772, 0.16005289554595947
Returning (4234, 3), explored a total of 14989 feature pairs
TIME: 2d scores: 3.178914388020833e-08 min
*** Optimization algorithm
Non redundant features 1927, orig size 2308, nb imp : 83
Selecting (50, 4) from archive

 10%|▉         | 4/41 [00:09<01:35,  2.59s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"

Selecting (23, 4) from archive

 20%|█▉        | 8/41 [00:21<01:20,  2.44s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"

Selecting (17, 4) from archive

 29%|██▉       | 12/41 [00:32<01:09,  2.39s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"

Selecting (27, 4) from archive

 39%|███▉      | 16/41 [00:44<01:03,  2.52s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"

Selecting (13, 4) from archive

 49%|████▉     | 20/41 [00:55<00:51,  2.45s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"

Selecting (13, 4) from archive

 59%|█████▊    | 24/41 [01:17<01:21,  4.79s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"
5,0.473524,-0.01,"[10, 407, 448, 574, 621, 688, 745, 844, 901, 9...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",29.0,"Counter({1: 38, 0: 21, -1: 4})"

Selecting (30, 4) from archive

 68%|██████▊   | 28/41 [01:49<01:17,  6.00s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"
5,0.473524,-0.01,"[10, 407, 448, 574, 621, 688, 745, 844, 901, 9...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",29.0,"Counter({1: 38, 0: 21, -1: 4})"
6,0.400502,0.11,"[855, 1951]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2.0,"Counter({1: 55, 0: 8})"

Selecting (5, 4) from archive

 78%|███████▊  | 32/41 [02:12<00:47,  5.31s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"
5,0.473524,-0.01,"[10, 407, 448, 574, 621, 688, 745, 844, 901, 9...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",29.0,"Counter({1: 38, 0: 21, -1: 4})"
6,0.400502,0.11,"[855, 1951]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2.0,"Counter({1: 55, 0: 8})"
7,0.450157,0.40,"[1, 3, 230, 541, 656, 728, 787]","[0, 0, 0, 0, 0, 0, -1, 0, -1, -1, 0, 0, 0, 0, ...",7.0,"Counter({1: 39, 0: 19, -1: 5})"

Selecting (10, 4) from archive

 88%|████████▊ | 36/41 [02:36<00:23,  4.60s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"
5,0.473524,-0.01,"[10, 407, 448, 574, 621, 688, 745, 844, 901, 9...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",29.0,"Counter({1: 38, 0: 21, -1: 4})"
6,0.400502,0.11,"[855, 1951]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2.0,"Counter({1: 55, 0: 8})"
7,0.450157,0.40,"[1, 3, 230, 541, 656, 728, 787]","[0, 0, 0, 0, 0, 0, -1, 0, -1, -1, 0, 0, 0, 0, ...",7.0,"Counter({1: 39, 0: 19, -1: 5})"
8,0.399701,0.01,"[273, 280, 349, 632, 739, 757, 758, 896, 898, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...",18.0,"Counter({1: 44, 0: 12, -1: 7})"

Selecting (32, 4) from archive

 98%|█████████▊| 40/41 [02:51<00:03,  3.51s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.615803,-0.01,"[35, 37, 112, 402, 406, 745, 854, 939, 954, 99...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",34.0,"Counter({1: 42, 0: 21})"
1,0.485721,0.41,"[2, 5, 1041, 1130, 1669, 1700]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",6.0,"Counter({1: 44, 0: 19})"
2,0.529263,0.20,"[0, 16, 22, 52, 71, 99, 107, 308, 333, 474, 51...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",31.0,"Counter({1: 55, 0: 8})"
3,0.462370,0.30,"[3, 541, 1376]","[1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, ...",3.0,"Counter({0: 44, 1: 19})"
4,0.529039,0.07,"[15, 66, 159, 297, 1340, 1514, 1556, 1576, 159...","[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 38, 0: 25})"
5,0.473524,-0.01,"[10, 407, 448, 574, 621, 688, 745, 844, 901, 9...","[0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, ...",29.0,"Counter({1: 38, 0: 21, -1: 4})"
6,0.400502,0.11,"[855, 1951]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2.0,"Counter({1: 55, 0: 8})"
7,0.450157,0.40,"[1, 3, 230, 541, 656, 728, 787]","[0, 0, 0, 0, 0, 0, -1, 0, -1, -1, 0, 0, 0, 0, ...",7.0,"Counter({1: 39, 0: 19, -1: 5})"
8,0.399701,0.01,"[273, 280, 349, 632, 739, 757, 758, 896, 898, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...",18.0,"Counter({1: 44, 0: 12, -1: 7})"
9,0.358616,0.04,"[254, 1061, 1250, 1344, 1563, 1974]","[0, 0, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1, 0, 0, 0...",6.0,"Counter({1: 39, 0: 16, -1: 8})"

Selecting (18, 4) from archive

100%|██████████| 41/41 [02:58<00:00,  4.35s/it]

TIME: GA: 2.9711225628852844 min
TIME: Total: 3.2807191411654153 min

##########  west, (49, 6858)
*** Computing 1D feature ranking ...
Dispersion tests took 0.21 sec
Entropy computation 1.0 sec
KNN computation 1.65 sec
Sorting and thresholds 0.04 sec
Loading clustering from file
Hierarchical clustering 0.03 sec
Handle redundant features 1.65 sec
Returning 1530 redundant features and  198 important features
TIME: 1d Features : 0.07653457721074422 min
*** Exploring 2D feature space with NN ...
trimming 5128 to 2664
handle_close_important (2664, 3), total 5185, 0.2692382335662842
relevant_features 1842 => computing 11007
trimming 10647 to 1530
handle_important_features (4194, 3),  total 11007, 0.2692382335662842
irrelevant_features 3486 => computing 10455
trimming 9720 to 2664
handle_not_important_features (6858, 3), total 10455, 0.2692382335662842
handle_all_features 5328 => computing 15974

  0%|          | 0/41 [00:00<?, ?it/s]

trimming 15038 to 5328
handle_all_features (12186, 3),  total 15974, 0.2692382335662842
Returning (12186, 3), explored a total of 42621 feature pairs
TIME: 2d scores: 7.947285970052083e-09 min
*** Optimization algorithm
Non redundant features 5328, orig size 6858, nb imp : 198
Selecting (50, 4) from archive

 10%|▉         | 4/41 [00:09<01:28,  2.40s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.0,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"

Selecting (3, 4) from archive

 20%|█▉        | 8/41 [00:33<02:37,  4.77s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.0,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.0,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"

Selecting (9, 4) from archive

 29%|██▉       | 12/41 [00:52<01:51,  3.84s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.0,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.0,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.1,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"

Selecting (7, 4) from archive

 39%|███▉      | 16/41 [01:12<01:52,  4.49s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.0,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.0,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.1,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.0,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"

Selecting (9, 4) from archive

 49%|████▉     | 20/41 [01:38<01:49,  5.21s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"

Selecting (16, 4) from archive

 59%|█████▊    | 24/41 [01:59<01:11,  4.18s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"
5,0.625059,0.02,"[552, 806, 1168, 1299, 1639, 1693, 2079, 2429,...","[-1, 1, 1, -1, 1, 1, -1, 1, 0, 1, 0, 1, 1, 1, ...",14.0,"Counter({1: 35, 0: 9, -1: 5})"

Selecting (30, 4) from archive

 68%|██████▊   | 28/41 [02:12<00:40,  3.08s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"
5,0.625059,0.02,"[552, 806, 1168, 1299, 1639, 1693, 2079, 2429,...","[-1, 1, 1, -1, 1, 1, -1, 1, 0, 1, 0, 1, 1, 1, ...",14.0,"Counter({1: 35, 0: 9, -1: 5})"
6,0.642035,0.00,"[20, 58, 342, 536, 709, 847, 887, 1027, 1063, ...","[1, 1, 1, 1, 0, 0, -1, -1, 0, 0, -1, 1, 0, 1, ...",29.0,"Counter({1: 34, 0: 11, -1: 4})"

Selecting (11, 4) from archive

 78%|███████▊  | 32/41 [02:28<00:28,  3.17s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"
5,0.625059,0.02,"[552, 806, 1168, 1299, 1639, 1693, 2079, 2429,...","[-1, 1, 1, -1, 1, 1, -1, 1, 0, 1, 0, 1, 1, 1, ...",14.0,"Counter({1: 35, 0: 9, -1: 5})"
6,0.642035,0.00,"[20, 58, 342, 536, 709, 847, 887, 1027, 1063, ...","[1, 1, 1, 1, 0, 0, -1, -1, 0, 0, -1, 1, 0, 1, ...",29.0,"Counter({1: 34, 0: 11, -1: 4})"
7,0.656680,0.00,"[332, 351, 537, 605, 665, 689, 1142, 1239, 161...","[0, 0, 0, 1, 1, 1, 0, -1, -1, 1, -1, 1, 1, 1, ...",21.0,"Counter({1: 39, 0: 6, -1: 4})"

Selecting (10, 4) from archive

 88%|████████▊ | 36/41 [02:41<00:14,  2.80s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"
5,0.625059,0.02,"[552, 806, 1168, 1299, 1639, 1693, 2079, 2429,...","[-1, 1, 1, -1, 1, 1, -1, 1, 0, 1, 0, 1, 1, 1, ...",14.0,"Counter({1: 35, 0: 9, -1: 5})"
6,0.642035,0.00,"[20, 58, 342, 536, 709, 847, 887, 1027, 1063, ...","[1, 1, 1, 1, 0, 0, -1, -1, 0, 0, -1, 1, 0, 1, ...",29.0,"Counter({1: 34, 0: 11, -1: 4})"
7,0.656680,0.00,"[332, 351, 537, 605, 665, 689, 1142, 1239, 161...","[0, 0, 0, 1, 1, 1, 0, -1, -1, 1, -1, 1, 1, 1, ...",21.0,"Counter({1: 39, 0: 6, -1: 4})"
8,0.673438,0.03,"[18, 81, 293, 321, 339, 679, 729, 731, 890, 11...","[1, 1, 1, 1, 1, 1, -1, -1, 1, 1, 0, 1, 1, 1, 1...",27.0,"Counter({1: 40, 0: 5, -1: 4})"

Selecting (8, 4) from archive

 98%|█████████▊| 40/41 [02:58<00:03,  3.27s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.561674,0.00,"[31, 83, 332, 351, 469, 918, 1239, 1384, 1513,...","[1, 1, 1, 1, 0, 0, 1, -1, -1, -1, -1, 1, -1, 0...",17.0,"Counter({1: 34, 0: 8, -1: 7})"
1,0.572558,-0.00,"[1183, 1332, 1381, 3572, 5853, 6492]","[1, 1, 1, 1, 0, -1, 1, 1, 0, -1, 1, 1, 1, 0, 1...",6.0,"Counter({1: 33, 0: 12, -1: 4})"
2,0.664753,0.10,"[443, 701, 731, 1356, 1882, 2064, 2068, 2708, ...","[0, 1, 1, 1, 1, 1, -1, -1, 0, -1, 1, 0, 1, 1, ...",10.0,"Counter({1: 38, 0: 7, -1: 4})"
3,0.625522,-0.00,"[552, 1419, 1564, 1913, 2313, 3241, 3509, 3761...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",9.0,"Counter({0: 26, 1: 19, -1: 4})"
4,0.632136,0.03,"[158, 306, 536, 782, 919, 1289, 1431, 2066, 20...","[1, 1, 1, 1, 1, 1, -1, -1, 0, 1, -1, 1, 1, 0, ...",13.0,"Counter({1: 36, 0: 9, -1: 4})"
5,0.625059,0.02,"[552, 806, 1168, 1299, 1639, 1693, 2079, 2429,...","[-1, 1, 1, -1, 1, 1, -1, 1, 0, 1, 0, 1, 1, 1, ...",14.0,"Counter({1: 35, 0: 9, -1: 5})"
6,0.642035,0.00,"[20, 58, 342, 536, 709, 847, 887, 1027, 1063, ...","[1, 1, 1, 1, 0, 0, -1, -1, 0, 0, -1, 1, 0, 1, ...",29.0,"Counter({1: 34, 0: 11, -1: 4})"
7,0.656680,0.00,"[332, 351, 537, 605, 665, 689, 1142, 1239, 161...","[0, 0, 0, 1, 1, 1, 0, -1, -1, 1, -1, 1, 1, 1, ...",21.0,"Counter({1: 39, 0: 6, -1: 4})"
8,0.673438,0.03,"[18, 81, 293, 321, 339, 679, 729, 731, 890, 11...","[1, 1, 1, 1, 1, 1, -1, -1, 1, 1, 0, 1, 1, 1, 1...",27.0,"Counter({1: 40, 0: 5, -1: 4})"
9,0.635524,0.04,"[321, 796, 1063, 1145, 1322, 1495, 1633, 1960,...","[1, 1, 1, 1, 1, 0, 1, -1, 1, 1, 1, 1, 1, 1, 1,...",22.0,"Counter({1: 37, 0: 8, -1: 4})"

Selecting (8, 4) from archive

100%|██████████| 41/41 [03:07<00:00,  4.58s/it]

TIME: GA: 3.1296738187472024 min
TIME: Total: 3.6747628966967265 min

##########  gordon, (181, 12533)
*** Computing 1D feature ranking ...
Dispersion tests took 0.82 sec
Entropy computation 3.01 sec
KNN computation 22.67 sec
Sorting and thresholds 0.12 sec
Loading clustering from file
Hierarchical clustering 0.12 sec
Handle redundant features 3.05 sec
Returning 733 redundant features and  351 important features
TIME: 1d Features : 0.49715763330459595 min
*** Exploring 2D feature space with NN ...
trimming 8433 to 5900
handle_close_important (5900, 3), total 10261, 0.24181434512138367
relevant_features 3626 => computing 21713
trimming 10997 to 733
handle_important_features (6633, 3),  total 21713, 0.24181434512138367
irrelevant_features 8174 => computing 24509
handle_not_important_features (11664, 3), total 24509, 0.24181434512138367
handle_all_features 11800 => computing 35392

  0%|          | 0/41 [00:00<?, ?it/s]

trimming 10812 to 10000
handle_all_features (21664, 3),  total 35392, 0.24181434512138367
Returning (21664, 3), explored a total of 91875 feature pairs
TIME: 2d scores: 1.5894571940104166e-08 min
*** Optimization algorithm
Non redundant features 11800, orig size 12533, nb imp : 351
Selecting (50, 4) from archive

 10%|▉         | 4/41 [00:11<01:49,  2.95s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.6631,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"

Selecting (18, 4) from archive

 20%|█▉        | 8/41 [00:40<02:33,  4.64s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"

Selecting (49, 4) from archive

 29%|██▉       | 12/41 [00:58<01:55,  3.97s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"

Selecting (10, 4) from archive

 39%|███▉      | 16/41 [01:20<01:44,  4.19s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"

Selecting (6, 4) from archive

 49%|████▉     | 20/41 [01:48<02:03,  5.89s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"

Selecting (43, 4) from archive

 59%|█████▊    | 24/41 [02:23<01:54,  6.72s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"
5,0.669235,-0.09,"[290, 1309, 1808, 2361, 4693, 5100, 5685, 6629...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",16.0,"Counter({1: 167, -1: 7, 0: 7})"

Selecting (20, 4) from archive

 68%|██████▊   | 28/41 [02:45<01:02,  4.79s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"
5,0.669235,-0.09,"[290, 1309, 1808, 2361, 4693, 5100, 5685, 6629...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",16.0,"Counter({1: 167, -1: 7, 0: 7})"
6,0.584745,0.36,"[1270, 1662, 2611, 2949, 5429, 6565, 8037, 815...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...",19.0,"Counter({1: 167, -1: 9, 0: 5})"

Selecting (41, 4) from archive

 78%|███████▊  | 32/41 [03:18<01:00,  6.77s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"
5,0.669235,-0.09,"[290, 1309, 1808, 2361, 4693, 5100, 5685, 6629...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",16.0,"Counter({1: 167, -1: 7, 0: 7})"
6,0.584745,0.36,"[1270, 1662, 2611, 2949, 5429, 6565, 8037, 815...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...",19.0,"Counter({1: 167, -1: 9, 0: 5})"
7,0.602805,-0.02,"[2439, 3389, 4180, 4580, 9626, 10029, 10719, 1...","[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",8.0,"Counter({1: 166, -1: 8, 0: 7})"

Selecting (17, 4) from archive

 88%|████████▊ | 36/41 [03:42<00:25,  5.04s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"
5,0.669235,-0.09,"[290, 1309, 1808, 2361, 4693, 5100, 5685, 6629...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",16.0,"Counter({1: 167, -1: 7, 0: 7})"
6,0.584745,0.36,"[1270, 1662, 2611, 2949, 5429, 6565, 8037, 815...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...",19.0,"Counter({1: 167, -1: 9, 0: 5})"
7,0.602805,-0.02,"[2439, 3389, 4180, 4580, 9626, 10029, 10719, 1...","[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",8.0,"Counter({1: 166, -1: 8, 0: 7})"
8,0.584575,-0.03,"[1077, 1090, 2087, 4864, 5583, 7347, 7348, 771...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",14.0,"Counter({1: 171, -1: 5, 0: 5})"

Selecting (15, 4) from archive

 98%|█████████▊| 40/41 [04:00<00:04,  4.10s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.663100,0.37,"[137, 146, 229, 281, 290, 544, 574, 617, 669, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...",81.0,"Counter({0: 168, 1: 8, -1: 5})"
1,0.638105,0.74,"[0, 1, 2, 6, 33, 66, 225, 534, 1007, 1279, 133...","[1, 0, -1, 0, 1, -1, 1, 1, 1, 0, -1, -1, -1, 0...",38.0,"Counter({0: 155, -1: 19, 1: 7})"
2,0.583803,0.03,"[461, 649, 1077, 2485, 2788, 2790, 3088, 3123,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1,...",40.0,"Counter({1: 163, -1: 11, 0: 7})"
3,0.639311,-0.09,"[1077, 1548, 3241, 3865, 5565, 5566, 7477, 100...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",9.0,"Counter({1: 165, -1: 10, 0: 6})"
4,0.755740,-0.08,"[1007, 1077, 1113, 1311, 1590, 2143, 2155, 299...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",22.0,"Counter({1: 169, 0: 8, -1: 4})"
5,0.669235,-0.09,"[290, 1309, 1808, 2361, 4693, 5100, 5685, 6629...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",16.0,"Counter({1: 167, -1: 7, 0: 7})"
6,0.584745,0.36,"[1270, 1662, 2611, 2949, 5429, 6565, 8037, 815...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, ...",19.0,"Counter({1: 167, -1: 9, 0: 5})"
7,0.602805,-0.02,"[2439, 3389, 4180, 4580, 9626, 10029, 10719, 1...","[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",8.0,"Counter({1: 166, -1: 8, 0: 7})"
8,0.584575,-0.03,"[1077, 1090, 2087, 4864, 5583, 7347, 7348, 771...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",14.0,"Counter({1: 171, -1: 5, 0: 5})"
9,0.695801,-0.04,"[1077, 1756, 1806, 1808, 1986, 2846, 4366, 486...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",10.0,"Counter({1: 170, -1: 6, 0: 5})"

100%|██████████| 41/41 [04:09<00:00,  6.10s/it]

TIME: GA: 4.1667244791984555 min
TIME: Total: 6.378586876392364 min

##########  borovecki, (31, 22283)
*** Computing 1D feature ranking ...
Dispersion tests took 1.11 sec
Entropy computation 2.74 sec
KNN computation 12.8 sec
Sorting and thresholds 0.09 sec
Loading clustering from file
Hierarchical clustering 0.08 sec
Handle redundant features 8.17 sec
Returning 6898 redundant features and  677 important features
TIME: 1d Features : 0.4169208804766337 min
*** Exploring 2D feature space with NN ...
trimming 17727 to 7692
handle_close_important (7692, 3), total 17757, 0.3080889582633972
relevant_features 6261 => computing 37522
trimming 37111 to 6898
handle_important_features (14590, 3),  total 37522, 0.3080889582633972
irrelevant_features 9124 => computing 27357
trimming 26674 to 7692
handle_not_important_features (22282, 3), total 27357, 0.3080889582633972
handle_all_features 15385 => computing 46145

  0%|          | 0/41 [00:00<?, ?it/s]

trimming 45306 to 10000
handle_all_features (32282, 3),  total 46145, 0.3080889582633972
Returning (32282, 3), explored a total of 128781 feature pairs
TIME: 2d scores: 1.1920928955078126e-08 min
*** Optimization algorithm
Non redundant features 15385, orig size 22283, nb imp : 677
Selecting (50, 4) from archive

 10%|▉         | 4/41 [00:09<01:28,  2.39s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"

Selecting (28, 4) from archive

 20%|█▉        | 8/41 [00:26<01:47,  3.26s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"

Selecting (3, 4) from archive

 29%|██▉       | 12/41 [00:55<02:39,  5.50s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"

Selecting (28, 4) from archive

 39%|███▉      | 16/41 [01:22<02:21,  5.65s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"

Selecting (15, 4) from archive

 49%|████▉     | 20/41 [01:54<02:10,  6.19s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"

Selecting (10, 4) from archive

 59%|█████▊    | 24/41 [02:16<01:22,  4.87s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"
5,0.469901,0.03,"[1444, 6171, 12729, 21347]","[-1, 1, -1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 0, 1...",4.0,"Counter({1: 19, -1: 7, 0: 5})"

Selecting (3, 4) from archive

 68%|██████▊   | 28/41 [02:45<01:15,  5.80s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"
5,0.469901,0.03,"[1444, 6171, 12729, 21347]","[-1, 1, -1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 0, 1...",4.0,"Counter({1: 19, -1: 7, 0: 5})"
6,0.444249,0.00,"[6894, 9299]","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",2.0,"Counter({1: 20, 0: 7, -1: 4})"

Selecting (6, 4) from archive

 78%|███████▊  | 32/41 [03:17<00:59,  6.57s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"
5,0.469901,0.03,"[1444, 6171, 12729, 21347]","[-1, 1, -1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 0, 1...",4.0,"Counter({1: 19, -1: 7, 0: 5})"
6,0.444249,0.00,"[6894, 9299]","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",2.0,"Counter({1: 20, 0: 7, -1: 4})"
7,0.489161,-0.00,"[1804, 9434, 11073]","[1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 0, 0, 1, 0,...",3.0,"Counter({1: 18, 0: 7, -1: 6})"

Selecting (5, 4) from archive

 88%|████████▊ | 36/41 [03:59<00:43,  8.71s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"
5,0.469901,0.03,"[1444, 6171, 12729, 21347]","[-1, 1, -1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 0, 1...",4.0,"Counter({1: 19, -1: 7, 0: 5})"
6,0.444249,0.00,"[6894, 9299]","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",2.0,"Counter({1: 20, 0: 7, -1: 4})"
7,0.489161,-0.00,"[1804, 9434, 11073]","[1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 0, 0, 1, 0,...",3.0,"Counter({1: 18, 0: 7, -1: 6})"
8,0.433967,0.00,"[1748, 2127, 9429, 18597]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...",4.0,"Counter({1: 26, 0: 5})"

Selecting (10, 4) from archive

 98%|█████████▊| 40/41 [04:26<00:06,  6.16s/it]

,adapted_silhouette,ari,features,partition,size,structure
0,0.605025,-0.03,"[231, 584, 960, 1083, 2960, 3175, 3325, 3431, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, ...",63.0,"Counter({0: 22, 1: 9})"
1,0.507162,0.03,"[5856, 5928, 14430, 19111, 20118]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5.0,"Counter({0: 25, 1: 6})"
2,0.497364,-0.00,"[4297, 8523, 8814, 9834, 19904]","[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, -1, -1, 0...",5.0,"Counter({1: 18, 0: 8, -1: 5})"
3,0.572232,0.54,"[1306, 2223, 2697, 2965, 2985, 3119, 3126, 324...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...",118.0,"Counter({1: 18, 0: 13})"
4,0.485984,-0.01,"[724, 1083, 1139, 1274, 2000, 2318, 2533, 2853...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, -1,...",60.0,"Counter({1: 20, 0: 7, -1: 4})"
5,0.469901,0.03,"[1444, 6171, 12729, 21347]","[-1, 1, -1, -1, 1, 1, 1, -1, 1, 1, 1, -1, 0, 1...",4.0,"Counter({1: 19, -1: 7, 0: 5})"
6,0.444249,0.00,"[6894, 9299]","[1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, ...",2.0,"Counter({1: 20, 0: 7, -1: 4})"
7,0.489161,-0.00,"[1804, 9434, 11073]","[1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 0, 0, 1, 0,...",3.0,"Counter({1: 18, 0: 7, -1: 6})"
8,0.433967,0.00,"[1748, 2127, 9429, 18597]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...",4.0,"Counter({1: 26, 0: 5})"
9,0.521614,0.10,"[2417, 5760, 8070, 8090, 19336]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",5.0,"Counter({0: 22, 1: 5, -1: 4})"

Selecting (3, 4) from archive

100%|██████████| 41/41 [04:39<00:00,  6.83s/it]

TIME: GA: 4.666820232073466 min
TIME: Total: 6.510584286848704 min

In [5]:
results.groupby("dataset_name").agg({"ari": max})

               ari
dataset_name
borovecki     0.54
gordon        0.74
khan          0.41
west          0.10