# Summary
This notebook apply the proposed method (GMM clustering) to a set of microarray datasets.

In [1]:
import sys
sys.path.append("..")
import h5py

#GPU configuration
import tensorflow as tf
from keras.backend.tensorflow_backend import set_session
config = tf.ConfigProto()
config.gpu_options.allow_growth = True  # dynamically grow the memory used on the GPU
config.log_device_placement = True  # to log device placement (on which device the operation ran)
sess = tf.Session(config=config)
set_session(sess)  # set this TensorFlow session as the default


import random
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics.cluster import adjusted_rand_score
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scripts.data_generator as data_generator
import scripts.feature_ranking as feature_ranking
import scripts.features_2d as features_2d
import scripts.ga as ga
import scripts.preprocess as preprocess
import scripts.ga_evaluation as ga_evaluation
import scripts.bio_analysis as bio_analysis
from sklearn import preprocessing
import tensorflow as tf
from IPython import get_ipython
from tqdm import tqdm
from collections import Counter
import seaborn as sns
import time
import glob2

plt.ion()
plt.show()

random_state=1
random.seed( random_state )
np.random.seed(random_state)


%load_ext autoreload
%autoreload 2

Using TensorFlow backend.

Device mapping:
/job:localhost/replica:0/task:0/device:XLA_CPU:0 -> device: XLA_CPU device
/job:localhost/replica:0/task:0/device:XLA_GPU:0 -> device: XLA_GPU device
/job:localhost/replica:0/task:0/device:GPU:0 -> device: 0, name: GeForce RTX 2060, pci bus id: 0000:01:00.0, compute capability: 7.5

/usr/local/lib/python3.6/dist-packages/scanpy/api/__init__.py:7: FutureWarning:

In a future version of Scanpy, `scanpy.api` will be removed.
Simply use `import scanpy as sc` and `import scanpy.external as sce` instead.

  FutureWarning,

In [2]:
import scripts.feature_sampling as feature_sampling

# Steps
- Clustering 1d to select best discriminant features

- Clustering 2d to select redundant, close and outlier features

In [3]:
import scanpy.api as sc
import scipy as sp
def filter_data(X,  highly_genes=500):
    """
    Remove less variable genes

    Args:
        X ([type]): [description]
        highly_genes (int, optional): [description]. Defaults to 500.

    Returns:
        [type]: [description]
    """

    X = np.ceil(X).astype(np.int)
    adata = sc.AnnData(X)

    sc.pp.filter_genes(adata, min_counts=3)
    sc.pp.filter_cells(adata, min_counts=1)
    sc.pp.normalize_per_cell(adata)
    sc.pp.log1p(adata)
    sc.pp.highly_variable_genes(adata, min_mean=0.0125, max_mean=4,
                                min_disp=0.5, n_top_genes=highly_genes, subset=True)
    genes_idx = np.array(adata.var_names.tolist()).astype(int)
    cells_idx = np.array(adata.obs_names.tolist()).astype(int)

    return genes_idx, cells_idx

def normalize(adata, copy=True, highly_genes = None, filter_min_counts=True, 
              size_factors=True, normalize_input=True, logtrans_input=True):
    """
    Normalizes input data and retains only most variable genes 
    (indicated by highly_genes parameter)

    Args:
        adata ([type]): [description]
        copy (bool, optional): [description]. Defaults to True.
        highly_genes ([type], optional): [description]. Defaults to None.
        filter_min_counts (bool, optional): [description]. Defaults to True.
        size_factors (bool, optional): [description]. Defaults to True.
        normalize_input (bool, optional): [description]. Defaults to True.
        logtrans_input (bool, optional): [description]. Defaults to True.

    Raises:
        NotImplementedError: [description]

    Returns:
        [type]: [description]
    """
    if isinstance(adata, sc.AnnData):
        if copy:
            adata = adata.copy()
    elif isinstance(adata, str):
        adata = sc.read(adata)
    else:
        raise NotImplementedError
    norm_error = 'Make sure that the dataset (adata.X) contains unnormalized count data.'
    assert 'n_count' not in adata.obs, norm_error
    if adata.X.size < 50e6: # check if adata.X is integer only if array is small
        if sp.sparse.issparse(adata.X):
            assert (adata.X.astype(int) != adata.X).nnz == 0, norm_error
        else:
            assert np.all(adata.X.astype(int) == adata.X), norm_error

    if filter_min_counts:
        sc.pp.filter_genes(adata, min_counts=1)#3
        sc.pp.filter_cells(adata, min_counts=1)
    if size_factors or normalize_input or logtrans_input:
        adata.raw = adata.copy()
    else:
        adata.raw = adata
    if size_factors:
        sc.pp.normalize_per_cell(adata)
        adata.obs['size_factors'] = adata.obs.n_counts / np.median(adata.obs.n_counts)
    else:
        adata.obs['size_factors'] = 1.0
    if logtrans_input:
        sc.pp.log1p(adata)
    if highly_genes != None:
        sc.pp.highly_variable_genes(adata, min_mean=0.0125, max_mean=3, min_disp=0.5, n_top_genes = highly_genes, subset=True)
    if normalize_input:
        sc.pp.scale(adata)
    return adata

def preprocess_data(X, nb_genes = 500, normalize_input=False):
    """
    Preprocessing phase as proposed in scanpy package.
    Keeps only nb_genes most variable genes and normalizes
    the data to 0 mean and 1 std.
    Args:
        X ([type]): [description]
        nb_genes (int, optional): [description]. Defaults to 500.
    Returns:
        [type]: [description]
    """
    X = np.ceil(X).astype(np.int)
    count_X = X
    print(X.shape, count_X.shape, f"keeping {nb_genes} genes")
    orig_X = X.copy()
    adata = sc.AnnData(X)

    adata = normalize(adata,
                      copy=True,
                      highly_genes=nb_genes,
                      size_factors=True,
                      normalize_input=normalize_input,
                      logtrans_input=True)
    X = adata.X.astype(np.float32)
    return X

In [4]:
random_state=0
random.seed( random_state )
np.random.seed(random_state)

In [5]:
path = "../"
files = glob2.glob(f'{path}real_data/*.h5')
files = [f[len(f"'{path}real_data"):-3] for f in files]
print(files)

['Quake_Smart-seq2_Trachea', 'Quake_Smart-seq2_Diaphragm', 'mouse_ES_cell', 'Quake_Smart-seq2_Lung', 'Quake_10x_Limb_Muscle', 'mouse_bladder_cell', 'Romanov', 'Quake_Smart-seq2_Limb_Muscle', 'Muraro']

In [64]:
clustering = "gmm"
results = None
method = "adapted_ratkowsky_lance"
# imp_f = np.arange(20)
for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = 3000, normalize_input=False)
    data = preprocessing.MinMaxScaler().fit_transform(data)
    n_clusters = len(np.unique(truth))

    print(f"\n##########  {name}, {data.shape}")

    # Clustering 1D
    meta_features = feature_ranking.rank_features(data,
                                              nb_bins=20,
                                              rank_threshold=98,
                                              z_file=None,
                                              metric='correlation',
                                              redundant_threshold=0.4)
    t2 = time.time()
    print(f"TIME: 1d Features : {(t2-t1)/60} min")


    t3 = time.time()
    t4 = time.time()
    print(f"TIME: 2d scores: {(t4-t3)/60} min")
    round_size = 3
    epochs = 10*round_size

    sampling = {
    "ARCHIVE2D": { 
        "ga": 0,
        "max": 0 },
    "CLOSE": { 
        "ga": 0.35,
        "max": 0.35 },
    "IMP1D": { 
        "ga": 0.35,
        "max": 0.35 },
    "RANDOM": { 
        "ga": 0.3,
        "max": 0.3},
    }

    params = ga.ga_parameters(
        n_clusters,
        data.shape[1],
        truth,
        meta_features,
        method=method,
        truth_methods=['ari'],
        archive_2d=None,#population[:data.shape[1] // 4],
        epochs=epochs,
        sampling = sampling,
        round_size=round_size,
        allow_subspace_overlap = True,
        improvement_per_mutation_report = False,
        clustering = clustering
        
    )
    solutions, archive= ga.run(data, params)
#     display(params["report"].groupby(["op", "improvement"]).count())
    solutions["dataset_name"] = name
    
    t5 = time.time()
    n_total = t5-t1
    print(f"TIME: GA: {(t5-t4)/60} min")
    print(f"TIME: Total: {(t5-t1)/60} min")
    solutions["total_time"] = round((t5-t1)/60, 1)
    solutions["t(feature_sel)"] = round((t2-t1)/60, 1)
    solutions["t(cnn)"] = round((t3-t2)/60, 1)
    solutions["t(clustering2d)"] = round((t4-t3)/60, 1)
    solutions["t(ga)"] = round((t5-t4)/60, 1)
    
    solutions["n_ga"] = archive.shape[0]
    solutions["n_cnn"] = n_total
    solutions["input_size"] = data.shape[1]
    
    
    solutions["n_non_redundant"] = meta_features[(meta_features["redundant"] ==1) ].shape[0]
    solutions["n_imp"] = meta_features[(meta_features["relevance"] !=0)].shape[0]
    solutions["n_imp4"] = meta_features[(meta_features["relevance"] ==4)].shape[0]
    solutions["n_imp3"] = meta_features[(meta_features["relevance"] ==3)].shape[0]
    
    
    if results is None: 
        results = solutions
    else:
        results = pd.concat([results, solutions], ignore_index = True)
    results.to_excel("../reports/scRNAseq_gmm.xlsx")

(1350, 23341) (1350, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Trachea, (1350, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.38 sec
Entropy computation 2.69 sec
KNN computation 7.21 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 3.68 sec
Handle redundant features 0.19 sec
Returning 376 redundant features and  45 important features
TIME: 1d Features : 0.25800102949142456 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2623, orig size 2999, nb imp : 45
adding 50 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (4). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 10%|▉         | 3/31 [00:19<03:00,  6.44s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"

adding 4 random population

 19%|█▉        | 6/31 [00:49<03:22,  8.11s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"

adding 3 random population

 29%|██▉       | 9/31 [01:19<03:07,  8.54s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"

adding 1 random population

 39%|███▊      | 12/31 [01:53<02:58,  9.41s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"

adding 7 random population

 48%|████▊     | 15/31 [02:25<02:26,  9.18s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"

adding 10 random population

 58%|█████▊    | 18/31 [02:53<01:50,  8.53s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"
5,0.17,0.42,"[1732, 2510, 2758]",0.49,"[3, 3, 1, 3, 3, 2, 1, 3, 3, 2, 2, 1, 2, 2, 2, ...",0.29,0.73,3.0,"Counter({2: 621, 3: 510, 1: 210, 0: 9})"

adding 7 random population

 68%|██████▊   | 21/31 [03:28<01:34,  9.49s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"
5,0.17,0.42,"[1732, 2510, 2758]",0.49,"[3, 3, 1, 3, 3, 2, 1, 3, 3, 2, 2, 1, 2, 2, 2, ...",0.29,0.73,3.0,"Counter({2: 621, 3: 510, 1: 210, 0: 9})"
6,0.18,0.00,"[15, 28, 33, 143, 548, 965, 1284, 2170, 2449, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.98,11.0,"Counter({0: 1334, 3: 7, 1: 5, 2: 4})"

adding 4 random population

 77%|███████▋  | 24/31 [04:56<02:02, 17.52s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"
5,0.17,0.42,"[1732, 2510, 2758]",0.49,"[3, 3, 1, 3, 3, 2, 1, 3, 3, 2, 2, 1, 2, 2, 2, ...",0.29,0.73,3.0,"Counter({2: 621, 3: 510, 1: 210, 0: 9})"
6,0.18,0.00,"[15, 28, 33, 143, 548, 965, 1284, 2170, 2449, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.98,11.0,"Counter({0: 1334, 3: 7, 1: 5, 2: 4})"
7,0.17,0.01,"[85, 1356, 2458]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.95,3.0,"Counter({0: 1234, 1: 100, 2: 11, 3: 5})"

adding 9 random population

 87%|████████▋ | 27/31 [05:25<00:45, 11.49s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"
5,0.17,0.42,"[1732, 2510, 2758]",0.49,"[3, 3, 1, 3, 3, 2, 1, 3, 3, 2, 2, 1, 2, 2, 2, ...",0.29,0.73,3.0,"Counter({2: 621, 3: 510, 1: 210, 0: 9})"
6,0.18,0.00,"[15, 28, 33, 143, 548, 965, 1284, 2170, 2449, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.98,11.0,"Counter({0: 1334, 3: 7, 1: 5, 2: 4})"
7,0.17,0.01,"[85, 1356, 2458]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.95,3.0,"Counter({0: 1234, 1: 100, 2: 11, 3: 5})"
8,0.17,-0.04,"[817, 2455, 2737]",0.14,"[0, 1, 0, 1, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, ...",0.33,0.87,3.0,"Counter({0: 884, 1: 405, 3: 34, 2: 27})"

adding 22 random population

 97%|█████████▋| 30/31 [05:55<00:09,  9.54s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,0.02,"[159, 1227, 2655]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1323, 2: 12, 1: 8, 3: 7})"
1,0.17,0.05,"[36, 1023]",0.05,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,2.0,"Counter({0: 1228, 1: 117, 3: 5})"
2,0.18,0.03,"[863, 2776]",0.11,"[2, 2, 2, 2, 0, 0, 2, 2, 3, 0, 2, 2, 2, 3, 2, ...",0.24,0.75,2.0,"Counter({2: 720, 0: 552, 3: 78})"
3,0.17,-0.05,"[312, 988, 2175]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, ...",0.29,0.93,3.0,"Counter({0: 1127, 1: 196, 2: 23, 3: 4})"
4,0.18,0.02,"[350, 848]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, ...",0.17,0.96,2.0,"Counter({0: 1277, 3: 51, 2: 22})"
5,0.17,0.42,"[1732, 2510, 2758]",0.49,"[3, 3, 1, 3, 3, 2, 1, 3, 3, 2, 2, 1, 2, 2, 2, ...",0.29,0.73,3.0,"Counter({2: 621, 3: 510, 1: 210, 0: 9})"
6,0.18,0.00,"[15, 28, 33, 143, 548, 965, 1284, 2170, 2449, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.98,11.0,"Counter({0: 1334, 3: 7, 1: 5, 2: 4})"
7,0.17,0.01,"[85, 1356, 2458]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.95,3.0,"Counter({0: 1234, 1: 100, 2: 11, 3: 5})"
8,0.17,-0.04,"[817, 2455, 2737]",0.14,"[0, 1, 0, 1, 0, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, ...",0.33,0.87,3.0,"Counter({0: 884, 1: 405, 3: 34, 2: 27})"
9,0.18,0.25,"[468, 1225, 2246]",0.30,"[0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, ...",0.29,0.95,3.0,"Counter({0: 1181, 1: 146, 2: 19, 3: 4})"

adding 2 random population

100%|██████████| 31/31 [06:14<00:00, 12.07s/it]

TIME: GA: 6.233640551567078 min
TIME: Total: 6.4916419585545855 min
(870, 23341) (870, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Diaphragm, (870, 2999)
*** Computing 1D feature ranking ...
Dispersion tests took 0.17 sec

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Entropy computation 1.95 sec
KNN computation 4.89 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 2.36 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.23 sec
Returning 284 redundant features and  53 important features
TIME: 1d Features : 0.17925703128178913 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2715, orig size 2999, nb imp : 53
adding 50 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 10%|▉         | 3/31 [00:16<02:39,  5.68s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"

adding 7 random population

 19%|█▉        | 6/31 [00:42<02:58,  7.16s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"

adding 2 random population

 29%|██▉       | 9/31 [01:11<03:00,  8.21s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"

adding 2 random population

 39%|███▊      | 12/31 [01:43<02:50,  8.98s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"

adding 12 random population

 48%|████▊     | 15/31 [02:16<02:27,  9.22s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"

adding 6 random population

 58%|█████▊    | 18/31 [02:49<02:02,  9.41s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"
5,0.14,0.04,"[133, 496, 1830, 2920]",0.19,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, ...",0.34,0.85,4.0,"Counter({1: 592, 2: 243, 3: 15, 0: 13, 4: 7})"

adding 3 random population

 68%|██████▊   | 21/31 [03:22<01:34,  9.47s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"
5,0.14,0.04,"[133, 496, 1830, 2920]",0.19,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, ...",0.34,0.85,4.0,"Counter({1: 592, 2: 243, 3: 15, 0: 13, 4: 7})"
6,0.16,0.05,"[371, 1004, 1415]",0.08,"[0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 3, 1, ...",0.26,0.72,3.0,"Counter({1: 401, 0: 391, 3: 64, 4: 14})"

adding 3 random population

 77%|███████▋  | 24/31 [03:56<01:07,  9.60s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"
5,0.14,0.04,"[133, 496, 1830, 2920]",0.19,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, ...",0.34,0.85,4.0,"Counter({1: 592, 2: 243, 3: 15, 0: 13, 4: 7})"
6,0.16,0.05,"[371, 1004, 1415]",0.08,"[0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 3, 1, ...",0.26,0.72,3.0,"Counter({1: 401, 0: 391, 3: 64, 4: 14})"
7,0.13,0.04,"[113, 274, 1212, 1457, 1492]",0.05,"[0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.26,0.92,5.0,"Counter({0: 774, 1: 59, 2: 25, 4: 8, 3: 4})"

adding 7 random population

 87%|████████▋ | 27/31 [04:33<00:40, 10.25s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"
5,0.14,0.04,"[133, 496, 1830, 2920]",0.19,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, ...",0.34,0.85,4.0,"Counter({1: 592, 2: 243, 3: 15, 0: 13, 4: 7})"
6,0.16,0.05,"[371, 1004, 1415]",0.08,"[0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 3, 1, ...",0.26,0.72,3.0,"Counter({1: 401, 0: 391, 3: 64, 4: 14})"
7,0.13,0.04,"[113, 274, 1212, 1457, 1492]",0.05,"[0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.26,0.92,5.0,"Counter({0: 774, 1: 59, 2: 25, 4: 8, 3: 4})"
8,0.13,0.28,"[249, 347, 584, 1332, 2043]",0.36,"[4, 4, 4, 4, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.35,0.72,5.0,"Counter({4: 627, 2: 89, 1: 78, 3: 69, 0: 7})"

adding 16 random population

 97%|█████████▋| 30/31 [05:11<00:10, 10.43s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.04,"[545, 674, 1308]",0.14,"[1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.31,0.81,3.0,"Counter({1: 552, 4: 250, 2: 45, 3: 23})"
1,0.14,0.29,"[2639, 2675, 2907]",0.22,"[0, 4, 4, 0, 0, 0, 2, 0, 4, 0, 4, 0, 0, 0, 4, ...",0.26,0.77,3.0,"Counter({0: 572, 4: 277, 2: 17, 3: 4})"
2,0.14,0.05,"[1070, 1420, 1479]",0.06,"[0, 4, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 4, ...",0.28,0.73,3.0,"Counter({0: 544, 4: 222, 3: 98, 2: 6})"
3,0.14,0.20,"[0, 113, 1643, 2670]",0.20,"[1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, ...",0.26,0.77,4.0,"Counter({1: 428, 2: 420, 3: 10, 4: 8, 0: 4})"
4,0.13,0.02,"[118, 303, 752, 2802]",0.07,"[0, 0, 0, 3, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.25,0.84,4.0,"Counter({0: 682, 2: 128, 1: 44, 3: 11, 4: 5})"
5,0.14,0.04,"[133, 496, 1830, 2920]",0.19,"[2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, ...",0.34,0.85,4.0,"Counter({1: 592, 2: 243, 3: 15, 0: 13, 4: 7})"
6,0.16,0.05,"[371, 1004, 1415]",0.08,"[0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 3, 1, ...",0.26,0.72,3.0,"Counter({1: 401, 0: 391, 3: 64, 4: 14})"
7,0.13,0.04,"[113, 274, 1212, 1457, 1492]",0.05,"[0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.26,0.92,5.0,"Counter({0: 774, 1: 59, 2: 25, 4: 8, 3: 4})"
8,0.13,0.28,"[249, 347, 584, 1332, 2043]",0.36,"[4, 4, 4, 4, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.35,0.72,5.0,"Counter({4: 627, 2: 89, 1: 78, 3: 69, 0: 7})"
9,0.15,0.54,"[755, 830, 1561]",0.45,"[1, 1, 1, 1, 1, 4, 4, 4, 4, 4, 4, 4, 1, 4, 4, ...",0.31,0.77,3.0,"Counter({4: 397, 1: 370, 2: 91, 3: 12})"

adding 6 random population

100%|██████████| 31/31 [05:31<00:00, 10.68s/it]

TIME: GA: 5.5173253575960794 min
TIME: Total: 5.696582881609599 min
(2717, 24175) (2717, 24175) keeping 3000 genes

##########  mouse_ES_cell, (2717, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.27 sec
Entropy computation 5.71 sec
KNN computation 15.37 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.32 sec
Handle redundant features 0.07 sec
Returning 12 redundant features and  11 important features
TIME: 1d Features : 0.552263883749644 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2987, orig size 2999, nb imp : 11
adding 50 random population

 10%|▉         | 3/31 [00:58<09:01, 19.35s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"

adding 3 random population

 19%|█▉        | 6/31 [02:57<12:09, 29.19s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"

adding 7 random population

 29%|██▉       | 9/31 [04:33<10:10, 27.76s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"

adding 2 random population

 39%|███▊      | 12/31 [06:20<09:09, 28.93s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"

adding 6 random population

 48%|████▊     | 15/31 [08:10<07:56, 29.81s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"

adding 1 random population

 58%|█████▊    | 18/31 [09:58<06:28, 29.85s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"
5,0.13,0.07,"[38, 2353, 2691]",0.12,"[1, 3, 1, 3, 0, 3, 0, 0, 3, 1, 0, 1, 0, 1, 3, ...",0.12,0.64,3.0,"Counter({1: 1343, 0: 711, 3: 548, 2: 115})"

adding 4 random population

 68%|██████▊   | 21/31 [11:46<04:56, 29.69s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"
5,0.13,0.07,"[38, 2353, 2691]",0.12,"[1, 3, 1, 3, 0, 3, 0, 0, 3, 1, 0, 1, 0, 1, 3, ...",0.12,0.64,3.0,"Counter({1: 1343, 0: 711, 3: 548, 2: 115})"
6,0.14,0.10,"[5, 449, 1101]",0.15,"[2, 2, 0, 1, 1, 1, 2, 1, 2, 0, 2, 0, 2, 0, 2, ...",0.12,0.68,3.0,"Counter({0: 1454, 1: 766, 2: 483, 3: 14})"

adding 3 random population

 77%|███████▋  | 24/31 [13:31<03:24, 29.28s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"
5,0.13,0.07,"[38, 2353, 2691]",0.12,"[1, 3, 1, 3, 0, 3, 0, 0, 3, 1, 0, 1, 0, 1, 3, ...",0.12,0.64,3.0,"Counter({1: 1343, 0: 711, 3: 548, 2: 115})"
6,0.14,0.10,"[5, 449, 1101]",0.15,"[2, 2, 0, 1, 1, 1, 2, 1, 2, 0, 2, 0, 2, 0, 2, ...",0.12,0.68,3.0,"Counter({0: 1454, 1: 766, 2: 483, 3: 14})"
7,0.15,0.03,"[94, 1250, 1251]",0.13,"[3, 3, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 3, 3, 0, ...",0.18,0.77,3.0,"Counter({1: 1725, 3: 453, 0: 429, 2: 110})"

adding 1 random population

 87%|████████▋ | 27/31 [15:15<01:54, 28.74s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"
5,0.13,0.07,"[38, 2353, 2691]",0.12,"[1, 3, 1, 3, 0, 3, 0, 0, 3, 1, 0, 1, 0, 1, 3, ...",0.12,0.64,3.0,"Counter({1: 1343, 0: 711, 3: 548, 2: 115})"
6,0.14,0.10,"[5, 449, 1101]",0.15,"[2, 2, 0, 1, 1, 1, 2, 1, 2, 0, 2, 0, 2, 0, 2, ...",0.12,0.68,3.0,"Counter({0: 1454, 1: 766, 2: 483, 3: 14})"
7,0.15,0.03,"[94, 1250, 1251]",0.13,"[3, 3, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 3, 3, 0, ...",0.18,0.77,3.0,"Counter({1: 1725, 3: 453, 0: 429, 2: 110})"
8,0.14,0.00,"[670, 672, 1694, 2103]",0.05,"[1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, ...",0.15,0.79,4.0,"Counter({1: 1898, 0: 674, 2: 121, 3: 24})"

adding 2 random population

 97%|█████████▋| 30/31 [17:04<00:29, 29.41s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.16,"[1047, 1596, 1772, 1773]",0.21,"[1, 3, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 1, 2, 2, ...",0.16,0.37,4.0,"Counter({1: 1308, 0: 825, 2: 495, 3: 89})"
1,0.15,0.16,"[1631, 2337]",0.24,"[3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.12,0.48,2.0,"Counter({3: 2080, 1: 544, 2: 93})"
2,0.16,0.03,"[333, 1033]",0.04,"[3, 3, 3, 3, 3, 3, 0, 1, 3, 0, 3, 3, 0, 0, 3, ...",0.12,0.68,2.0,"Counter({0: 1523, 3: 1096, 1: 98})"
3,0.16,0.32,"[1565, 1987]",0.35,"[3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 2, 3, 3, 3, 3, ...",0.15,0.59,2.0,"Counter({3: 1333, 1: 961, 2: 423})"
4,0.14,0.06,"[1822, 1870]",0.07,"[2, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 3, 2, 2, 3, ...",0.13,0.53,2.0,"Counter({1: 1058, 2: 960, 3: 699})"
5,0.13,0.07,"[38, 2353, 2691]",0.12,"[1, 3, 1, 3, 0, 3, 0, 0, 3, 1, 0, 1, 0, 1, 3, ...",0.12,0.64,3.0,"Counter({1: 1343, 0: 711, 3: 548, 2: 115})"
6,0.14,0.10,"[5, 449, 1101]",0.15,"[2, 2, 0, 1, 1, 1, 2, 1, 2, 0, 2, 0, 2, 0, 2, ...",0.12,0.68,3.0,"Counter({0: 1454, 1: 766, 2: 483, 3: 14})"
7,0.15,0.03,"[94, 1250, 1251]",0.13,"[3, 3, 3, 3, 1, 3, 1, 3, 1, 1, 1, 1, 3, 3, 0, ...",0.18,0.77,3.0,"Counter({1: 1725, 3: 453, 0: 429, 2: 110})"
8,0.14,0.00,"[670, 672, 1694, 2103]",0.05,"[1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, ...",0.15,0.79,4.0,"Counter({1: 1898, 0: 674, 2: 121, 3: 24})"
9,0.14,-0.02,"[1588, 1932, 2349]",0.05,"[1, 2, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",0.11,0.93,3.0,"Counter({0: 2358, 1: 199, 2: 80, 3: 80})"

adding 11 random population

100%|██████████| 31/31 [18:17<00:00, 35.39s/it]

TIME: GA: 18.28682190577189 min
TIME: Total: 18.839086178938548 min
(1676, 23341) (1676, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Lung, (1676, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.48 sec
Entropy computation 3.36 sec
KNN computation 8.73 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 4.36 sec
Handle redundant features 0.15 sec
Returning 193 redundant features and  57 important features
TIME: 1d Features : 0.3304565985997518 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2806, orig size 2999, nb imp : 57
adding 50 random population

 10%|▉         | 3/31 [00:40<06:50, 14.66s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.3,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."

adding 6 random population

 19%|█▉        | 6/31 [03:26<14:57, 35.91s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."

adding 2 random population

 29%|██▉       | 9/31 [06:56<17:33, 47.88s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."

adding 4 random population

 39%|███▊      | 12/31 [09:54<15:01, 47.46s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."

adding 13 random population

 48%|████▊     | 15/31 [12:45<12:21, 46.34s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."

adding 10 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (11). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (9) found smaller than n_clusters (11). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 58%|█████▊    | 18/31 [15:43<10:11, 47.02s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."
5,0.06,0.25,"[226, 250, 295, 384, 471, 893, 1191, 2018, 268...",0.21,"[3, 3, 3, 7, 3, 3, 1, 3, 4, 3, 4, 3, 4, 4, 3, ...",0.23,0.60,10.0,"Counter({4: 754, 3: 567, 1: 237, 9: 45, 7: 24,..."

adding 10 random population

 68%|██████▊   | 21/31 [18:49<08:07, 48.72s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."
5,0.06,0.25,"[226, 250, 295, 384, 471, 893, 1191, 2018, 268...",0.21,"[3, 3, 3, 7, 3, 3, 1, 3, 4, 3, 4, 3, 4, 4, 3, ...",0.23,0.60,10.0,"Counter({4: 754, 3: 567, 1: 237, 9: 45, 7: 24,..."
6,0.06,0.12,"[90, 309, 693, 1426, 1590, 2407, 2975]",0.21,"[9, 3, 9, 0, 10, 7, 10, 9, 6, 9, 0, 6, 0, 0, 6...",0.20,0.49,7.0,"Counter({0: 522, 9: 387, 6: 342, 10: 232, 4: 6..."

adding 7 random population

 77%|███████▋  | 24/31 [21:29<05:18, 45.51s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."
5,0.06,0.25,"[226, 250, 295, 384, 471, 893, 1191, 2018, 268...",0.21,"[3, 3, 3, 7, 3, 3, 1, 3, 4, 3, 4, 3, 4, 4, 3, ...",0.23,0.60,10.0,"Counter({4: 754, 3: 567, 1: 237, 9: 45, 7: 24,..."
6,0.06,0.12,"[90, 309, 693, 1426, 1590, 2407, 2975]",0.21,"[9, 3, 9, 0, 10, 7, 10, 9, 6, 9, 0, 6, 0, 0, 6...",0.20,0.49,7.0,"Counter({0: 522, 9: 387, 6: 342, 10: 232, 4: 6..."
7,0.06,0.21,"[34, 136, 211, 228, 303, 323, 587, 815, 1094, ...",0.35,"[8, 5, 8, 8, 8, 1, 0, 8, 8, 8, 8, 5, 8, 8, 8, ...",0.29,0.70,12.0,"Counter({8: 925, 1: 304, 0: 225, 4: 50, 6: 36,..."

adding 27 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (9) found smaller than n_clusters (11). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 87%|████████▋ | 27/31 [25:54<03:55, 58.94s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."
5,0.06,0.25,"[226, 250, 295, 384, 471, 893, 1191, 2018, 268...",0.21,"[3, 3, 3, 7, 3, 3, 1, 3, 4, 3, 4, 3, 4, 4, 3, ...",0.23,0.60,10.0,"Counter({4: 754, 3: 567, 1: 237, 9: 45, 7: 24,..."
6,0.06,0.12,"[90, 309, 693, 1426, 1590, 2407, 2975]",0.21,"[9, 3, 9, 0, 10, 7, 10, 9, 6, 9, 0, 6, 0, 0, 6...",0.20,0.49,7.0,"Counter({0: 522, 9: 387, 6: 342, 10: 232, 4: 6..."
7,0.06,0.21,"[34, 136, 211, 228, 303, 323, 587, 815, 1094, ...",0.35,"[8, 5, 8, 8, 8, 1, 0, 8, 8, 8, 8, 5, 8, 8, 8, ...",0.29,0.70,12.0,"Counter({8: 925, 1: 304, 0: 225, 4: 50, 6: 36,..."
8,0.06,0.20,"[11, 258, 382, 528, 549, 606, 764, 1797, 2221]",0.27,"[9, 2, 9, 0, 9, 2, 0, 9, 7, 9, 2, 9, 2, 0, 10,...",0.23,0.52,9.0,"Counter({0: 535, 2: 314, 1: 307, 9: 288, 5: 12..."

adding 7 random population

 97%|█████████▋| 30/31 [28:56<00:51, 51.95s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.22,"[285, 328, 371, 825, 856, 941, 1798, 2091]",0.23,"[1, 7, 0, 0, 0, 7, 0, 1, 0, 0, 0, 0, 0, 0, 7, ...",0.30,0.74,8.0,"Counter({0: 1180, 1: 137, 2: 136, 7: 59, 4: 45..."
1,0.07,0.11,"[23, 85, 459, 530, 534, 552, 882, 1005, 1123, ...",0.24,"[0, 4, 9, 4, 0, 2, 1, 0, 9, 9, 4, 9, 4, 4, 4, ...",0.31,0.66,12.0,"Counter({9: 860, 4: 446, 0: 239, 8: 42, 5: 17,..."
2,0.06,0.20,"[201, 392, 440, 745, 1298, 1493, 1562, 2021, 2...",0.27,"[9, 2, 9, 5, 9, 2, 9, 9, 9, 5, 9, 9, 9, 9, 2, ...",0.31,0.76,9.0,"Counter({9: 1203, 5: 193, 2: 93, 3: 59, 0: 49,..."
3,0.06,0.06,"[192, 202, 254, 468, 544, 686, 751, 2264]",0.19,"[0, 3, 9, 5, 3, 1, 2, 0, 2, 3, 6, 3, 4, 2, 3, ...",0.19,0.37,8.0,"Counter({0: 499, 3: 379, 2: 336, 1: 193, 6: 89..."
4,0.06,0.16,"[22, 44, 592, 1427, 1428, 1671, 1676, 1786]",0.29,"[0, 1, 0, 1, 0, 0, 0, 0, 1, 3, 1, 0, 1, 0, 0, ...",0.34,0.69,8.0,"Counter({0: 1011, 1: 489, 3: 64, 4: 33, 7: 22,..."
5,0.06,0.25,"[226, 250, 295, 384, 471, 893, 1191, 2018, 268...",0.21,"[3, 3, 3, 7, 3, 3, 1, 3, 4, 3, 4, 3, 4, 4, 3, ...",0.23,0.60,10.0,"Counter({4: 754, 3: 567, 1: 237, 9: 45, 7: 24,..."
6,0.06,0.12,"[90, 309, 693, 1426, 1590, 2407, 2975]",0.21,"[9, 3, 9, 0, 10, 7, 10, 9, 6, 9, 0, 6, 0, 0, 6...",0.20,0.49,7.0,"Counter({0: 522, 9: 387, 6: 342, 10: 232, 4: 6..."
7,0.06,0.21,"[34, 136, 211, 228, 303, 323, 587, 815, 1094, ...",0.35,"[8, 5, 8, 8, 8, 1, 0, 8, 8, 8, 8, 5, 8, 8, 8, ...",0.29,0.70,12.0,"Counter({8: 925, 1: 304, 0: 225, 4: 50, 6: 36,..."
8,0.06,0.20,"[11, 258, 382, 528, 549, 606, 764, 1797, 2221]",0.27,"[9, 2, 9, 0, 9, 2, 0, 9, 7, 9, 2, 9, 2, 0, 10,...",0.23,0.52,9.0,"Counter({0: 535, 2: 314, 1: 307, 9: 288, 5: 12..."
9,0.06,0.09,"[612, 755, 1235, 1578, 1662, 2548, 2648, 2663,...",0.28,"[0, 9, 0, 8, 0, 0, 4, 3, 2, 8, 8, 0, 9, 9, 0, ...",0.28,0.54,9.0,"Counter({0: 748, 9: 284, 3: 221, 1: 185, 8: 10..."

adding 13 random population

100%|██████████| 31/31 [31:17<00:00, 60.56s/it]

TIME: GA: 31.287733554840088 min
TIME: Total: 31.61819051106771 min
(3909, 23341) (3909, 23341) keeping 3000 genes

##########  Quake_10x_Limb_Muscle, (3909, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 2.04 sec
Entropy computation 7.26 sec
KNN computation 20.56 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 10.29 sec
Handle redundant features 0.12 sec
Returning 104 redundant features and  53 important features
TIME: 1d Features : 0.7225812633832296 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2896, orig size 3000, nb imp : 53
adding 50 random population

 10%|▉         | 3/31 [01:10<10:45, 23.05s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.1,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.5,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"

adding 3 random population

 19%|█▉        | 6/31 [03:30<14:38, 35.15s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."

adding 1 random population

 29%|██▉       | 9/31 [05:45<13:36, 37.11s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"

adding 6 random population

 39%|███▊      | 12/31 [08:01<11:55, 37.68s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"

adding 4 random population

 48%|████▊     | 15/31 [10:20<10:16, 38.55s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."

adding 10 random population

 58%|█████▊    | 18/31 [12:35<08:13, 37.96s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."
5,0.12,0.28,"[26, 129, 459, 1258, 1915]",0.26,"[2, 2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 0, ...",0.19,0.68,5.0,"Counter({0: 2045, 2: 1335, 3: 454, 4: 65, 5: 5..."

adding 1 random population

 68%|██████▊   | 21/31 [15:02<06:41, 40.16s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."
5,0.12,0.28,"[26, 129, 459, 1258, 1915]",0.26,"[2, 2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 0, ...",0.19,0.68,5.0,"Counter({0: 2045, 2: 1335, 3: 454, 4: 65, 5: 5..."
6,0.13,0.05,"[610, 877, 1000, 2817]",0.07,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.19,0.88,4.0,"Counter({0: 3081, 1: 635, 3: 85, 2: 76, 4: 32})"

adding 3 random population

 77%|███████▋  | 24/31 [17:19<04:34, 39.20s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."
5,0.12,0.28,"[26, 129, 459, 1258, 1915]",0.26,"[2, 2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 0, ...",0.19,0.68,5.0,"Counter({0: 2045, 2: 1335, 3: 454, 4: 65, 5: 5..."
6,0.13,0.05,"[610, 877, 1000, 2817]",0.07,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.19,0.88,4.0,"Counter({0: 3081, 1: 635, 3: 85, 2: 76, 4: 32})"
7,0.13,0.03,"[97, 1450, 1826, 2479]",0.09,"[0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 4, 0, 0, 0, 0, ...",0.21,0.86,4.0,"Counter({0: 3081, 1: 602, 4: 106, 2: 90, 3: 30})"

adding 2 random population

 87%|████████▋ | 27/31 [19:37<02:36, 39.12s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."
5,0.12,0.28,"[26, 129, 459, 1258, 1915]",0.26,"[2, 2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 0, ...",0.19,0.68,5.0,"Counter({0: 2045, 2: 1335, 3: 454, 4: 65, 5: 5..."
6,0.13,0.05,"[610, 877, 1000, 2817]",0.07,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.19,0.88,4.0,"Counter({0: 3081, 1: 635, 3: 85, 2: 76, 4: 32})"
7,0.13,0.03,"[97, 1450, 1826, 2479]",0.09,"[0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 4, 0, 0, 0, 0, ...",0.21,0.86,4.0,"Counter({0: 3081, 1: 602, 4: 106, 2: 90, 3: 30})"
8,0.12,0.06,"[169, 530, 1571, 2882, 2883]",0.11,"[0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 2, ...",0.20,0.91,5.0,"Counter({0: 3299, 1: 340, 2: 216, 3: 37, 4: 17})"

adding 15 random population

 97%|█████████▋| 30/31 [21:55<00:38, 38.91s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.12,0.10,"[222, 1028, 1704, 2390]",0.19,"[3, 3, 2, 0, 0, 0, 3, 3, 3, 0, 0, 0, 4, 0, 0, ...",0.16,0.50,4.0,"Counter({0: 1761, 3: 1447, 2: 554, 4: 82, 5: 65})"
1,0.13,-0.01,"[442, 1554, 2102, 2890]",0.07,"[5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, ...",0.21,0.84,4.0,"Counter({1: 2911, 5: 617, 3: 177, 0: 102, 4: 1..."
2,0.12,0.16,"[174, 599, 725, 963]",0.23,"[0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.79,4.0,"Counter({0: 2650, 2: 1173, 5: 56, 4: 24, 3: 6})"
3,0.13,0.10,"[0, 48, 2437, 2630]",0.22,"[2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, ...",0.20,0.81,4.0,"Counter({0: 2807, 2: 909, 3: 144, 5: 44, 4: 5})"
4,0.12,0.18,"[657, 1924, 2163, 2461]",0.26,"[5, 5, 0, 0, 3, 0, 0, 0, 2, 5, 0, 0, 5, 0, 0, ...",0.21,0.75,4.0,"Counter({0: 2430, 5: 1131, 2: 229, 3: 109, 4: ..."
5,0.12,0.28,"[26, 129, 459, 1258, 1915]",0.26,"[2, 2, 0, 0, 0, 0, 3, 0, 2, 0, 2, 0, 2, 0, 0, ...",0.19,0.68,5.0,"Counter({0: 2045, 2: 1335, 3: 454, 4: 65, 5: 5..."
6,0.13,0.05,"[610, 877, 1000, 2817]",0.07,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.19,0.88,4.0,"Counter({0: 3081, 1: 635, 3: 85, 2: 76, 4: 32})"
7,0.13,0.03,"[97, 1450, 1826, 2479]",0.09,"[0, 0, 0, 0, 0, 0, 4, 0, 4, 0, 4, 0, 0, 0, 0, ...",0.21,0.86,4.0,"Counter({0: 3081, 1: 602, 4: 106, 2: 90, 3: 30})"
8,0.12,0.06,"[169, 530, 1571, 2882, 2883]",0.11,"[0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 0, 0, 0, 0, 2, ...",0.20,0.91,5.0,"Counter({0: 3299, 1: 340, 2: 216, 3: 37, 4: 17})"
9,0.13,-0.01,"[1, 332, 2330]",0.07,"[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3042, 0: 414, 2: 398, 5: 50, 3: 5})"

adding 3 random population

100%|██████████| 31/31 [23:22<00:00, 45.24s/it]

TIME: GA: 23.375578498840333 min
TIME: Total: 24.098160119851432 min
(2746, 20670) (2746, 20670) keeping 3000 genes

##########  mouse_bladder_cell, (2746, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.1 sec
Entropy computation 5.17 sec
KNN computation 14.43 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 7.22 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.23 sec
Returning 221 redundant features and  58 important features
TIME: 1d Features : 0.5058949152628581 min
TIME: 2d scores: 0.0 min
*** Optimization algorithm
Non redundant features 2778, orig size 2999, nb imp : 58
adding 50 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (6) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (6) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (6) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
  3%|▎         | 1/31 [00:20<10:29, 20.99s/it]/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
  6%|▋         | 2/31 [00:42<10:24, 21.53s/it]/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (14) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 10%|▉         | 3/31 [01:06<10:29, 22.49s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.4,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."

adding 4 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 19%|█▉        | 6/31 [10:14<45:00, 108.00s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."

adding 7 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 29%|██▉       | 9/31 [16:24<36:51, 100.51s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."

adding 18 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 39%|███▊      | 12/31 [23:02<32:22, 102.23s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."

adding 17 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 48%|████▊     | 15/31 [29:48<27:42, 103.92s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."

adding 12 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 58%|█████▊    | 18/31 [36:09<21:57, 101.32s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."
5,0.04,0.22,"[208, 279, 512, 607, 732, 780, 1270, 1720, 172...",0.30,"[9, 1, 7, 15, 5, 6, 1, 2, 1, 1, 9, 9, 2, 1, 11...",0.20,0.54,12.0,"Counter({1: 1090, 9: 639, 2: 536, 11: 196, 3: ..."

adding 5 random population

 68%|██████▊   | 21/31 [43:18<17:47, 106.72s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."
5,0.04,0.22,"[208, 279, 512, 607, 732, 780, 1270, 1720, 172...",0.30,"[9, 1, 7, 15, 5, 6, 1, 2, 1, 1, 9, 9, 2, 1, 11...",0.20,0.54,12.0,"Counter({1: 1090, 9: 639, 2: 536, 11: 196, 3: ..."
6,0.04,0.21,"[3, 21, 642, 643, 912, 1535, 1740, 2252, 2587]",0.31,"[0, 8, 6, 6, 2, 6, 6, 9, 0, 0, 12, 1, 2, 7, 9,...",0.14,0.28,9.0,"Counter({9: 507, 7: 446, 1: 445, 6: 306, 0: 28..."

adding 18 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 77%|███████▋  | 24/31 [49:04<11:10, 95.77s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."
5,0.04,0.22,"[208, 279, 512, 607, 732, 780, 1270, 1720, 172...",0.30,"[9, 1, 7, 15, 5, 6, 1, 2, 1, 1, 9, 9, 2, 1, 11...",0.20,0.54,12.0,"Counter({1: 1090, 9: 639, 2: 536, 11: 196, 3: ..."
6,0.04,0.21,"[3, 21, 642, 643, 912, 1535, 1740, 2252, 2587]",0.31,"[0, 8, 6, 6, 2, 6, 6, 9, 0, 0, 12, 1, 2, 7, 9,...",0.14,0.28,9.0,"Counter({9: 507, 7: 446, 1: 445, 6: 306, 0: 28..."
7,0.04,0.28,"[178, 548, 584, 587, 602, 701, 761, 1467, 1960...",0.41,"[7, 7, 12, 4, 1, 12, 12, 1, 7, 1, 12, 7, 1, 12...",0.27,0.28,12.0,"Counter({7: 953, 1: 662, 14: 337, 12: 317, 15:..."

adding 13 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 87%|████████▋ | 27/31 [56:33<07:12, 108.05s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."
5,0.04,0.22,"[208, 279, 512, 607, 732, 780, 1270, 1720, 172...",0.30,"[9, 1, 7, 15, 5, 6, 1, 2, 1, 1, 9, 9, 2, 1, 11...",0.20,0.54,12.0,"Counter({1: 1090, 9: 639, 2: 536, 11: 196, 3: ..."
6,0.04,0.21,"[3, 21, 642, 643, 912, 1535, 1740, 2252, 2587]",0.31,"[0, 8, 6, 6, 2, 6, 6, 9, 0, 0, 12, 1, 2, 7, 9,...",0.14,0.28,9.0,"Counter({9: 507, 7: 446, 1: 445, 6: 306, 0: 28..."
7,0.04,0.28,"[178, 548, 584, 587, 602, 701, 761, 1467, 1960...",0.41,"[7, 7, 12, 4, 1, 12, 12, 1, 7, 1, 12, 7, 1, 12...",0.27,0.28,12.0,"Counter({7: 953, 1: 662, 14: 337, 12: 317, 15:..."
8,0.04,0.12,"[175, 478, 607, 1130, 1589, 1731, 1754, 1852, ...",0.22,"[2, 1, 2, 9, 1, 9, 1, 1, 11, 1, 11, 2, 1, 11, ...",0.22,0.56,12.0,"Counter({1: 1193, 11: 533, 2: 457, 4: 177, 13:..."

adding 15 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 97%|█████████▋| 30/31 [1:02:54<01:40, 100.86s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.26,"[52, 68, 317, 845, 901, 954, 1258, 1464, 1466,...",0.40,"[13, 14, 2, 2, 1, 2, 13, 1, 13, 6, 14, 14, 1, ...",0.21,0.01,13.0,"Counter({14: 611, 1: 483, 13: 391, 10: 302, 2:..."
1,0.04,0.17,"[258, 297, 362, 573, 603, 642, 657, 1061, 2407...",0.25,"[7, 2, 2, 2, 8, 2, 2, 4, 10, 2, 2, 8, 8, 6, 4,...",0.16,0.47,11.0,"Counter({4: 642, 8: 584, 2: 490, 6: 448, 0: 18..."
2,0.05,0.25,"[137, 312, 357, 535, 558, 983, 1424, 1466, 182...",0.39,"[15, 4, 0, 2, 9, 4, 0, 9, 15, 4, 0, 15, 9, 4, ...",0.24,0.47,11.0,"Counter({9: 855, 4: 640, 15: 499, 0: 388, 10: ..."
3,0.04,0.07,"[1, 121, 151, 1770, 1796, 1942, 1968, 2210, 26...",0.18,"[8, 1, 7, 11, 2, 12, 2, 7, 1, 2, 1, 14, 1, 15,...",0.14,0.42,10.0,"Counter({2: 828, 1: 623, 7: 308, 8: 282, 5: 22..."
4,0.04,0.13,"[166, 318, 333, 350, 425, 429, 1970, 2482, 262...",0.25,"[15, 15, 2, 2, 11, 2, 15, 3, 12, 10, 14, 10, 3...",0.17,0.44,12.0,"Counter({2: 724, 15: 638, 3: 599, 11: 212, 14:..."
5,0.04,0.22,"[208, 279, 512, 607, 732, 780, 1270, 1720, 172...",0.30,"[9, 1, 7, 15, 5, 6, 1, 2, 1, 1, 9, 9, 2, 1, 11...",0.20,0.54,12.0,"Counter({1: 1090, 9: 639, 2: 536, 11: 196, 3: ..."
6,0.04,0.21,"[3, 21, 642, 643, 912, 1535, 1740, 2252, 2587]",0.31,"[0, 8, 6, 6, 2, 6, 6, 9, 0, 0, 12, 1, 2, 7, 9,...",0.14,0.28,9.0,"Counter({9: 507, 7: 446, 1: 445, 6: 306, 0: 28..."
7,0.04,0.28,"[178, 548, 584, 587, 602, 701, 761, 1467, 1960...",0.41,"[7, 7, 12, 4, 1, 12, 12, 1, 7, 1, 12, 7, 1, 12...",0.27,0.28,12.0,"Counter({7: 953, 1: 662, 14: 337, 12: 317, 15:..."
8,0.04,0.12,"[175, 478, 607, 1130, 1589, 1731, 1754, 1852, ...",0.22,"[2, 1, 2, 9, 1, 9, 1, 1, 11, 1, 11, 2, 1, 11, ...",0.22,0.56,12.0,"Counter({1: 1193, 11: 533, 2: 457, 4: 177, 13:..."
9,0.04,0.17,"[33, 66, 135, 489, 558, 559, 560, 602, 948, 16...",0.31,"[10, 1, 10, 7, 7, 1, 10, 1, 10, 1, 10, 13, 1, ...",0.22,0.56,11.0,"Counter({1: 1244, 10: 865, 13: 188, 7: 112, 6:..."

adding 7 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
100%|██████████| 31/31 [1:07:43<00:00, 131.09s/it]

TIME: GA: 67.7320928255717 min
TIME: Total: 68.23798812627793 min
(2881, 21143) (2881, 21143) keeping 3000 genes

##########  Romanov, (2881, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.26 sec
Entropy computation 5.39 sec
KNN computation 15.04 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.51 sec
Handle redundant features 0.12 sec
Returning 169 redundant features and  48 important features
TIME: 1d Features : 0.533474326133728 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2830, orig size 2999, nb imp : 48
adding 50 random population

 10%|▉         | 3/31 [01:11<10:56, 23.46s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.1,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."

adding 3 random population

 19%|█▉        | 6/31 [03:30<14:32, 34.88s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.1,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."

adding 5 random population

 29%|██▉       | 9/31 [05:48<13:41, 37.33s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.1,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.1,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."

adding 5 random population

 39%|███▊      | 12/31 [08:01<11:48, 37.31s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.1,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.1,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.1,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."

adding 3 random population

 48%|████▊     | 15/31 [10:18<10:01, 37.61s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."

adding 16 random population

 58%|█████▊    | 18/31 [12:37<08:15, 38.09s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."
5,0.11,0.14,"[65, 2078, 2211]",0.18,"[3, 3, 2, 2, 3, 3, 3, 3, 5, 3, 3, 2, 4, 3, 3, ...",0.13,0.48,3.0,"Counter({2: 1074, 3: 1055, 4: 478, 5: 201, 6: ..."

adding 2 random population

 68%|██████▊   | 21/31 [14:49<06:12, 37.21s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."
5,0.11,0.14,"[65, 2078, 2211]",0.18,"[3, 3, 2, 2, 3, 3, 3, 3, 5, 3, 3, 2, 4, 3, 3, ...",0.13,0.48,3.0,"Counter({2: 1074, 3: 1055, 4: 478, 5: 201, 6: ..."
6,0.09,0.09,"[246, 628, 1071, 1277, 1873, 2683]",0.12,"[1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, ...",0.19,0.73,6.0,"Counter({1: 1948, 3: 694, 5: 132, 2: 48, 4: 35..."

adding 5 random population

 77%|███████▋  | 24/31 [17:10<04:25, 37.90s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."
5,0.11,0.14,"[65, 2078, 2211]",0.18,"[3, 3, 2, 2, 3, 3, 3, 3, 5, 3, 3, 2, 4, 3, 3, ...",0.13,0.48,3.0,"Counter({2: 1074, 3: 1055, 4: 478, 5: 201, 6: ..."
6,0.09,0.09,"[246, 628, 1071, 1277, 1873, 2683]",0.12,"[1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, ...",0.19,0.73,6.0,"Counter({1: 1948, 3: 694, 5: 132, 2: 48, 4: 35..."
7,0.10,0.13,"[65, 1875, 1899, 2204, 2583]",0.16,"[1, 1, 6, 6, 3, 2, 3, 3, 3, 3, 1, 6, 3, 3, 3, ...",0.16,0.50,5.0,"Counter({6: 1158, 1: 975, 3: 428, 2: 263, 5: 5..."

adding 4 random population

 87%|████████▋ | 27/31 [19:36<02:36, 39.17s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."
5,0.11,0.14,"[65, 2078, 2211]",0.18,"[3, 3, 2, 2, 3, 3, 3, 3, 5, 3, 3, 2, 4, 3, 3, ...",0.13,0.48,3.0,"Counter({2: 1074, 3: 1055, 4: 478, 5: 201, 6: ..."
6,0.09,0.09,"[246, 628, 1071, 1277, 1873, 2683]",0.12,"[1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, ...",0.19,0.73,6.0,"Counter({1: 1948, 3: 694, 5: 132, 2: 48, 4: 35..."
7,0.10,0.13,"[65, 1875, 1899, 2204, 2583]",0.16,"[1, 1, 6, 6, 3, 2, 3, 3, 3, 3, 1, 6, 3, 3, 3, ...",0.16,0.50,5.0,"Counter({6: 1158, 1: 975, 3: 428, 2: 263, 5: 5..."
8,0.10,0.07,"[12, 1278, 2901, 2975]",0.08,"[0, 0, 4, 0, 4, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.14,0.62,4.0,"Counter({4: 1119, 0: 958, 2: 685, 5: 59, 3: 41..."

adding 1 random population

 97%|█████████▋| 30/31 [21:46<00:37, 37.26s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.10,"[241, 534, 1128, 1745, 1970]",0.14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.18,0.79,5.0,"Counter({0: 2206, 2: 527, 3: 67, 5: 36, 6: 32,..."
1,0.10,0.15,"[180, 757, 2280, 2856]",0.20,"[5, 5, 5, 5, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 4, ...",0.17,0.62,4.0,"Counter({5: 1514, 4: 1038, 2: 255, 3: 66, 6: 4..."
2,0.10,0.08,"[1, 1581, 2151, 2295, 2748]",0.12,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...",0.17,0.71,5.0,"Counter({0: 1750, 1: 802, 2: 125, 5: 107, 3: 7..."
3,0.10,0.15,"[1190, 1280, 1322, 1369, 1603]",0.17,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.14,0.55,5.0,"Counter({1: 1279, 2: 1211, 5: 305, 4: 40, 6: 3..."
4,0.09,0.27,"[66, 533, 1013, 2156]",0.23,"[0, 2, 3, 4, 4, 0, 0, 3, 4, 2, 4, 3, 4, 2, 4, ...",0.14,0.39,4.0,"Counter({2: 962, 0: 673, 4: 646, 3: 413, 6: 16..."
5,0.11,0.14,"[65, 2078, 2211]",0.18,"[3, 3, 2, 2, 3, 3, 3, 3, 5, 3, 3, 2, 4, 3, 3, ...",0.13,0.48,3.0,"Counter({2: 1074, 3: 1055, 4: 478, 5: 201, 6: ..."
6,0.09,0.09,"[246, 628, 1071, 1277, 1873, 2683]",0.12,"[1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, ...",0.19,0.73,6.0,"Counter({1: 1948, 3: 694, 5: 132, 2: 48, 4: 35..."
7,0.10,0.13,"[65, 1875, 1899, 2204, 2583]",0.16,"[1, 1, 6, 6, 3, 2, 3, 3, 3, 3, 1, 6, 3, 3, 3, ...",0.16,0.50,5.0,"Counter({6: 1158, 1: 975, 3: 428, 2: 263, 5: 5..."
8,0.10,0.07,"[12, 1278, 2901, 2975]",0.08,"[0, 0, 4, 0, 4, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.14,0.62,4.0,"Counter({4: 1119, 0: 958, 2: 685, 5: 59, 3: 41..."
9,0.09,0.12,"[177, 662, 796, 921, 1306, 2438]",0.17,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.67,6.0,"Counter({0: 1592, 2: 1118, 4: 86, 1: 25, 6: 23..."

adding 7 random population

100%|██████████| 31/31 [23:25<00:00, 45.35s/it]

TIME: GA: 23.428521092732748 min
TIME: Total: 23.961995859940846 min
(1090, 23341) (1090, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Limb_Muscle, (1090, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.27 sec
Entropy computation 2.22 sec
KNN computation 5.66 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 2.76 sec
Handle redundant features 0.2 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Returning 214 redundant features and  54 important features
TIME: 1d Features : 0.20725142161051432 min
TIME: 2d scores: 0.0 min
*** Optimization algorithm
Non redundant features 2786, orig size 3000, nb imp : 54
adding 50 random population

 10%|▉         | 3/31 [00:21<03:20,  7.15s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.1,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."

adding 8 random population

 19%|█▉        | 6/31 [01:03<04:31, 10.85s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"

adding 2 random population

 29%|██▉       | 9/31 [01:37<03:42, 10.12s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."

adding 2 random population

 39%|███▊      | 12/31 [02:19<03:35, 11.33s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"

adding 10 random population

 48%|████▊     | 15/31 [03:01<03:11, 11.95s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."

adding 5 random population

 58%|█████▊    | 18/31 [03:41<02:30, 11.59s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."
5,0.12,0.12,"[144, 907, 1151, 2176]",0.07,"[0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.20,0.79,4.0,"Counter({0: 810, 4: 246, 2: 18, 3: 11, 5: 5})"

adding 12 random population

 68%|██████▊   | 21/31 [04:22<02:00, 12.01s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."
5,0.12,0.12,"[144, 907, 1151, 2176]",0.07,"[0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.20,0.79,4.0,"Counter({0: 810, 4: 246, 2: 18, 3: 11, 5: 5})"
6,0.12,0.03,"[494, 989, 1083, 2585, 2946]",0.05,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.18,0.96,5.0,"Counter({0: 1023, 2: 31, 1: 21, 4: 7, 5: 4, 3:..."

adding 26 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (6). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 77%|███████▋  | 24/31 [05:03<01:22, 11.82s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."
5,0.12,0.12,"[144, 907, 1151, 2176]",0.07,"[0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.20,0.79,4.0,"Counter({0: 810, 4: 246, 2: 18, 3: 11, 5: 5})"
6,0.12,0.03,"[494, 989, 1083, 2585, 2946]",0.05,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.18,0.96,5.0,"Counter({0: 1023, 2: 31, 1: 21, 4: 7, 5: 4, 3:..."
7,0.11,0.14,"[64, 831, 904, 1311, 2306]",0.13,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 3, 0, ...",0.25,0.86,5.0,"Counter({0: 898, 1: 104, 2: 45, 3: 32, 4: 7, 5..."

adding 6 random population

 87%|████████▋ | 27/31 [05:43<00:46, 11.64s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."
5,0.12,0.12,"[144, 907, 1151, 2176]",0.07,"[0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.20,0.79,4.0,"Counter({0: 810, 4: 246, 2: 18, 3: 11, 5: 5})"
6,0.12,0.03,"[494, 989, 1083, 2585, 2946]",0.05,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.18,0.96,5.0,"Counter({0: 1023, 2: 31, 1: 21, 4: 7, 5: 4, 3:..."
7,0.11,0.14,"[64, 831, 904, 1311, 2306]",0.13,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 3, 0, ...",0.25,0.86,5.0,"Counter({0: 898, 1: 104, 2: 45, 3: 32, 4: 7, 5..."
8,0.11,0.05,"[393, 848, 1460, 2225, 2231]",0.09,"[1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, ...",0.26,0.78,5.0,"Counter({0: 613, 1: 442, 2: 16, 3: 8, 4: 6, 5:..."

adding 5 random population

 97%|█████████▋| 30/31 [06:33<00:12, 12.89s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.11,0.10,"[42, 154, 1348, 2190, 2599]",0.17,"[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 4, 1, 0, 1, ...",0.28,0.77,5.0,"Counter({1: 610, 0: 427, 5: 20, 2: 15, 4: 14, ..."
1,0.12,0.02,"[427, 1787, 2127, 2516]",0.05,"[2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 5, 2, ...",0.20,0.70,4.0,"Counter({0: 588, 2: 483, 4: 7, 5: 6, 3: 6})"
2,0.11,0.03,"[120, 559, 1142, 1648, 2019]",0.06,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.95,5.0,"Counter({0: 1022, 1: 23, 2: 15, 5: 11, 3: 10, ..."
3,0.13,0.02,"[95, 100, 1472, 1875]",0.03,"[2, 3, 3, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 3, 3, ...",0.20,0.67,4.0,"Counter({3: 557, 2: 514, 4: 9, 1: 5, 0: 5})"
4,0.12,0.05,"[217, 434, 1555, 1561, 2827]",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.89,5.0,"Counter({0: 944, 1: 119, 2: 15, 3: 4, 5: 4, 4:..."
5,0.12,0.12,"[144, 907, 1151, 2176]",0.07,"[0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.20,0.79,4.0,"Counter({0: 810, 4: 246, 2: 18, 3: 11, 5: 5})"
6,0.12,0.03,"[494, 989, 1083, 2585, 2946]",0.05,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.18,0.96,5.0,"Counter({0: 1023, 2: 31, 1: 21, 4: 7, 5: 4, 3:..."
7,0.11,0.14,"[64, 831, 904, 1311, 2306]",0.13,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 3, 0, ...",0.25,0.86,5.0,"Counter({0: 898, 1: 104, 2: 45, 3: 32, 4: 7, 5..."
8,0.11,0.05,"[393, 848, 1460, 2225, 2231]",0.09,"[1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, ...",0.26,0.78,5.0,"Counter({0: 613, 1: 442, 2: 16, 3: 8, 4: 6, 5:..."
9,0.13,0.06,"[543, 788, 1165, 2003]",0.15,"[3, 3, 1, 3, 1, 1, 1, 3, 3, 1, 3, 1, 1, 3, 1, ...",0.23,0.80,4.0,"Counter({1: 573, 3: 492, 2: 12, 4: 7, 0: 6})"

adding 12 random population

100%|██████████| 31/31 [06:57<00:00, 13.46s/it]

TIME: GA: 6.955240575472514 min
TIME: Total: 7.16249235868454 min
(2122, 19046) (2122, 19046) keeping 3000 genes

##########  Muraro, (2122, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.72 sec
Entropy computation 4.09 sec
KNN computation 11.07 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 5.51 sec
Handle redundant features 0.16 sec
Returning 348 redundant features and  14 important features
TIME: 1d Features : 0.39619652430216473 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2652, orig size 3000, nb imp : 14
adding 50 random population

 10%|▉         | 3/31 [00:45<07:29, 16.07s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.2,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."

adding 12 random population

 19%|█▉        | 6/31 [02:52<12:37, 30.29s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."

adding 3 random population

 29%|██▉       | 9/31 [05:03<12:29, 34.06s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."

adding 6 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (9). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 39%|███▊      | 12/31 [07:22<11:39, 36.81s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."

adding 7 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (9). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 48%|████▊     | 15/31 [09:52<10:33, 39.62s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."

adding 5 random population

 58%|█████▊    | 18/31 [12:09<08:18, 38.36s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."
5,0.08,0.13,"[243, 623, 781, 2220, 2324, 2348, 2619, 2768, ...",0.23,"[0, 1, 1, 0, 7, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, ...",0.27,0.78,9.0,"Counter({0: 1042, 1: 799, 3: 136, 7: 107, 2: 1..."

adding 10 random population

 68%|██████▊   | 21/31 [14:56<07:03, 42.31s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."
5,0.08,0.13,"[243, 623, 781, 2220, 2324, 2348, 2619, 2768, ...",0.23,"[0, 1, 1, 0, 7, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, ...",0.27,0.78,9.0,"Counter({0: 1042, 1: 799, 3: 136, 7: 107, 2: 1..."
6,0.08,0.24,"[256, 559, 1148, 1401, 1405, 2372]",0.31,"[5, 0, 2, 2, 1, 1, 5, 2, 2, 6, 6, 2, 2, 2, 2, ...",0.21,0.66,6.0,"Counter({1: 550, 2: 523, 7: 389, 5: 381, 0: 18..."

adding 16 random population

 77%|███████▋  | 24/31 [17:06<04:26, 38.03s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."
5,0.08,0.13,"[243, 623, 781, 2220, 2324, 2348, 2619, 2768, ...",0.23,"[0, 1, 1, 0, 7, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, ...",0.27,0.78,9.0,"Counter({0: 1042, 1: 799, 3: 136, 7: 107, 2: 1..."
6,0.08,0.24,"[256, 559, 1148, 1401, 1405, 2372]",0.31,"[5, 0, 2, 2, 1, 1, 5, 2, 2, 6, 6, 2, 2, 2, 2, ...",0.21,0.66,6.0,"Counter({1: 550, 2: 523, 7: 389, 5: 381, 0: 18..."
7,0.08,0.21,"[324, 469, 745, 1002, 1041, 1354, 1467, 1473]",0.18,"[0, 0, 0, 0, 3, 0, 0, 8, 0, 3, 3, 0, 8, 3, 0, ...",0.20,0.77,8.0,"Counter({0: 1223, 3: 666, 8: 140, 4: 44, 7: 18..."

adding 1 random population

 87%|████████▋ | 27/31 [19:56<02:51, 42.94s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."
5,0.08,0.13,"[243, 623, 781, 2220, 2324, 2348, 2619, 2768, ...",0.23,"[0, 1, 1, 0, 7, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, ...",0.27,0.78,9.0,"Counter({0: 1042, 1: 799, 3: 136, 7: 107, 2: 1..."
6,0.08,0.24,"[256, 559, 1148, 1401, 1405, 2372]",0.31,"[5, 0, 2, 2, 1, 1, 5, 2, 2, 6, 6, 2, 2, 2, 2, ...",0.21,0.66,6.0,"Counter({1: 550, 2: 523, 7: 389, 5: 381, 0: 18..."
7,0.08,0.21,"[324, 469, 745, 1002, 1041, 1354, 1467, 1473]",0.18,"[0, 0, 0, 0, 3, 0, 0, 8, 0, 3, 3, 0, 8, 3, 0, ...",0.20,0.77,8.0,"Counter({0: 1223, 3: 666, 8: 140, 4: 44, 7: 18..."
8,0.09,0.14,"[636, 1248, 2137, 2282, 2305, 2778]",0.17,"[1, 1, 1, 1, 7, 7, 1, 1, 1, 7, 1, 1, 7, 1, 3, ...",0.25,0.84,6.0,"Counter({1: 1419, 7: 553, 3: 61, 4: 35, 8: 24,..."

adding 4 random population

 97%|█████████▋| 30/31 [22:04<00:38, 38.08s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.07,"[412, 500, 1773, 1791, 2251, 2635]",0.20,"[3, 3, 4, 1, 3, 3, 1, 3, 0, 3, 3, 1, 1, 1, 3, ...",0.17,0.49,6.0,"Counter({3: 805, 1: 604, 0: 347, 4: 305, 6: 30..."
1,0.09,0.14,"[213, 281, 349, 720, 1089, 1688]",0.24,"[1, 1, 1, 1, 4, 4, 2, 1, 1, 1, 1, 1, 5, 1, 3, ...",0.27,0.74,6.0,"Counter({1: 1271, 3: 446, 2: 168, 5: 108, 4: 7..."
2,0.08,0.09,"[17, 326, 965, 1051, 1397, 2064, 2449]",0.14,"[7, 0, 7, 0, 7, 0, 7, 7, 7, 7, 7, 7, 0, 4, 7, ...",0.22,0.69,7.0,"Counter({7: 1042, 0: 796, 4: 114, 6: 99, 1: 18..."
3,0.08,0.07,"[132, 558, 760, 801, 1228, 2229, 2295, 2910]",0.16,"[6, 1, 6, 6, 4, 6, 5, 1, 1, 1, 1, 1, 6, 6, 6, ...",0.20,0.56,8.0,"Counter({1: 1257, 3: 316, 6: 294, 5: 106, 7: 6..."
4,0.09,0.24,"[474, 1241, 1336, 2377, 2418, 2542]",0.36,"[1, 1, 1, 2, 1, 1, 2, 5, 1, 2, 8, 1, 0, 1, 4, ...",0.20,0.71,6.0,"Counter({1: 668, 4: 619, 0: 438, 2: 189, 5: 78..."
5,0.08,0.13,"[243, 623, 781, 2220, 2324, 2348, 2619, 2768, ...",0.23,"[0, 1, 1, 0, 7, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, ...",0.27,0.78,9.0,"Counter({0: 1042, 1: 799, 3: 136, 7: 107, 2: 1..."
6,0.08,0.24,"[256, 559, 1148, 1401, 1405, 2372]",0.31,"[5, 0, 2, 2, 1, 1, 5, 2, 2, 6, 6, 2, 2, 2, 2, ...",0.21,0.66,6.0,"Counter({1: 550, 2: 523, 7: 389, 5: 381, 0: 18..."
7,0.08,0.21,"[324, 469, 745, 1002, 1041, 1354, 1467, 1473]",0.18,"[0, 0, 0, 0, 3, 0, 0, 8, 0, 3, 3, 0, 8, 3, 0, ...",0.20,0.77,8.0,"Counter({0: 1223, 3: 666, 8: 140, 4: 44, 7: 18..."
8,0.09,0.14,"[636, 1248, 2137, 2282, 2305, 2778]",0.17,"[1, 1, 1, 1, 7, 7, 1, 1, 1, 7, 1, 1, 7, 1, 3, ...",0.25,0.84,6.0,"Counter({1: 1419, 7: 553, 3: 61, 4: 35, 8: 24,..."
9,0.10,0.45,"[373, 638, 701, 1163, 1343, 2677]",0.41,"[3, 8, 3, 3, 8, 2, 8, 2, 3, 8, 8, 3, 3, 3, 8, ...",0.21,0.56,6.0,"Counter({3: 728, 8: 648, 2: 528, 6: 103, 4: 84..."

adding 10 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (9). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
100%|██████████| 31/31 [23:39<00:00, 45.80s/it]

TIME: GA: 23.66296017964681 min
TIME: Total: 24.059157351652782 min

In [65]:
results.groupby("dataset_name").agg({"ari": max})

                               ari
dataset_name
Muraro                        0.45
Quake_10x_Limb_Muscle         0.28
Quake_Smart-seq2_Diaphragm    0.54
Quake_Smart-seq2_Limb_Muscle  0.14
Quake_Smart-seq2_Lung         0.25
Quake_Smart-seq2_Trachea      0.42
Romanov                       0.27
mouse_ES_cell                 0.32
mouse_bladder_cell            0.28

In [67]:
results = None
clustering = "gmm"

method = "adapted_ratkowsky_lance"

for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = 3000, normalize_input=True)
    data = preprocessing.MinMaxScaler().fit_transform(data)
    n_clusters = len(np.unique(truth))

    print(f"\n##########  {name}, {data.shape}")

    # Clustering 1D
    meta_features = feature_ranking.rank_features(data,
                                              nb_bins=20,
                                              rank_threshold=98,
                                              z_file=None,
                                              metric='correlation',
                                              redundant_threshold=0.4)
    t2 = time.time()
    print(f"TIME: 1d Features : {(t2-t1)/60} min")

    t3 = time.time()
    t4 = time.time()
    print(f"TIME: 2d scores: {(t4-t3)/60} min")
    round_size = 3
    epochs = 10*round_size

    sampling = {
    "ARCHIVE2D": { 
        "ga": 0,
        "max": 0 },
    "CLOSE": { 
        "ga": 0.35,
        "max": 0.35 },
    "IMP1D": { 
        "ga": 0.35,
        "max": 0.35 },
    "RANDOM": { 
        "ga": 0.3,
        "max": 0.3},
    }

    params = ga.ga_parameters(
        n_clusters,
        data.shape[1],
        truth,
        meta_features,
        method=method,
        truth_methods=['ari'],
        archive_2d=None,#population[:data.shape[1] // 4],
        epochs=epochs,
        sampling = sampling,
        round_size=round_size,
        allow_subspace_overlap = True,
        improvement_per_mutation_report = False,
        clustering = clustering
        
    )
    solutions, archive= ga.run(data, params)

    solutions["dataset_name"] = name
    
    t5 = time.time()
    n_total = t5-t1
    print(f"TIME: GA: {(t5-t4)/60} min")
    print(f"TIME: Total: {(t5-t1)/60} min")
    solutions["total_time"] = round((t5-t1)/60, 1)
    solutions["t(feature_sel)"] = round((t2-t1)/60, 1)
    solutions["t(cnn)"] = round((t3-t2)/60, 1)
    solutions["t(clustering2d)"] = round((t4-t3)/60, 1)
    solutions["t(ga)"] = round((t5-t4)/60, 1)
    
    solutions["n_ga"] = archive.shape[0]
    solutions["n_cnn"] = n_total
    solutions["input_size"] = data.shape[1]
    
    
    solutions["n_non_redundant"] = meta_features[(meta_features["redundant"] ==1) ].shape[0]
    solutions["n_imp"] = meta_features[(meta_features["relevance"] !=0)].shape[0]
    solutions["n_imp4"] = meta_features[(meta_features["relevance"] ==4)].shape[0]
    solutions["n_imp3"] = meta_features[(meta_features["relevance"] ==3)].shape[0]
    
    
    if results is None: 
        results = solutions
    else:
        results = pd.concat([results, solutions], ignore_index = True)
    results.to_excel("../reports/scRNAseq_gmm1.xlsx")

(1350, 23341) (1350, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Trachea, (1350, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.43 sec
Entropy computation 2.72 sec
KNN computation 7.29 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 3.63 sec
Handle redundant features 0.19 sec
Returning 376 redundant features and  45 important features
TIME: 1d Features : 0.26086426178614297 min
TIME: 2d scores: 7.947285970052083e-09 min
*** Optimization algorithm
Non redundant features 2623, orig size 2999, nb imp : 45
adding 50 random population

 10%|▉         | 3/31 [00:17<02:46,  5.93s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"

adding 5 random population

 19%|█▉        | 6/31 [00:49<03:29,  8.39s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"

adding 2 random population

 29%|██▉       | 9/31 [01:35<04:02, 11.03s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"

adding 2 random population

 39%|███▊      | 12/31 [02:02<02:49,  8.90s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"

adding 3 random population

 48%|████▊     | 15/31 [02:31<02:15,  8.50s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"

adding 12 random population

 58%|█████▊    | 18/31 [03:02<01:53,  8.76s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"
5,0.16,0.07,"[352, 1259, 2116]",0.09,"[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.16,0.98,3.0,"Counter({0: 1292, 1: 38, 2: 16, 3: 4})"

adding 4 random population

 68%|██████▊   | 21/31 [03:31<01:25,  8.55s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"
5,0.16,0.07,"[352, 1259, 2116]",0.09,"[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.16,0.98,3.0,"Counter({0: 1292, 1: 38, 2: 16, 3: 4})"
6,0.16,0.02,"[1072, 1157, 2951]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1321, 3: 12, 1: 11, 2: 6})"

adding 3 random population

 77%|███████▋  | 24/31 [04:00<00:59,  8.52s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"
5,0.16,0.07,"[352, 1259, 2116]",0.09,"[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.16,0.98,3.0,"Counter({0: 1292, 1: 38, 2: 16, 3: 4})"
6,0.16,0.02,"[1072, 1157, 2951]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1321, 3: 12, 1: 11, 2: 6})"
7,0.16,-0.02,"[539, 773, 1426, 1952]",0.02,"[0, 0, 0, 0, 0, 3, 0, 0, 2, 0, 0, 0, 0, 0, 0, ...",0.22,0.94,4.0,"Counter({0: 1255, 2: 67, 1: 19, 3: 9})"

adding 4 random population

 87%|████████▋ | 27/31 [04:40<00:41, 10.48s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"
5,0.16,0.07,"[352, 1259, 2116]",0.09,"[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.16,0.98,3.0,"Counter({0: 1292, 1: 38, 2: 16, 3: 4})"
6,0.16,0.02,"[1072, 1157, 2951]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1321, 3: 12, 1: 11, 2: 6})"
7,0.16,-0.02,"[539, 773, 1426, 1952]",0.02,"[0, 0, 0, 0, 0, 3, 0, 0, 2, 0, 0, 0, 0, 0, 0, ...",0.22,0.94,4.0,"Counter({0: 1255, 2: 67, 1: 19, 3: 9})"
8,0.17,0.12,"[2086, 2395]",0.28,"[1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 2, 1, 2, 2, 1, ...",0.29,0.73,2.0,"Counter({1: 773, 2: 356, 0: 221})"

adding 3 random population

 97%|█████████▋| 30/31 [05:13<00:09,  9.91s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.17,-0.09,"[1381, 1529, 2732]",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, ...",0.22,0.96,3.0,"Counter({0: 1228, 1: 56, 2: 55, 3: 11})"
1,0.16,0.28,"[341, 639, 794, 1732, 2111]",0.44,"[0, 0, 1, 0, 0, 2, 1, 0, 0, 2, 2, 1, 2, 2, 2, ...",0.30,0.52,5.0,"Counter({0: 661, 2: 448, 1: 237, 3: 4})"
2,0.18,-0.01,"[716, 1552]",0.12,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, ...",0.25,0.75,2.0,"Counter({0: 753, 1: 473, 2: 124})"
3,0.18,0.02,"[123, 336]",0.19,"[0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 3, 3, ...",0.28,0.86,2.0,"Counter({0: 867, 3: 477, 2: 6})"
4,0.17,0.05,"[391, 875, 2843]",0.13,"[1, 1, 0, 1, 0, 1, 0, 1, 3, 1, 1, 0, 1, 1, 1, ...",0.30,0.80,3.0,"Counter({0: 675, 1: 572, 2: 55, 3: 48})"
5,0.16,0.07,"[352, 1259, 2116]",0.09,"[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.16,0.98,3.0,"Counter({0: 1292, 1: 38, 2: 16, 3: 4})"
6,0.16,0.02,"[1072, 1157, 2951]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.99,3.0,"Counter({0: 1321, 3: 12, 1: 11, 2: 6})"
7,0.16,-0.02,"[539, 773, 1426, 1952]",0.02,"[0, 0, 0, 0, 0, 3, 0, 0, 2, 0, 0, 0, 0, 0, 0, ...",0.22,0.94,4.0,"Counter({0: 1255, 2: 67, 1: 19, 3: 9})"
8,0.17,0.12,"[2086, 2395]",0.28,"[1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 2, 1, 2, 2, 1, ...",0.29,0.73,2.0,"Counter({1: 773, 2: 356, 0: 221})"
9,0.19,-0.00,"[1021, 2511]",0.08,"[0, 0, 0, 0, 3, 3, 0, 3, 2, 0, 3, 0, 3, 3, 3, ...",0.31,0.92,2.0,"Counter({0: 1112, 3: 168, 2: 70})"

adding 3 random population

100%|██████████| 31/31 [05:31<00:00, 10.71s/it]

TIME: GA: 5.53106617530187 min
TIME: Total: 5.791930838425954 min
(870, 23341) (870, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Diaphragm, (870, 2999)
*** Computing 1D feature ranking ...
Dispersion tests took 0.17 sec

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Entropy computation 1.99 sec
KNN computation 5.01 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 2.41 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.24 sec
Returning 284 redundant features and  53 important features
TIME: 1d Features : 0.1786793073018392 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2715, orig size 2999, nb imp : 53
adding 50 random population

 10%|▉         | 3/31 [00:16<02:31,  5.43s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.3,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"

adding 2 random population

 19%|█▉        | 6/31 [00:46<03:16,  7.87s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"

adding 1 random population

 29%|██▉       | 9/31 [01:18<03:14,  8.84s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"

adding 11 random population

 39%|███▊      | 12/31 [01:49<02:51,  9.01s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"

adding 7 random population

 48%|████▊     | 15/31 [02:35<03:01, 11.34s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"

adding 2 random population

 58%|█████▊    | 18/31 [03:11<02:15, 10.43s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"
5,0.13,0.61,"[347, 483, 618, 660, 711, 818, 1265, 1309, 143...",0.68,"[0, 1, 1, 3, 3, 2, 3, 2, 0, 0, 0, 2, 0, 2, 0, ...",0.44,0.30,17.0,"Counter({0: 273, 1: 237, 2: 210, 3: 89, 4: 61})"

adding 7 random population

 68%|██████▊   | 21/31 [05:42<04:31, 27.11s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"
5,0.13,0.61,"[347, 483, 618, 660, 711, 818, 1265, 1309, 143...",0.68,"[0, 1, 1, 3, 3, 2, 3, 2, 0, 0, 0, 2, 0, 2, 0, ...",0.44,0.30,17.0,"Counter({0: 273, 1: 237, 2: 210, 3: 89, 4: 61})"
6,0.14,0.02,"[34, 609, 1862, 2632]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.97,4.0,"Counter({0: 834, 3: 14, 4: 11, 2: 6, 1: 5})"

adding 4 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 77%|███████▋  | 24/31 [06:14<01:46, 15.27s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"
5,0.13,0.61,"[347, 483, 618, 660, 711, 818, 1265, 1309, 143...",0.68,"[0, 1, 1, 3, 3, 2, 3, 2, 0, 0, 0, 2, 0, 2, 0, ...",0.44,0.30,17.0,"Counter({0: 273, 1: 237, 2: 210, 3: 89, 4: 61})"
6,0.14,0.02,"[34, 609, 1862, 2632]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.97,4.0,"Counter({0: 834, 3: 14, 4: 11, 2: 6, 1: 5})"
7,0.14,0.60,"[483, 599, 660, 761, 818, 830, 1322, 1323, 132...",0.70,"[3, 1, 1, 3, 3, 4, 2, 4, 0, 0, 0, 4, 0, 4, 0, ...",0.44,0.48,14.0,"Counter({0: 243, 1: 239, 4: 175, 3: 127, 2: 86})"

adding 4 random population

 87%|████████▋ | 27/31 [08:00<01:28, 22.17s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"
5,0.13,0.61,"[347, 483, 618, 660, 711, 818, 1265, 1309, 143...",0.68,"[0, 1, 1, 3, 3, 2, 3, 2, 0, 0, 0, 2, 0, 2, 0, ...",0.44,0.30,17.0,"Counter({0: 273, 1: 237, 2: 210, 3: 89, 4: 61})"
6,0.14,0.02,"[34, 609, 1862, 2632]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.97,4.0,"Counter({0: 834, 3: 14, 4: 11, 2: 6, 1: 5})"
7,0.14,0.60,"[483, 599, 660, 761, 818, 830, 1322, 1323, 132...",0.70,"[3, 1, 1, 3, 3, 4, 2, 4, 0, 0, 0, 4, 0, 4, 0, ...",0.44,0.48,14.0,"Counter({0: 243, 1: 239, 4: 175, 3: 127, 2: 86})"
8,0.15,0.26,"[1456, 1773, 1900]",0.27,"[0, 2, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.31,0.82,3.0,"Counter({0: 607, 2: 183, 3: 50, 1: 30})"

adding 10 random population

 97%|█████████▋| 30/31 [08:30<00:13, 13.24s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.15,0.02,"[411, 548, 1256]",0.08,"[3, 3, 4, 2, 3, 4, 4, 3, 4, 4, 3, 4, 4, 4, 4, ...",0.30,0.82,3.0,"Counter({4: 547, 3: 283, 2: 36, 0: 4})"
1,0.13,0.03,"[160, 950, 1070, 2870]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.12,0.90,4.0,"Counter({0: 779, 3: 77, 1: 6, 4: 4, 2: 4})"
2,0.13,0.06,"[186, 1439, 1470, 1552]",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.94,4.0,"Counter({0: 816, 4: 44, 2: 6, 3: 4})"
3,0.13,0.27,"[591, 1448, 1859, 2190, 2544, 2727]",0.37,"[1, 1, 1, 0, 0, 2, 3, 1, 0, 1, 1, 1, 1, 1, 1, ...",0.34,0.61,6.0,"Counter({1: 530, 0: 218, 2: 105, 3: 11, 4: 6})"
4,0.13,0.20,"[303, 1173, 1647, 2847]",0.22,"[2, 3, 2, 3, 3, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, ...",0.25,0.72,4.0,"Counter({3: 480, 2: 365, 1: 17, 0: 4, 4: 4})"
5,0.13,0.61,"[347, 483, 618, 660, 711, 818, 1265, 1309, 143...",0.68,"[0, 1, 1, 3, 3, 2, 3, 2, 0, 0, 0, 2, 0, 2, 0, ...",0.44,0.30,17.0,"Counter({0: 273, 1: 237, 2: 210, 3: 89, 4: 61})"
6,0.14,0.02,"[34, 609, 1862, 2632]",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.17,0.97,4.0,"Counter({0: 834, 3: 14, 4: 11, 2: 6, 1: 5})"
7,0.14,0.60,"[483, 599, 660, 761, 818, 830, 1322, 1323, 132...",0.70,"[3, 1, 1, 3, 3, 4, 2, 4, 0, 0, 0, 4, 0, 4, 0, ...",0.44,0.48,14.0,"Counter({0: 243, 1: 239, 4: 175, 3: 127, 2: 86})"
8,0.15,0.26,"[1456, 1773, 1900]",0.27,"[0, 2, 2, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.31,0.82,3.0,"Counter({0: 607, 2: 183, 3: 50, 1: 30})"
9,0.13,0.01,"[452, 1140, 2176, 2821]",0.03,"[0, 3, 3, 3, 0, 0, 4, 0, 0, 0, 3, 3, 0, 3, 0, ...",0.24,0.66,4.0,"Counter({0: 437, 3: 337, 4: 87, 1: 5, 2: 4})"

adding 14 random population

100%|██████████| 31/31 [08:49<00:00, 17.07s/it]

TIME: GA: 8.81885342200597 min
TIME: Total: 8.997533126672108 min
(2717, 24175) (2717, 24175) keeping 3000 genes

##########  mouse_ES_cell, (2717, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.03 sec
Entropy computation 5.5 sec
KNN computation 14.23 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.15 sec
Handle redundant features 0.07 sec
Returning 12 redundant features and  11 important features
TIME: 1d Features : 0.5195606191953023 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2987, orig size 2999, nb imp : 11
adding 50 random population

 10%|▉         | 3/31 [00:55<08:29, 18.20s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"

adding 2 random population

 19%|█▉        | 6/31 [02:33<10:31, 25.25s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"

adding 4 random population

 29%|██▉       | 9/31 [04:23<10:28, 28.56s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"

adding 1 random population

 39%|███▊      | 12/31 [06:12<09:24, 29.70s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"

adding 3 random population

 48%|████▊     | 15/31 [08:02<07:58, 29.93s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"

adding 5 random population

 58%|█████▊    | 18/31 [09:52<06:30, 30.06s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"
5,0.14,0.00,"[466, 672, 1604]",0.08,"[0, 1, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.87,3.0,"Counter({0: 2091, 2: 512, 1: 90, 3: 24})"

adding 7 random population

 68%|██████▊   | 21/31 [11:38<04:53, 29.40s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"
5,0.14,0.00,"[466, 672, 1604]",0.08,"[0, 1, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.87,3.0,"Counter({0: 2091, 2: 512, 1: 90, 3: 24})"
6,0.16,0.01,"[746, 747, 1049]",0.10,"[0, 0, 1, 0, 1, 0, 3, 3, 1, 1, 3, 1, 1, 1, 0, ...",0.18,0.83,3.0,"Counter({1: 1886, 0: 521, 3: 235, 2: 75})"

adding 7 random population

 77%|███████▋  | 24/31 [13:23<03:21, 28.86s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"
5,0.14,0.00,"[466, 672, 1604]",0.08,"[0, 1, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.87,3.0,"Counter({0: 2091, 2: 512, 1: 90, 3: 24})"
6,0.16,0.01,"[746, 747, 1049]",0.10,"[0, 0, 1, 0, 1, 0, 3, 3, 1, 1, 3, 1, 1, 1, 0, ...",0.18,0.83,3.0,"Counter({1: 1886, 0: 521, 3: 235, 2: 75})"
7,0.14,-0.01,"[440, 1033, 1947]",0.09,"[1, 1, 1, 1, 0, 0, 0, 3, 1, 2, 0, 0, 2, 0, 0, ...",0.11,0.89,3.0,"Counter({0: 2164, 1: 385, 3: 98, 2: 70})"

adding 9 random population

 87%|████████▋ | 27/31 [15:08<01:54, 28.68s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"
5,0.14,0.00,"[466, 672, 1604]",0.08,"[0, 1, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.87,3.0,"Counter({0: 2091, 2: 512, 1: 90, 3: 24})"
6,0.16,0.01,"[746, 747, 1049]",0.10,"[0, 0, 1, 0, 1, 0, 3, 3, 1, 1, 3, 1, 1, 1, 0, ...",0.18,0.83,3.0,"Counter({1: 1886, 0: 521, 3: 235, 2: 75})"
7,0.14,-0.01,"[440, 1033, 1947]",0.09,"[1, 1, 1, 1, 0, 0, 0, 3, 1, 2, 0, 0, 2, 0, 0, ...",0.11,0.89,3.0,"Counter({0: 2164, 1: 385, 3: 98, 2: 70})"
8,0.14,0.07,"[992, 993, 2270, 2686]",0.13,"[2, 1, 2, 0, 1, 0, 2, 2, 0, 2, 1, 1, 1, 0, 1, ...",0.12,0.70,4.0,"Counter({1: 1505, 0: 819, 2: 384, 3: 9})"

adding 7 random population

 97%|█████████▋| 30/31 [16:57<00:29, 29.48s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.14,0.19,"[1500, 1772, 1773]",0.28,"[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",0.17,0.32,3.0,"Counter({1: 1314, 3: 837, 2: 354, 0: 212})"
1,0.14,0.09,"[194, 2746]",0.15,"[0, 3, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 0, 3, 0, ...",0.11,0.43,2.0,"Counter({0: 1578, 2: 624, 3: 515})"
2,0.15,0.01,"[668, 1063, 1064, 2124]",0.06,"[0, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 0, 0, 1, 1, ...",0.16,0.76,4.0,"Counter({0: 1767, 1: 710, 3: 206, 2: 34})"
3,0.13,0.02,"[5, 1628, 2157]",0.07,"[3, 3, 0, 1, 0, 0, 3, 2, 2, 0, 3, 1, 3, 0, 3, ...",0.14,0.64,3.0,"Counter({0: 1448, 1: 726, 3: 462, 2: 81})"
4,0.15,0.05,"[538, 1035, 1122, 1923]",0.10,"[0, 2, 2, 3, 0, 2, 1, 3, 0, 1, 3, 1, 0, 0, 0, ...",0.16,0.69,4.0,"Counter({1: 1538, 0: 744, 2: 245, 3: 190})"
5,0.14,0.00,"[466, 672, 1604]",0.08,"[0, 1, 2, 1, 0, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, ...",0.13,0.87,3.0,"Counter({0: 2091, 2: 512, 1: 90, 3: 24})"
6,0.16,0.01,"[746, 747, 1049]",0.10,"[0, 0, 1, 0, 1, 0, 3, 3, 1, 1, 3, 1, 1, 1, 0, ...",0.18,0.83,3.0,"Counter({1: 1886, 0: 521, 3: 235, 2: 75})"
7,0.14,-0.01,"[440, 1033, 1947]",0.09,"[1, 1, 1, 1, 0, 0, 0, 3, 1, 2, 0, 0, 2, 0, 0, ...",0.11,0.89,3.0,"Counter({0: 2164, 1: 385, 3: 98, 2: 70})"
8,0.14,0.07,"[992, 993, 2270, 2686]",0.13,"[2, 1, 2, 0, 1, 0, 2, 2, 0, 2, 1, 1, 1, 0, 1, ...",0.12,0.70,4.0,"Counter({1: 1505, 0: 819, 2: 384, 3: 9})"
9,0.14,0.01,"[120, 1003, 1676]",0.12,"[2, 1, 1, 1, 1, 0, 0, 2, 1, 1, 1, 0, 0, 1, 2, ...",0.12,0.83,3.0,"Counter({1: 1924, 0: 561, 2: 194, 3: 38})"

adding 1 random population

100%|██████████| 31/31 [18:08<00:00, 35.13s/it]

TIME: GA: 18.149887200196584 min
TIME: Total: 18.669448192914327 min
(1676, 23341) (1676, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Lung, (1676, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.47 sec
Entropy computation 3.25 sec
KNN computation 8.87 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 4.41 sec
Handle redundant features 0.15 sec
Returning 193 redundant features and  57 important features
TIME: 1d Features : 0.3111217975616455 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2806, orig size 2999, nb imp : 57
adding 50 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (11). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 10%|▉         | 3/31 [00:38<06:27, 13.83s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."

adding 1 random population

 19%|█▉        | 6/31 [03:41<15:56, 38.27s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."

adding 9 random population

 29%|██▉       | 9/31 [06:40<16:07, 43.96s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."

adding 1 random population

 39%|███▊      | 12/31 [09:04<13:01, 41.11s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."

adding 15 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (11). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 48%|████▊     | 15/31 [12:21<12:55, 48.49s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."

adding 2 random population

 58%|█████▊    | 18/31 [15:33<10:55, 50.41s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."
5,0.06,0.18,"[630, 1260, 1267, 1432, 1482, 1501, 1751, 2468]",0.29,"[4, 6, 4, 2, 0, 1, 1, 0, 1, 9, 1, 4, 0, 9, 6, ...",0.25,0.53,8.0,"Counter({0: 475, 1: 392, 4: 267, 9: 180, 6: 15..."

adding 15 random population

 68%|██████▊   | 21/31 [18:47<08:29, 50.93s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."
5,0.06,0.18,"[630, 1260, 1267, 1432, 1482, 1501, 1751, 2468]",0.29,"[4, 6, 4, 2, 0, 1, 1, 0, 1, 9, 1, 4, 0, 9, 6, ...",0.25,0.53,8.0,"Counter({0: 475, 1: 392, 4: 267, 9: 180, 6: 15..."
6,0.06,0.11,"[5, 213, 389, 1116, 1237, 2029, 2837]",0.32,"[10, 10, 10, 10, 2, 10, 10, 10, 6, 1, 1, 10, 1...",0.34,0.62,7.0,"Counter({10: 767, 8: 324, 1: 254, 2: 150, 7: 6..."

adding 15 random population

 77%|███████▋  | 24/31 [21:21<05:14, 44.93s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."
5,0.06,0.18,"[630, 1260, 1267, 1432, 1482, 1501, 1751, 2468]",0.29,"[4, 6, 4, 2, 0, 1, 1, 0, 1, 9, 1, 4, 0, 9, 6, ...",0.25,0.53,8.0,"Counter({0: 475, 1: 392, 4: 267, 9: 180, 6: 15..."
6,0.06,0.11,"[5, 213, 389, 1116, 1237, 2029, 2837]",0.32,"[10, 10, 10, 10, 2, 10, 10, 10, 6, 1, 1, 10, 1...",0.34,0.62,7.0,"Counter({10: 767, 8: 324, 1: 254, 2: 150, 7: 6..."
7,0.06,0.11,"[108, 127, 230, 422, 842, 1081, 1436, 1442, 1453]",0.26,"[0, 4, 1, 1, 0, 4, 2, 0, 0, 0, 9, 1, 0, 1, 4, ...",0.25,0.55,9.0,"Counter({0: 703, 1: 578, 5: 103, 2: 86, 4: 57,..."

adding 23 random population

 87%|████████▋ | 27/31 [24:22<03:09, 47.33s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."
5,0.06,0.18,"[630, 1260, 1267, 1432, 1482, 1501, 1751, 2468]",0.29,"[4, 6, 4, 2, 0, 1, 1, 0, 1, 9, 1, 4, 0, 9, 6, ...",0.25,0.53,8.0,"Counter({0: 475, 1: 392, 4: 267, 9: 180, 6: 15..."
6,0.06,0.11,"[5, 213, 389, 1116, 1237, 2029, 2837]",0.32,"[10, 10, 10, 10, 2, 10, 10, 10, 6, 1, 1, 10, 1...",0.34,0.62,7.0,"Counter({10: 767, 8: 324, 1: 254, 2: 150, 7: 6..."
7,0.06,0.11,"[108, 127, 230, 422, 842, 1081, 1436, 1442, 1453]",0.26,"[0, 4, 1, 1, 0, 4, 2, 0, 0, 0, 9, 1, 0, 1, 4, ...",0.25,0.55,9.0,"Counter({0: 703, 1: 578, 5: 103, 2: 86, 4: 57,..."
8,0.06,0.11,"[90, 554, 561, 576, 708, 816, 953, 972, 1094, ...",0.28,"[1, 4, 6, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.25,-0.26,14.0,"Counter({1: 1298, 8: 120, 2: 73, 5: 52, 4: 38,..."

adding 4 random population

 97%|█████████▋| 30/31 [29:13<01:04, 64.34s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.06,0.27,"[210, 320, 459, 561, 570, 958, 1134, 1152, 198...",0.28,"[5, 5, 8, 8, 8, 8, 5, 8, 8, 8, 5, 7, 8, 8, 8, ...",0.25,0.48,10.0,"Counter({8: 854, 5: 414, 0: 148, 7: 136, 2: 41..."
1,0.06,0.04,"[217, 266, 648, 862, 980, 1183, 1191, 1734, 19...",0.10,"[0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 4, 2, 1, 1, 0, ...",0.15,0.36,10.0,"Counter({0: 854, 1: 547, 4: 194, 2: 21, 9: 15,..."
2,0.06,-0.03,"[55, 157, 546, 606, 790, 2416]",0.16,"[8, 5, 3, 5, 8, 0, 0, 0, 3, 8, 8, 0, 8, 1, 0, ...",0.29,0.57,6.0,"Counter({0: 719, 3: 247, 8: 199, 7: 132, 2: 12..."
3,0.06,0.26,"[44, 254, 376, 388, 814, 850, 2065, 2710]",0.31,"[9, 5, 9, 3, 6, 9, 9, 9, 1, 4, 8, 9, 2, 10, 9,...",0.31,0.52,8.0,"Counter({9: 618, 1: 546, 8: 133, 6: 107, 4: 66..."
4,0.06,0.14,"[184, 201, 227, 293, 829, 1931, 2225, 2706, 2791]",0.21,"[5, 5, 5, 5, 5, 3, 5, 6, 5, 5, 6, 5, 5, 5, 5, ...",0.28,0.67,9.0,"Counter({5: 1041, 6: 308, 3: 147, 7: 91, 2: 27..."
5,0.06,0.18,"[630, 1260, 1267, 1432, 1482, 1501, 1751, 2468]",0.29,"[4, 6, 4, 2, 0, 1, 1, 0, 1, 9, 1, 4, 0, 9, 6, ...",0.25,0.53,8.0,"Counter({0: 475, 1: 392, 4: 267, 9: 180, 6: 15..."
6,0.06,0.11,"[5, 213, 389, 1116, 1237, 2029, 2837]",0.32,"[10, 10, 10, 10, 2, 10, 10, 10, 6, 1, 1, 10, 1...",0.34,0.62,7.0,"Counter({10: 767, 8: 324, 1: 254, 2: 150, 7: 6..."
7,0.06,0.11,"[108, 127, 230, 422, 842, 1081, 1436, 1442, 1453]",0.26,"[0, 4, 1, 1, 0, 4, 2, 0, 0, 0, 9, 1, 0, 1, 4, ...",0.25,0.55,9.0,"Counter({0: 703, 1: 578, 5: 103, 2: 86, 4: 57,..."
8,0.06,0.11,"[90, 554, 561, 576, 708, 816, 953, 972, 1094, ...",0.28,"[1, 4, 6, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 4, ...",0.25,-0.26,14.0,"Counter({1: 1298, 8: 120, 2: 73, 5: 52, 4: 38,..."
9,0.07,0.18,"[156, 686, 745, 1162, 1271, 1327, 1373, 1560]",0.24,"[3, 3, 3, 1, 3, 1, 10, 3, 1, 3, 3, 3, 3, 1, 3,...",0.24,0.70,8.0,"Counter({3: 833, 1: 620, 8: 105, 2: 39, 7: 30,..."

adding 12 random population

100%|██████████| 31/31 [31:11<00:00, 60.37s/it]

TIME: GA: 31.192596515019734 min
TIME: Total: 31.503721924622855 min
(3909, 23341) (3909, 23341) keeping 3000 genes

##########  Quake_10x_Limb_Muscle, (3909, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 2.59 sec
Entropy computation 7.63 sec
KNN computation 21.99 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 11.14 sec
Handle redundant features 0.13 sec
Returning 104 redundant features and  53 important features
TIME: 1d Features : 0.7725681702295939 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2896, orig size 3000, nb imp : 53
adding 50 random population

 10%|▉         | 3/31 [01:33<14:26, 30.96s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"

adding 4 random population

 19%|█▉        | 6/31 [04:17<17:17, 41.48s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."

adding 4 random population

 29%|██▉       | 9/31 [06:47<15:17, 41.72s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"

adding 6 random population

 39%|███▊      | 12/31 [09:35<13:56, 44.03s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."

adding 5 random population

 48%|████▊     | 15/31 [12:06<11:25, 42.87s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"

adding 9 random population

 58%|█████▊    | 18/31 [14:27<08:55, 41.21s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"
5,0.14,0.01,"[269, 1432, 2329, 2623]",0.12,"[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 5, 5, 0, ...",0.21,0.92,4.0,"Counter({0: 3315, 5: 415, 2: 133, 3: 38, 4: 8})"

adding 4 random population

 68%|██████▊   | 21/31 [17:12<07:19, 43.91s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"
5,0.14,0.01,"[269, 1432, 2329, 2623]",0.12,"[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 5, 5, 0, ...",0.21,0.92,4.0,"Counter({0: 3315, 5: 415, 2: 133, 3: 38, 4: 8})"
6,0.13,0.11,"[1430, 1906, 2437, 2776]",0.11,"[5, 5, 2, 2, 2, 5, 2, 2, 5, 5, 2, 5, 2, 2, 2, ...",0.13,0.61,4.0,"Counter({5: 2058, 2: 1805, 4: 25, 0: 16, 3: 5})"

adding 7 random population

 77%|███████▋  | 24/31 [19:45<05:01, 43.07s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"
5,0.14,0.01,"[269, 1432, 2329, 2623]",0.12,"[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 5, 5, 0, ...",0.21,0.92,4.0,"Counter({0: 3315, 5: 415, 2: 133, 3: 38, 4: 8})"
6,0.13,0.11,"[1430, 1906, 2437, 2776]",0.11,"[5, 5, 2, 2, 2, 5, 2, 2, 5, 5, 2, 5, 2, 2, 2, ...",0.13,0.61,4.0,"Counter({5: 2058, 2: 1805, 4: 25, 0: 16, 3: 5})"
7,0.12,0.29,"[153, 1375, 2333, 2371, 2926]",0.31,"[0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, ...",0.20,0.70,5.0,"Counter({0: 1922, 1: 1317, 3: 542, 4: 120, 5: ..."

adding 6 random population

 87%|████████▋ | 27/31 [22:20<02:54, 43.60s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"
5,0.14,0.01,"[269, 1432, 2329, 2623]",0.12,"[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 5, 5, 0, ...",0.21,0.92,4.0,"Counter({0: 3315, 5: 415, 2: 133, 3: 38, 4: 8})"
6,0.13,0.11,"[1430, 1906, 2437, 2776]",0.11,"[5, 5, 2, 2, 2, 5, 2, 2, 5, 5, 2, 5, 2, 2, 2, ...",0.13,0.61,4.0,"Counter({5: 2058, 2: 1805, 4: 25, 0: 16, 3: 5})"
7,0.12,0.29,"[153, 1375, 2333, 2371, 2926]",0.31,"[0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, ...",0.20,0.70,5.0,"Counter({0: 1922, 1: 1317, 3: 542, 4: 120, 5: ..."
8,0.12,0.32,"[135, 271, 1553, 1849, 1999]",0.35,"[0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, ...",0.21,0.77,5.0,"Counter({0: 2418, 2: 1367, 4: 65, 3: 43, 5: 16})"

adding 9 random population

 97%|█████████▋| 30/31 [24:52<00:43, 43.17s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.13,0.19,"[205, 280, 963, 1527]",0.26,"[0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.78,4.0,"Counter({0: 2543, 1: 1183, 2: 94, 3: 71, 5: 18})"
1,0.12,0.18,"[101, 122, 955, 973, 1195]",0.33,"[4, 4, 4, 3, 4, 4, 3, 2, 4, 2, 4, 4, 4, 3, 3, ...",0.26,0.77,5.0,"Counter({4: 2813, 3: 681, 2: 344, 1: 36, 5: 28..."
2,0.13,-0.02,"[266, 480, 1148, 2633]",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.16,0.93,4.0,"Counter({0: 3444, 3: 304, 4: 88, 2: 65, 5: 8})"
3,0.12,0.26,"[24, 1242, 1270, 2753]",0.29,"[5, 4, 0, 0, 4, 4, 4, 4, 2, 4, 0, 4, 0, 4, 0, ...",0.19,0.62,4.0,"Counter({0: 1932, 4: 1512, 2: 191, 5: 156, 3: ..."
4,0.12,0.00,"[546, 1257, 2900]",0.03,"[1, 1, 1, 1, 1, 1, 2, 4, 1, 0, 1, 1, 1, 1, 1, ...",0.17,0.87,3.0,"Counter({1: 3120, 4: 491, 0: 226, 5: 37, 2: 35})"
5,0.14,0.01,"[269, 1432, 2329, 2623]",0.12,"[0, 0, 0, 0, 0, 0, 5, 0, 5, 0, 0, 0, 5, 5, 0, ...",0.21,0.92,4.0,"Counter({0: 3315, 5: 415, 2: 133, 3: 38, 4: 8})"
6,0.13,0.11,"[1430, 1906, 2437, 2776]",0.11,"[5, 5, 2, 2, 2, 5, 2, 2, 5, 5, 2, 5, 2, 2, 2, ...",0.13,0.61,4.0,"Counter({5: 2058, 2: 1805, 4: 25, 0: 16, 3: 5})"
7,0.12,0.29,"[153, 1375, 2333, 2371, 2926]",0.31,"[0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, ...",0.20,0.70,5.0,"Counter({0: 1922, 1: 1317, 3: 542, 4: 120, 5: ..."
8,0.12,0.32,"[135, 271, 1553, 1849, 1999]",0.35,"[0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 0, ...",0.21,0.77,5.0,"Counter({0: 2418, 2: 1367, 4: 65, 3: 43, 5: 16})"
9,0.13,0.10,"[357, 960, 1344, 2842]",0.19,"[1, 1, 1, 3, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 4, ...",0.20,0.90,4.0,"Counter({1: 3310, 4: 370, 0: 113, 3: 79, 5: 37})"

adding 7 random population

100%|██████████| 31/31 [26:24<00:00, 51.10s/it]

TIME: GA: 26.403625078996022 min
TIME: Total: 27.17619390487671 min
(2746, 20670) (2746, 20670) keeping 3000 genes

##########  mouse_bladder_cell, (2746, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.09 sec
Entropy computation 5.17 sec
KNN computation 14.45 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 7.45 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.26 sec
Returning 221 redundant features and  58 important features
TIME: 1d Features : 0.5113093574841817 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2778, orig size 2999, nb imp : 58
adding 50 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (14) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
  3%|▎         | 1/31 [00:25<12:44, 25.48s/it]/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
  6%|▋         | 2/31 [00:46<11:02, 22.83s/it]/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (15) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 10%|▉         | 3/31 [01:09<10:48, 23.15s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."

adding 8 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 13%|█▎        | 4/31 [06:38<1:04:36, 143.59s/it]/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 19%|█▉        | 6/31 [08:00<35:21, 84.86s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."

adding 10 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (14) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 29%|██▉       | 9/31 [14:52<36:41, 100.07s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."

adding 14 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 39%|███▊      | 12/31 [22:05<34:25, 108.69s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."

adding 7 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (6) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 48%|████▊     | 15/31 [29:11<28:51, 108.23s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."

adding 12 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 58%|█████▊    | 18/31 [35:33<22:25, 103.47s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."
5,0.04,0.20,"[77, 212, 773, 924, 1203, 1467, 1607, 1852, 19...",0.39,"[6, 1, 6, 13, 7, 1, 1, 7, 4, 7, 4, 6, 7, 1, 7,...",0.24,0.48,10.0,"Counter({7: 818, 1: 638, 9: 335, 4: 277, 6: 26..."

adding 25 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (10) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 68%|██████▊   | 21/31 [42:56<18:41, 112.12s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."
5,0.04,0.20,"[77, 212, 773, 924, 1203, 1467, 1607, 1852, 19...",0.39,"[6, 1, 6, 13, 7, 1, 1, 7, 4, 7, 4, 6, 7, 1, 7,...",0.24,0.48,10.0,"Counter({7: 818, 1: 638, 9: 335, 4: 277, 6: 26..."
6,0.05,0.04,"[70, 244, 365, 590, 608, 810, 882, 1250, 2026,...",0.20,"[4, 2, 2, 0, 2, 3, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.20,0.56,10.0,"Counter({0: 1253, 2: 772, 4: 239, 5: 192, 9: 1..."

adding 16 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 77%|███████▋  | 24/31 [48:28<11:19, 97.10s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."
5,0.04,0.20,"[77, 212, 773, 924, 1203, 1467, 1607, 1852, 19...",0.39,"[6, 1, 6, 13, 7, 1, 1, 7, 4, 7, 4, 6, 7, 1, 7,...",0.24,0.48,10.0,"Counter({7: 818, 1: 638, 9: 335, 4: 277, 6: 26..."
6,0.05,0.04,"[70, 244, 365, 590, 608, 810, 882, 1250, 2026,...",0.20,"[4, 2, 2, 0, 2, 3, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.20,0.56,10.0,"Counter({0: 1253, 2: 772, 4: 239, 5: 192, 9: 1..."
7,0.04,0.09,"[160, 609, 949, 1193, 1693, 1811, 1822, 1876, ...",0.24,"[15, 10, 11, 15, 11, 3, 5, 11, 0, 11, 5, 10, 1...",0.13,0.32,10.0,"Counter({15: 687, 11: 580, 5: 336, 0: 228, 13:..."

adding 18 random population

 87%|████████▋ | 27/31 [53:40<05:47, 86.91s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."
5,0.04,0.20,"[77, 212, 773, 924, 1203, 1467, 1607, 1852, 19...",0.39,"[6, 1, 6, 13, 7, 1, 1, 7, 4, 7, 4, 6, 7, 1, 7,...",0.24,0.48,10.0,"Counter({7: 818, 1: 638, 9: 335, 4: 277, 6: 26..."
6,0.05,0.04,"[70, 244, 365, 590, 608, 810, 882, 1250, 2026,...",0.20,"[4, 2, 2, 0, 2, 3, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.20,0.56,10.0,"Counter({0: 1253, 2: 772, 4: 239, 5: 192, 9: 1..."
7,0.04,0.09,"[160, 609, 949, 1193, 1693, 1811, 1822, 1876, ...",0.24,"[15, 10, 11, 15, 11, 3, 5, 11, 0, 11, 5, 10, 1...",0.13,0.32,10.0,"Counter({15: 687, 11: 580, 5: 336, 0: 228, 13:..."
8,0.05,0.16,"[162, 321, 375, 456, 496, 732, 773, 901, 980, ...",0.31,"[11, 9, 9, 6, 7, 3, 7, 9, 7, 7, 8, 8, 9, 9, 9,...",0.18,0.42,12.0,"Counter({9: 915, 7: 685, 8: 406, 11: 239, 12: ..."

adding 21 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (13) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (12) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 97%|█████████▋| 30/31 [1:00:27<01:39, 99.60s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.04,0.25,"[86, 335, 1222, 1466, 1740, 1910, 2007, 2615, ...",0.38,"[7, 0, 0, 0, 1, 7, 0, 1, 10, 10, 7, 0, 3, 0, 3...",0.22,0.39,10.0,"Counter({7: 714, 1: 622, 0: 515, 10: 392, 4: 1..."
1,0.04,0.17,"[112, 405, 609, 847, 951, 1466, 1531, 1617, 23...",0.34,"[9, 7, 3, 12, 1, 4, 9, 1, 7, 3, 9, 8, 1, 0, 1,...",0.22,0.48,10.0,"Counter({1: 816, 3: 502, 7: 360, 0: 315, 9: 29..."
2,0.04,0.19,"[405, 582, 587, 2025, 2303, 2862, 2883, 2912, ...",0.35,"[6, 3, 4, 3, 7, 15, 3, 0, 6, 7, 14, 10, 7, 4, ...",0.17,0.31,9.0,"Counter({7: 642, 11: 411, 3: 348, 1: 340, 6: 3..."
3,0.04,0.17,"[203, 279, 405, 945, 1122, 1589, 1639, 1720, 1...",0.30,"[3, 5, 9, 3, 8, 9, 5, 8, 3, 1, 3, 6, 8, 6, 8, ...",0.15,0.39,11.0,"Counter({1: 543, 6: 542, 8: 537, 3: 452, 5: 24..."
4,0.04,0.17,"[148, 466, 496, 639, 1852, 1885, 1943, 2048, 2...",0.30,"[8, 4, 0, 4, 15, 3, 4, 15, 3, 4, 4, 5, 15, 2, ...",0.20,0.39,9.0,"Counter({15: 862, 2: 461, 3: 319, 4: 313, 5: 2..."
5,0.04,0.20,"[77, 212, 773, 924, 1203, 1467, 1607, 1852, 19...",0.39,"[6, 1, 6, 13, 7, 1, 1, 7, 4, 7, 4, 6, 7, 1, 7,...",0.24,0.48,10.0,"Counter({7: 818, 1: 638, 9: 335, 4: 277, 6: 26..."
6,0.05,0.04,"[70, 244, 365, 590, 608, 810, 882, 1250, 2026,...",0.20,"[4, 2, 2, 0, 2, 3, 0, 0, 0, 0, 0, 2, 0, 0, 0, ...",0.20,0.56,10.0,"Counter({0: 1253, 2: 772, 4: 239, 5: 192, 9: 1..."
7,0.04,0.09,"[160, 609, 949, 1193, 1693, 1811, 1822, 1876, ...",0.24,"[15, 10, 11, 15, 11, 3, 5, 11, 0, 11, 5, 10, 1...",0.13,0.32,10.0,"Counter({15: 687, 11: 580, 5: 336, 0: 228, 13:..."
8,0.05,0.16,"[162, 321, 375, 456, 496, 732, 773, 901, 980, ...",0.31,"[11, 9, 9, 6, 7, 3, 7, 9, 7, 7, 8, 8, 9, 9, 9,...",0.18,0.42,12.0,"Counter({9: 915, 7: 685, 8: 406, 11: 239, 12: ..."
9,0.04,0.17,"[36, 423, 643, 699, 832, 1405, 2102, 2584, 270...",0.29,"[4, 13, 3, 0, 0, 0, 0, 4, 4, 13, 12, 4, 0, 4, ...",0.21,0.54,10.0,"Counter({0: 1204, 4: 734, 13: 173, 2: 127, 12:..."

adding 16 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (14) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (11) found smaller than n_clusters (16). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
100%|██████████| 31/31 [1:05:19<00:00, 126.45s/it]

TIME: GA: 65.33234525918961 min
TIME: Total: 65.84365501801173 min
(2881, 21143) (2881, 21143) keeping 3000 genes

##########  Romanov, (2881, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.21 sec
Entropy computation 5.47 sec
KNN computation 15.5 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.8 sec
Handle redundant features 0.12 sec
Returning 169 redundant features and  48 important features
TIME: 1d Features : 0.5400180538495382 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2830, orig size 2999, nb imp : 48
adding 50 random population

 10%|▉         | 3/31 [01:10<10:40, 22.88s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."

adding 3 random population

 19%|█▉        | 6/31 [03:40<15:13, 36.53s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."

adding 6 random population

 29%|██▉       | 9/31 [06:00<13:55, 38.00s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."

adding 8 random population

 39%|███▊      | 12/31 [08:15<11:55, 37.66s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."

adding 5 random population

 48%|████▊     | 15/31 [10:35<10:15, 38.50s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."

adding 2 random population

 58%|█████▊    | 18/31 [12:50<08:10, 37.76s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."
5,0.10,0.03,"[369, 825, 1475, 2696, 2975]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",0.17,0.69,5.0,"Counter({0: 1777, 3: 1016, 5: 50, 4: 14, 6: 13..."

adding 3 random population

 68%|██████▊   | 21/31 [15:07<06:19, 37.92s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."
5,0.10,0.03,"[369, 825, 1475, 2696, 2975]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",0.17,0.69,5.0,"Counter({0: 1777, 3: 1016, 5: 50, 4: 14, 6: 13..."
6,0.10,0.24,"[160, 189, 894, 2809]",0.22,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.21,0.59,4.0,"Counter({0: 1331, 4: 787, 3: 401, 1: 272, 5: 6..."

adding 9 random population

 77%|███████▋  | 24/31 [17:35<04:41, 40.27s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."
5,0.10,0.03,"[369, 825, 1475, 2696, 2975]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",0.17,0.69,5.0,"Counter({0: 1777, 3: 1016, 5: 50, 4: 14, 6: 13..."
6,0.10,0.24,"[160, 189, 894, 2809]",0.22,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.21,0.59,4.0,"Counter({0: 1331, 4: 787, 3: 401, 1: 272, 5: 6..."
7,0.11,0.06,"[394, 1003, 1089, 1579]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.14,0.94,4.0,"Counter({0: 2620, 2: 191, 1: 47, 4: 12, 5: 7, ..."

adding 4 random population

 87%|████████▋ | 27/31 [20:10<02:54, 43.60s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."
5,0.10,0.03,"[369, 825, 1475, 2696, 2975]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",0.17,0.69,5.0,"Counter({0: 1777, 3: 1016, 5: 50, 4: 14, 6: 13..."
6,0.10,0.24,"[160, 189, 894, 2809]",0.22,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.21,0.59,4.0,"Counter({0: 1331, 4: 787, 3: 401, 1: 272, 5: 6..."
7,0.11,0.06,"[394, 1003, 1089, 1579]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.14,0.94,4.0,"Counter({0: 2620, 2: 191, 1: 47, 4: 12, 5: 7, ..."
8,0.10,0.37,"[82, 972, 1414, 1762, 1998]",0.30,"[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...",0.20,0.55,5.0,"Counter({0: 1206, 5: 1167, 2: 276, 6: 117, 3: ..."

adding 18 random population

 97%|█████████▋| 30/31 [23:20<00:48, 48.57s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.09,0.31,"[63, 1222, 1265, 1722, 2357, 2662]",0.27,"[1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.19,0.54,6.0,"Counter({1: 1078, 4: 1057, 3: 405, 0: 244, 6: ..."
1,0.10,0.21,"[270, 534, 1730, 1913, 2970]",0.21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.21,0.69,5.0,"Counter({0: 1849, 3: 704, 5: 176, 2: 119, 4: 1..."
2,0.10,0.14,"[80, 214, 506, 848, 2040]",0.14,"[0, 0, 0, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.20,0.84,5.0,"Counter({0: 2242, 6: 472, 2: 112, 4: 42, 5: 8,..."
3,0.10,0.18,"[676, 1587, 1677, 2081, 2382]",0.15,"[0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.15,0.60,5.0,"Counter({3: 1432, 0: 1332, 4: 57, 6: 26, 5: 21..."
4,0.09,0.04,"[847, 1195, 1330, 2568, 2915]",0.09,"[4, 4, 4, 4, 4, 4, 1, 1, 4, 4, 4, 4, 4, 1, 4, ...",0.17,0.84,5.0,"Counter({4: 2276, 1: 377, 2: 123, 5: 47, 3: 40..."
5,0.10,0.03,"[369, 825, 1475, 2696, 2975]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",0.17,0.69,5.0,"Counter({0: 1777, 3: 1016, 5: 50, 4: 14, 6: 13..."
6,0.10,0.24,"[160, 189, 894, 2809]",0.22,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.21,0.59,4.0,"Counter({0: 1331, 4: 787, 3: 401, 1: 272, 5: 6..."
7,0.11,0.06,"[394, 1003, 1089, 1579]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.14,0.94,4.0,"Counter({0: 2620, 2: 191, 1: 47, 4: 12, 5: 7, ..."
8,0.10,0.37,"[82, 972, 1414, 1762, 1998]",0.30,"[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...",0.20,0.55,5.0,"Counter({0: 1206, 5: 1167, 2: 276, 6: 117, 3: ..."
9,0.11,0.04,"[484, 2402, 2728]",0.07,"[0, 0, 0, 5, 0, 0, 5, 5, 0, 0, 5, 0, 0, 0, 0, ...",0.14,0.73,3.0,"Counter({0: 1608, 5: 792, 6: 451, 1: 21, 4: 5,..."

adding 4 random population

100%|██████████| 31/31 [24:52<00:00, 48.16s/it]

TIME: GA: 24.88191862106323 min
TIME: Total: 25.42193703254064 min
(1090, 23341) (1090, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Limb_Muscle, (1090, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.23 sec
Entropy computation 2.49 sec
KNN computation 6.02 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 3.1 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.22 sec
Returning 214 redundant features and  54 important features
TIME: 1d Features : 0.22090378204981487 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2786, orig size 3000, nb imp : 54
adding 50 random population

 10%|▉         | 3/31 [00:22<03:38,  7.79s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."

adding 5 random population

 19%|█▉        | 6/31 [01:37<07:09, 17.20s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."

adding 3 random population

 29%|██▉       | 9/31 [02:28<05:34, 15.20s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."

adding 6 random population

 39%|███▊      | 12/31 [03:17<04:32, 14.35s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."

adding 8 random population

 48%|████▊     | 15/31 [04:05<03:40, 13.80s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"

adding 4 random population

 58%|█████▊    | 18/31 [04:54<03:01, 13.94s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"
5,0.12,0.18,"[351, 941, 1134, 1540, 2705]",0.26,"[4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.37,0.73,5.0,"Counter({0: 734, 3: 114, 4: 94, 2: 89, 1: 55, ..."

adding 6 random population

 68%|██████▊   | 21/31 [05:44<02:21, 14.18s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"
5,0.12,0.18,"[351, 941, 1134, 1540, 2705]",0.26,"[4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.37,0.73,5.0,"Counter({0: 734, 3: 114, 4: 94, 2: 89, 1: 55, ..."
6,0.11,0.21,"[316, 559, 687, 705, 761, 1139, 1964, 2272, 2769]",0.18,"[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, ...",0.28,0.76,9.0,"Counter({0: 797, 4: 147, 3: 98, 2: 23, 5: 14, ..."

adding 4 random population

 77%|███████▋  | 24/31 [07:19<02:25, 20.85s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"
5,0.12,0.18,"[351, 941, 1134, 1540, 2705]",0.26,"[4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.37,0.73,5.0,"Counter({0: 734, 3: 114, 4: 94, 2: 89, 1: 55, ..."
6,0.11,0.21,"[316, 559, 687, 705, 761, 1139, 1964, 2272, 2769]",0.18,"[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, ...",0.28,0.76,9.0,"Counter({0: 797, 4: 147, 3: 98, 2: 23, 5: 14, ..."
7,0.12,0.17,"[117, 2074, 2594, 2629, 2789]",0.22,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.23,0.68,5.0,"Counter({0: 617, 1: 422, 2: 28, 3: 11, 5: 8, 4..."

adding 11 random population

 87%|████████▋ | 27/31 [08:08<01:06, 16.73s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"
5,0.12,0.18,"[351, 941, 1134, 1540, 2705]",0.26,"[4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.37,0.73,5.0,"Counter({0: 734, 3: 114, 4: 94, 2: 89, 1: 55, ..."
6,0.11,0.21,"[316, 559, 687, 705, 761, 1139, 1964, 2272, 2769]",0.18,"[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, ...",0.28,0.76,9.0,"Counter({0: 797, 4: 147, 3: 98, 2: 23, 5: 14, ..."
7,0.12,0.17,"[117, 2074, 2594, 2629, 2789]",0.22,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.23,0.68,5.0,"Counter({0: 617, 1: 422, 2: 28, 3: 11, 5: 8, 4..."
8,0.14,0.05,"[126, 1058, 2643, 2722]",0.05,"[4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.73,4.0,"Counter({0: 677, 4: 390, 3: 9, 2: 7, 5: 7})"

adding 16 random population

 97%|█████████▋| 30/31 [09:04<00:16, 16.64s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.22,"[87, 565, 754, 1003, 1555, 2573]",0.24,"[1, 5, 4, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, ...",0.24,0.48,6.0,"Counter({2: 678, 1: 300, 4: 51, 5: 46, 3: 10, ..."
1,0.11,0.18,"[109, 559, 897, 2579, 2828]",0.17,"[0, 0, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 4, 0, ...",0.21,0.56,5.0,"Counter({0: 578, 5: 451, 2: 33, 3: 12, 4: 9, 1..."
2,0.12,0.07,"[42, 109, 491, 807, 2621]",0.15,"[1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 1, ...",0.29,0.80,5.0,"Counter({1: 634, 2: 425, 0: 12, 3: 8, 4: 6, 5:..."
3,0.12,0.03,"[55, 91, 151, 803, 1472]",0.05,"[1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, ...",0.20,0.67,5.0,"Counter({3: 548, 1: 511, 2: 12, 5: 9, 0: 6, 4:..."
4,0.12,0.08,"[263, 364, 1902, 2970]",0.12,"[1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 0, ...",0.27,0.75,4.0,"Counter({1: 617, 2: 376, 4: 75, 3: 15, 0: 7})"
5,0.12,0.18,"[351, 941, 1134, 1540, 2705]",0.26,"[4, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, ...",0.37,0.73,5.0,"Counter({0: 734, 3: 114, 4: 94, 2: 89, 1: 55, ..."
6,0.11,0.21,"[316, 559, 687, 705, 761, 1139, 1964, 2272, 2769]",0.18,"[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, ...",0.28,0.76,9.0,"Counter({0: 797, 4: 147, 3: 98, 2: 23, 5: 14, ..."
7,0.12,0.17,"[117, 2074, 2594, 2629, 2789]",0.22,"[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.23,0.68,5.0,"Counter({0: 617, 1: 422, 2: 28, 3: 11, 5: 8, 4..."
8,0.14,0.05,"[126, 1058, 2643, 2722]",0.05,"[4, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.24,0.73,4.0,"Counter({0: 677, 4: 390, 3: 9, 2: 7, 5: 7})"
9,0.11,0.05,"[1, 122, 1213, 2027, 2273]",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",0.20,0.90,5.0,"Counter({0: 942, 3: 71, 1: 32, 2: 20, 4: 15, 5..."

adding 29 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (6). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
100%|██████████| 31/31 [09:32<00:00, 18.48s/it]

TIME: GA: 9.546417808532714 min
TIME: Total: 9.767321944236755 min
(2122, 19046) (2122, 19046) keeping 3000 genes

##########  Muraro, (2122, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.66 sec
Entropy computation 4.38 sec
KNN computation 11.42 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 5.7 sec
Handle redundant features 0.18 sec
Returning 348 redundant features and  14 important features
TIME: 1d Features : 0.40444429715474445 min
TIME: 2d scores: 7.947285970052083e-09 min
*** Optimization algorithm
Non redundant features 2652, orig size 3000, nb imp : 14
adding 50 random population

 10%|▉         | 3/31 [00:44<07:17, 15.64s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.1,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."

adding 12 random population

 19%|█▉        | 6/31 [02:33<11:08, 26.76s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."

adding 11 random population

 29%|██▉       | 9/31 [04:39<11:37, 31.68s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."

adding 10 random population

 39%|███▊      | 12/31 [06:50<10:54, 34.43s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."

adding 7 random population

 48%|████▊     | 15/31 [09:02<09:28, 35.56s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."

adding 8 random population

 58%|█████▊    | 18/31 [11:28<08:15, 38.12s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."
5,0.09,0.07,"[719, 1064, 1144, 1317, 1705, 2323, 2623]",0.22,"[1, 0, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1, ...",0.26,0.73,7.0,"Counter({0: 975, 1: 354, 2: 326, 7: 230, 3: 21..."

adding 2 random population

 68%|██████▊   | 21/31 [13:42<06:12, 37.21s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."
5,0.09,0.07,"[719, 1064, 1144, 1317, 1705, 2323, 2623]",0.22,"[1, 0, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1, ...",0.26,0.73,7.0,"Counter({0: 975, 1: 354, 2: 326, 7: 230, 3: 21..."
6,0.08,0.06,"[474, 486, 607, 1017, 1573, 2345, 2760, 2786]",0.13,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, ...",0.21,0.89,8.0,"Counter({0: 1712, 2: 190, 3: 80, 1: 52, 6: 28,..."

adding 16 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (8) found smaller than n_clusters (9). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 77%|███████▋  | 24/31 [16:17<04:40, 40.09s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."
5,0.09,0.07,"[719, 1064, 1144, 1317, 1705, 2323, 2623]",0.22,"[1, 0, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1, ...",0.26,0.73,7.0,"Counter({0: 975, 1: 354, 2: 326, 7: 230, 3: 21..."
6,0.08,0.06,"[474, 486, 607, 1017, 1573, 2345, 2760, 2786]",0.13,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, ...",0.21,0.89,8.0,"Counter({0: 1712, 2: 190, 3: 80, 1: 52, 6: 28,..."
7,0.08,0.17,"[779, 1264, 1570, 1574, 1668, 2121]",0.18,"[0, 1, 3, 0, 3, 0, 0, 0, 0, 8, 4, 0, 8, 1, 0, ...",0.26,0.80,6.0,"Counter({0: 1434, 1: 288, 3: 131, 4: 109, 8: 1..."

adding 4 random population

 87%|████████▋ | 27/31 [18:31<02:31, 37.97s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."
5,0.09,0.07,"[719, 1064, 1144, 1317, 1705, 2323, 2623]",0.22,"[1, 0, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1, ...",0.26,0.73,7.0,"Counter({0: 975, 1: 354, 2: 326, 7: 230, 3: 21..."
6,0.08,0.06,"[474, 486, 607, 1017, 1573, 2345, 2760, 2786]",0.13,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, ...",0.21,0.89,8.0,"Counter({0: 1712, 2: 190, 3: 80, 1: 52, 6: 28,..."
7,0.08,0.17,"[779, 1264, 1570, 1574, 1668, 2121]",0.18,"[0, 1, 3, 0, 3, 0, 0, 0, 0, 8, 4, 0, 8, 1, 0, ...",0.26,0.80,6.0,"Counter({0: 1434, 1: 288, 3: 131, 4: 109, 8: 1..."
8,0.08,0.08,"[252, 403, 477, 749, 2274, 2282, 2633]",0.14,"[0, 5, 5, 0, 6, 1, 0, 1, 1, 5, 5, 6, 5, 0, 0, ...",0.16,0.54,7.0,"Counter({1: 797, 0: 667, 5: 525, 4: 38, 8: 36,..."

adding 13 random population

/usr/local/lib/python3.6/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (9). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
 97%|█████████▋| 30/31 [20:55<00:38, 38.89s/it]

,adapted_ratkowsky_lance,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.10,0.04,"[1041, 1227, 1548, 2152]",0.12,"[0, 0, 0, 0, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.22,0.95,4.0,"Counter({0: 1876, 6: 176, 4: 24, 3: 23, 2: 9, ..."
1,0.09,0.32,"[589, 602, 1401, 2585, 2778, 2843]",0.30,"[5, 1, 2, 2, 4, 4, 2, 5, 2, 5, 1, 2, 5, 2, 5, ...",0.20,0.66,6.0,"Counter({2: 795, 0: 661, 1: 425, 5: 200, 7: 19..."
2,0.08,0.39,"[6, 13, 484, 924, 1223, 2605, 2682]",0.36,"[3, 2, 3, 3, 5, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, ...",0.24,0.67,7.0,"Counter({3: 864, 0: 773, 2: 262, 4: 120, 5: 41..."
3,0.08,0.06,"[277, 758, 933, 1074, 1102, 1981, 2387]",0.26,"[0, 7, 1, 3, 1, 1, 1, 8, 1, 1, 7, 1, 0, 0, 1, ...",0.26,0.76,7.0,"Counter({1: 1100, 0: 377, 7: 145, 6: 140, 2: 1..."
4,0.08,0.24,"[200, 247, 346, 629, 2226, 2251, 2686]",0.31,"[4, 1, 6, 6, 4, 4, 6, 4, 3, 1, 1, 3, 3, 6, 4, ...",0.21,0.52,7.0,"Counter({6: 588, 3: 529, 1: 345, 2: 223, 4: 21..."
5,0.09,0.07,"[719, 1064, 1144, 1317, 1705, 2323, 2623]",0.22,"[1, 0, 0, 1, 0, 0, 1, 3, 1, 0, 0, 0, 3, 1, 1, ...",0.26,0.73,7.0,"Counter({0: 975, 1: 354, 2: 326, 7: 230, 3: 21..."
6,0.08,0.06,"[474, 486, 607, 1017, 1573, 2345, 2760, 2786]",0.13,"[0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, ...",0.21,0.89,8.0,"Counter({0: 1712, 2: 190, 3: 80, 1: 52, 6: 28,..."
7,0.08,0.17,"[779, 1264, 1570, 1574, 1668, 2121]",0.18,"[0, 1, 3, 0, 3, 0, 0, 0, 0, 8, 4, 0, 8, 1, 0, ...",0.26,0.80,6.0,"Counter({0: 1434, 1: 288, 3: 131, 4: 109, 8: 1..."
8,0.08,0.08,"[252, 403, 477, 749, 2274, 2282, 2633]",0.14,"[0, 5, 5, 0, 6, 1, 0, 1, 1, 5, 5, 6, 5, 0, 0, ...",0.16,0.54,7.0,"Counter({1: 797, 0: 667, 5: 525, 4: 38, 8: 36,..."
9,0.10,0.08,"[110, 1087, 1092, 1405, 2306, 2934]",0.24,"[7, 1, 0, 8, 1, 6, 1, 8, 0, 1, 8, 8, 8, 0, 8, ...",0.25,0.74,6.0,"Counter({1: 923, 0: 510, 8: 430, 7: 216, 6: 26..."

adding 14 random population

100%|██████████| 31/31 [22:23<00:00, 43.34s/it]

TIME: GA: 22.392295559247334 min
TIME: Total: 22.796740249792734 min

In [68]:
results.groupby("dataset_name").agg({"ari": max})

                               ari
dataset_name
Muraro                        0.39
Quake_10x_Limb_Muscle         0.32
Quake_Smart-seq2_Diaphragm    0.61
Quake_Smart-seq2_Limb_Muscle  0.22
Quake_Smart-seq2_Lung         0.27
Quake_Smart-seq2_Trachea      0.28
Romanov                       0.37
mouse_ES_cell                 0.19
mouse_bladder_cell            0.25

In [75]:
results.groupby("dataset_name").agg({"ari": max}).mean()

ari    0.322222
dtype: float64

In [72]:
r1 = pd.read_excel("../reports/scRNAseq_gmm.xlsx")

In [76]:
r1.groupby("dataset_name").agg({"ari": max})

                               ari
dataset_name
Muraro                        0.45
Quake_10x_Limb_Muscle         0.28
Quake_Smart-seq2_Diaphragm    0.54
Quake_Smart-seq2_Limb_Muscle  0.14
Quake_Smart-seq2_Lung         0.25
Quake_Smart-seq2_Trachea      0.42
Romanov                       0.27
mouse_ES_cell                 0.32
mouse_bladder_cell            0.28

In [ ]:
results.groupby("dataset_name").agg({"ari": max})

In [8]:
clustering = "hdbscan"
results = None
method = "adapted_silhouette"
# imp_f = np.arange(20)
for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = 3000, normalize_input=False)
    data = preprocessing.MinMaxScaler().fit_transform(data)
    n_clusters = len(np.unique(truth))

    print(f"\n##########  {name}, {data.shape}")

    # Clustering 1D
    meta_features = feature_ranking.rank_features(data,
                                              nb_bins=20,
                                              rank_threshold=98,
                                              z_file=None,
                                              metric='correlation',
                                              redundant_threshold=0.4)
    t2 = time.time()
    print(f"TIME: 1d Features : {(t2-t1)/60} min")


    t3 = time.time()
    t4 = time.time()
    print(f"TIME: 2d scores: {(t4-t3)/60} min")
    round_size = 3
    epochs = 10*round_size

    sampling = {
    "ARCHIVE2D": { 
        "ga": 0,
        "max": 0 },
    "CLOSE": { 
        "ga": 0.35,
        "max": 0.35 },
    "IMP1D": { 
        "ga": 0.35,
        "max": 0.35 },
    "RANDOM": { 
        "ga": 0.3,
        "max": 0.3},
    }

    params = ga.ga_parameters(
        n_clusters,
        data.shape[1],
        truth,
        meta_features,
        method=method,
        truth_methods=['ari'],
        archive_2d=None,#population[:data.shape[1] // 4],
        epochs=epochs,
        sampling = sampling,
        round_size=round_size,
        allow_subspace_overlap = True,
        improvement_per_mutation_report = False,
        clustering = clustering
        
    )
    solutions, archive= ga.run(data, params)
#     display(params["report"].groupby(["op", "improvement"]).count())
    solutions["dataset_name"] = name
    
    t5 = time.time()
    n_total = t5-t1
    print(f"TIME: GA: {(t5-t4)/60} min")
    print(f"TIME: Total: {(t5-t1)/60} min")
    solutions["total_time"] = round((t5-t1)/60, 1)
    solutions["t(feature_sel)"] = round((t2-t1)/60, 1)
    solutions["t(cnn)"] = round((t3-t2)/60, 1)
    solutions["t(clustering2d)"] = round((t4-t3)/60, 1)
    solutions["t(ga)"] = round((t5-t4)/60, 1)
    
    solutions["n_ga"] = archive.shape[0]
    solutions["n_cnn"] = n_total
    solutions["input_size"] = data.shape[1]
    
    
    solutions["n_non_redundant"] = meta_features[(meta_features["redundant"] ==1) ].shape[0]
    solutions["n_imp"] = meta_features[(meta_features["relevance"] !=0)].shape[0]
    solutions["n_imp4"] = meta_features[(meta_features["relevance"] ==4)].shape[0]
    solutions["n_imp3"] = meta_features[(meta_features["relevance"] ==3)].shape[0]
    
    
    if results is None: 
        results = solutions
    else:
        results = pd.concat([results, solutions], ignore_index = True)
    results.to_excel("../reports/scRNAseq_hdbscan.xlsx")

(1350, 23341) (1350, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Trachea, (1350, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.41 sec
Entropy computation 2.7 sec
KNN computation 7.3 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 3.67 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.23 sec
Returning 376 redundant features and  45 important features
TIME: 1d Features : 0.2684640924135844 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2623, orig size 2999, nb imp : 45
adding 50 random population

 10%|▉         | 3/31 [00:59<09:02, 19.37s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"

adding 19 random population

 19%|█▉        | 6/31 [03:28<14:24, 34.60s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"

adding 24 random population

 29%|██▉       | 9/31 [09:24<25:41, 70.05s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"

adding 31 random population

 39%|███▊      | 12/31 [17:04<30:34, 96.53s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"

adding 45 random population

 48%|████▊     | 15/31 [19:33<15:43, 58.96s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"

adding 35 random population

 58%|█████▊    | 18/31 [23:16<12:25, 57.36s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"
5,0.01,0.887721,0.12,"[40, 48, 66, 73, 101, 102, 105, 116, 136, 137,...",0.10,"[1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1...",0.07,0.90,103.0,"Counter({1: 1244, -1: 70, 0: 19, 2: 17})"

adding 19 random population

 68%|██████▊   | 21/31 [28:28<11:37, 69.71s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"
5,0.01,0.887721,0.12,"[40, 48, 66, 73, 101, 102, 105, 116, 136, 137,...",0.10,"[1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1...",0.07,0.90,103.0,"Counter({1: 1244, -1: 70, 0: 19, 2: 17})"
6,0.01,0.867817,0.07,"[7, 40, 50, 66, 73, 101, 102, 108, 116, 136, 1...",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.88,114.0,"Counter({0: 1286, -1: 54, 1: 10})"

adding 27 random population

 77%|███████▋  | 24/31 [33:55<08:53, 76.24s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"
5,0.01,0.887721,0.12,"[40, 48, 66, 73, 101, 102, 105, 116, 136, 137,...",0.10,"[1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1...",0.07,0.90,103.0,"Counter({1: 1244, -1: 70, 0: 19, 2: 17})"
6,0.01,0.867817,0.07,"[7, 40, 50, 66, 73, 101, 102, 108, 116, 136, 1...",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.88,114.0,"Counter({0: 1286, -1: 54, 1: 10})"
7,0.02,0.872810,0.09,"[7, 14, 15, 20, 26, 31, 32, 40, 47, 76, 87, 96...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.88,155.0,"Counter({0: 1283, -1: 56, 1: 11})"

adding 45 random population

 87%|████████▋ | 27/31 [38:34<04:45, 71.31s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"
5,0.01,0.887721,0.12,"[40, 48, 66, 73, 101, 102, 105, 116, 136, 137,...",0.10,"[1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1...",0.07,0.90,103.0,"Counter({1: 1244, -1: 70, 0: 19, 2: 17})"
6,0.01,0.867817,0.07,"[7, 40, 50, 66, 73, 101, 102, 108, 116, 136, 1...",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.88,114.0,"Counter({0: 1286, -1: 54, 1: 10})"
7,0.02,0.872810,0.09,"[7, 14, 15, 20, 26, 31, 32, 40, 47, 76, 87, 96...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.88,155.0,"Counter({0: 1283, -1: 56, 1: 11})"
8,0.01,0.870394,0.11,"[40, 50, 57, 62, 76, 101, 136, 142, 151, 165, ...",0.09,"[0, 0, -1, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, ...",0.10,0.88,98.0,"Counter({0: 1230, -1: 81, 1: 26, 2: 13})"

adding 19 random population

 97%|█████████▋| 30/31 [43:39<01:13, 73.60s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.837464,0.06,"[15, 21, 36, 57, 64, 80, 96, 137, 138, 143, 15...",0.05,"[0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0,...",0.06,0.85,60.0,"Counter({0: 1165, -1: 117, 1: 68})"
1,0.01,0.850066,0.05,"[15, 40, 50, 62, 88, 101, 108, 134, 136, 143, ...",0.05,"[0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.02,0.86,97.0,"Counter({0: 1272, -1: 62, 1: 16})"
2,0.01,0.884599,0.05,"[7, 14, 15, 32, 33, 40, 64, 73, 96, 101, 116, ...",0.03,"[0, 0, 0, -1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",0.03,0.89,126.0,"Counter({0: 1273, -1: 66, 1: 11})"
3,0.01,0.859750,0.01,"[14, 19, 25, 33, 65, 101, 108, 121, 123, 149, ...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, ...",0.04,0.88,54.0,"Counter({1: 1215, -1: 103, 2: 22, 0: 10})"
4,0.01,0.858276,0.10,"[40, 73, 78, 101, 102, 105, 136, 137, 151, 156...",0.04,"[0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, -1, 0, 0, 0...",0.02,0.87,87.0,"Counter({0: 1225, -1: 108, 1: 17})"
5,0.01,0.887721,0.12,"[40, 48, 66, 73, 101, 102, 105, 116, 136, 137,...",0.10,"[1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1...",0.07,0.90,103.0,"Counter({1: 1244, -1: 70, 0: 19, 2: 17})"
6,0.01,0.867817,0.07,"[7, 40, 50, 66, 73, 101, 102, 108, 116, 136, 1...",0.06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.88,114.0,"Counter({0: 1286, -1: 54, 1: 10})"
7,0.02,0.872810,0.09,"[7, 14, 15, 20, 26, 31, 32, 40, 47, 76, 87, 96...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.88,155.0,"Counter({0: 1283, -1: 56, 1: 11})"
8,0.01,0.870394,0.11,"[40, 50, 57, 62, 76, 101, 136, 142, 151, 165, ...",0.09,"[0, 0, -1, 0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, ...",0.10,0.88,98.0,"Counter({0: 1230, -1: 81, 1: 26, 2: 13})"
9,0.01,0.855465,0.02,"[15, 38, 40, 44, 57, 101, 108, 129, 136, 143, ...",0.02,"[1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,...",0.01,0.87,84.0,"Counter({1: 1204, -1: 115, 2: 16, 0: 15})"

adding 44 random population

100%|██████████| 31/31 [46:37<00:00, 90.26s/it]

TIME: GA: 46.63299170335134 min
TIME: Total: 46.901456133524576 min
(870, 23341) (870, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Diaphragm, (870, 2999)
*** Computing 1D feature ranking ...
Dispersion tests took 0.16 sec

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Entropy computation 1.88 sec
KNN computation 4.48 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 2.16 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.23 sec
Returning 284 redundant features and  53 important features
TIME: 1d Features : 0.16758697827657063 min
TIME: 2d scores: 7.947285970052083e-09 min
*** Optimization algorithm
Non redundant features 2715, orig size 2999, nb imp : 53
adding 50 random population

 10%|▉         | 3/31 [00:44<06:46, 14.51s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"

adding 13 random population

 19%|█▉        | 6/31 [03:43<15:28, 37.13s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"

adding 34 random population

 29%|██▉       | 9/31 [05:28<11:24, 31.10s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"

adding 25 random population

 39%|███▊      | 12/31 [07:33<10:15, 32.41s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"

adding 45 random population

 48%|████▊     | 15/31 [09:37<08:40, 32.54s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"

adding 15 random population

 58%|█████▊    | 18/31 [12:52<09:18, 42.97s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"
5,0.01,0.864533,0.01,"[55, 62, 74, 82, 112, 116, 134, 175, 186, 203,...",0.02,"[-1, 0, -1, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, ...",0.04,0.88,68.0,"Counter({0: 798, -1: 60, 1: 12})"

adding 28 random population

 68%|██████▊   | 21/31 [15:34<06:58, 41.83s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"
5,0.01,0.864533,0.01,"[55, 62, 74, 82, 112, 116, 134, 175, 186, 203,...",0.02,"[-1, 0, -1, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, ...",0.04,0.88,68.0,"Counter({0: 798, -1: 60, 1: 12})"
6,0.02,0.861676,0.08,"[17, 22, 24, 25, 74, 79, 114, 130, 134, 175, 2...",0.11,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",0.09,0.88,50.0,"Counter({0: 782, -1: 59, 1: 29})"

adding 50 random population

 77%|███████▋  | 24/31 [17:21<03:52, 33.16s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"
5,0.01,0.864533,0.01,"[55, 62, 74, 82, 112, 116, 134, 175, 186, 203,...",0.02,"[-1, 0, -1, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, ...",0.04,0.88,68.0,"Counter({0: 798, -1: 60, 1: 12})"
6,0.02,0.861676,0.08,"[17, 22, 24, 25, 74, 79, 114, 130, 134, 175, 2...",0.11,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",0.09,0.88,50.0,"Counter({0: 782, -1: 59, 1: 29})"
7,0.01,0.832955,0.01,"[30, 85, 106, 112, 136, 154, 164, 203, 231, 29...",0.01,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.05,0.85,62.0,"Counter({1: 775, -1: 73, 2: 11, 0: 11})"

adding 22 random population

 87%|████████▋ | 27/31 [19:26<02:11, 32.83s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"
5,0.01,0.864533,0.01,"[55, 62, 74, 82, 112, 116, 134, 175, 186, 203,...",0.02,"[-1, 0, -1, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, ...",0.04,0.88,68.0,"Counter({0: 798, -1: 60, 1: 12})"
6,0.02,0.861676,0.08,"[17, 22, 24, 25, 74, 79, 114, 130, 134, 175, 2...",0.11,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",0.09,0.88,50.0,"Counter({0: 782, -1: 59, 1: 29})"
7,0.01,0.832955,0.01,"[30, 85, 106, 112, 136, 154, 164, 203, 231, 29...",0.01,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.05,0.85,62.0,"Counter({1: 775, -1: 73, 2: 11, 0: 11})"
8,0.01,0.864765,0.07,"[27, 33, 37, 74, 88, 106, 127, 148, 187, 192, ...",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1,...",0.04,0.88,60.0,"Counter({0: 793, -1: 61, 1: 16})"

adding 42 random population

 97%|█████████▋| 30/31 [21:29<00:32, 32.61s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.866229,0.03,"[7, 14, 21, 25, 37, 62, 73, 190, 208, 210, 221...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.04,0.88,74.0,"Counter({0: 805, -1: 53, 1: 12})"
1,0.01,0.848155,0.02,"[0, 3, 18, 112, 116, 120, 203, 221, 255, 261, ...",0.03,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.08,0.87,50.0,"Counter({1: 778, -1: 64, 2: 18, 0: 10})"
2,0.01,0.867977,0.08,"[6, 25, 31, 62, 74, 82, 101, 112, 139, 142, 16...",0.08,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.11,0.88,60.0,"Counter({1: 787, -1: 46, 2: 23, 0: 14})"
3,0.01,0.871619,0.03,"[37, 102, 119, 221, 250, 329, 332, 334, 372, 4...",0.03,"[0, 0, 0, 0, 0, 1, 0, 0, 0, -1, 0, 0, 0, 0, 0,...",0.05,0.89,59.0,"Counter({0: 797, -1: 56, 1: 17})"
4,0.02,0.870299,0.02,"[34, 74, 88, 89, 93, 102, 108, 110, 125, 164, ...",0.02,"[0, 0, 0, 0, 0, -1, -1, 0, 0, 0, 0, 0, 0, 0, 0...",0.04,0.88,70.0,"Counter({0: 809, -1: 49, 1: 12})"
5,0.01,0.864533,0.01,"[55, 62, 74, 82, 112, 116, 134, 175, 186, 203,...",0.02,"[-1, 0, -1, 0, 0, 0, 0, 0, -1, 0, 0, 0, 0, 0, ...",0.04,0.88,68.0,"Counter({0: 798, -1: 60, 1: 12})"
6,0.02,0.861676,0.08,"[17, 22, 24, 25, 74, 79, 114, 130, 134, 175, 2...",0.11,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1, 0, 0, 0, 0,...",0.09,0.88,50.0,"Counter({0: 782, -1: 59, 1: 29})"
7,0.01,0.832955,0.01,"[30, 85, 106, 112, 136, 154, 164, 203, 231, 29...",0.01,"[1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",0.05,0.85,62.0,"Counter({1: 775, -1: 73, 2: 11, 0: 11})"
8,0.01,0.864765,0.07,"[27, 33, 37, 74, 88, 106, 127, 148, 187, 192, ...",0.04,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1,...",0.04,0.88,60.0,"Counter({0: 793, -1: 61, 1: 16})"
9,0.04,0.845418,0.06,"[11, 55, 60, 74, 105, 134, 165, 172, 185, 215,...",0.13,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.27,0.85,97.0,"Counter({0: 841, 1: 16, -1: 13})"

adding 45 random population

100%|██████████| 31/31 [24:54<00:00, 48.20s/it]

TIME: GA: 24.902049084504444 min
TIME: Total: 25.069638907909393 min
(2717, 24175) (2717, 24175) keeping 3000 genes

##########  mouse_ES_cell, (2717, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.1 sec
Entropy computation 5.51 sec
KNN computation 15.03 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.45 sec
Handle redundant features 0.07 sec
Returning 12 redundant features and  11 important features
TIME: 1d Features : 0.5788909792900085 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2987, orig size 2999, nb imp : 11
adding 50 random population

 10%|▉         | 3/31 [01:46<16:03, 34.39s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.9,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."

adding 2 random population

 19%|█▉        | 6/31 [06:08<25:09, 60.38s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."

adding 5 random population

 29%|██▉       | 9/31 [11:19<27:29, 74.96s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."

adding 1 random population

 39%|███▊      | 12/31 [16:41<25:37, 80.92s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."

adding 3 random population

 48%|████▊     | 15/31 [22:15<22:36, 84.80s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."

adding 18 random population

 58%|█████▊    | 18/31 [26:17<15:50, 73.12s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."
5,0.03,0.808032,-0.02,"[146, 1062, 1071, 1276, 1277, 1576, 1622, 1672...",0.07,"[8, 7, 8, 8, 2, 7, -1, 4, 8, 8, 8, 2, 5, 8, 2,...",0.09,0.88,11.0,"Counter({8: 2234, -1: 129, 7: 83, 2: 58, 5: 45..."

adding 27 random population

 68%|██████▊   | 21/31 [30:35<11:50, 71.05s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."
5,0.03,0.808032,-0.02,"[146, 1062, 1071, 1276, 1277, 1576, 1622, 1672...",0.07,"[8, 7, 8, 8, 2, 7, -1, 4, 8, 8, 8, 2, 5, 8, 2,...",0.09,0.88,11.0,"Counter({8: 2234, -1: 129, 7: 83, 2: 58, 5: 45..."
6,0.03,0.832576,-0.02,"[1037, 1084, 1572, 1583, 1591, 1600, 1629, 166...",0.06,"[7, 7, 6, 7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, -1,...",0.08,0.92,10.0,"Counter({7: 2344, -1: 87, 5: 60, 0: 45, 6: 41,..."

 77%|███████▋  | 24/31 [35:51<09:13, 79.01s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."
5,0.03,0.808032,-0.02,"[146, 1062, 1071, 1276, 1277, 1576, 1622, 1672...",0.07,"[8, 7, 8, 8, 2, 7, -1, 4, 8, 8, 8, 2, 5, 8, 2,...",0.09,0.88,11.0,"Counter({8: 2234, -1: 129, 7: 83, 2: 58, 5: 45..."
6,0.03,0.832576,-0.02,"[1037, 1084, 1572, 1583, 1591, 1600, 1629, 166...",0.06,"[7, 7, 6, 7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, -1,...",0.08,0.92,10.0,"Counter({7: 2344, -1: 87, 5: 60, 0: 45, 6: 41,..."
7,0.03,0.859062,-0.02,"[992, 993, 1037, 1062, 1071, 1083, 1084, 1591,...",0.06,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...",0.08,0.93,13.0,"Counter({5: 2386, -1: 79, 0: 64, 4: 54, 6: 45,..."

adding 12 random population

 87%|████████▋ | 27/31 [41:11<05:27, 81.90s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."
5,0.03,0.808032,-0.02,"[146, 1062, 1071, 1276, 1277, 1576, 1622, 1672...",0.07,"[8, 7, 8, 8, 2, 7, -1, 4, 8, 8, 8, 2, 5, 8, 2,...",0.09,0.88,11.0,"Counter({8: 2234, -1: 129, 7: 83, 2: 58, 5: 45..."
6,0.03,0.832576,-0.02,"[1037, 1084, 1572, 1583, 1591, 1600, 1629, 166...",0.06,"[7, 7, 6, 7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, -1,...",0.08,0.92,10.0,"Counter({7: 2344, -1: 87, 5: 60, 0: 45, 6: 41,..."
7,0.03,0.859062,-0.02,"[992, 993, 1037, 1062, 1071, 1083, 1084, 1591,...",0.06,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...",0.08,0.93,13.0,"Counter({5: 2386, -1: 79, 0: 64, 4: 54, 6: 45,..."
8,0.03,0.808650,-0.02,"[992, 993, 1035, 1037, 1062, 1122, 1275, 1600,...",0.06,"[6, 5, 5, 2, 5, 6, 5, 2, 5, 5, 2, 5, 5, 5, 5, ...",0.09,0.87,13.0,"Counter({5: 2219, 2: 150, -1: 147, 4: 58, 6: 4..."

adding 3 random population

 97%|█████████▋| 30/31 [45:48<01:16, 76.79s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.03,0.817077,-0.02,"[1037, 1083, 1084, 1428, 1600, 1601, 1627, 165...",0.06,"[6, 6, 6, 6, 6, -1, 5, 6, 6, 6, 1, 6, 6, 6, 3,...",0.07,0.90,10.0,"Counter({6: 2272, -1: 99, 3: 67, 5: 66, 7: 63,..."
1,0.02,0.809996,-0.02,"[1025, 1037, 1042, 1084, 1275, 1570, 1572, 158...",0.06,"[10, 10, 9, 10, 10, 7, 10, -1, 10, 10, 10, 10,...",0.08,0.88,12.0,"Counter({10: 2237, -1: 142, 1: 48, 0: 47, 9: 4..."
2,0.03,0.824511,-0.02,"[992, 993, 1037, 1042, 1062, 1071, 1084, 1572,...",0.07,"[7, 7, 3, 7, 7, 7, 7, 8, 8, 7, 7, 7, 7, 7, 4, ...",0.08,0.89,13.0,"Counter({7: 2239, -1: 120, 8: 59, 6: 58, 5: 54..."
3,0.03,0.860582,-0.01,"[670, 672, 1037, 1066, 1067, 1083, 1574, 1624,...",0.04,"[7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",0.07,0.93,12.0,"Counter({7: 2435, -1: 75, 3: 59, 5: 46, 6: 28,..."
4,0.05,0.811582,-0.02,"[670, 672, 1101, 1581, 1603, 1689, 1694, 2870]",0.05,"[5, 5, 5, 1, 5, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, ...",0.09,0.91,8.0,"Counter({5: 2335, 2: 97, -1: 82, 4: 69, 6: 60,..."
5,0.03,0.808032,-0.02,"[146, 1062, 1071, 1276, 1277, 1576, 1622, 1672...",0.07,"[8, 7, 8, 8, 2, 7, -1, 4, 8, 8, 8, 2, 5, 8, 2,...",0.09,0.88,11.0,"Counter({8: 2234, -1: 129, 7: 83, 2: 58, 5: 45..."
6,0.03,0.832576,-0.02,"[1037, 1084, 1572, 1583, 1591, 1600, 1629, 166...",0.06,"[7, 7, 6, 7, 7, 7, 2, 7, 7, 7, 7, 7, 7, 7, -1,...",0.08,0.92,10.0,"Counter({7: 2344, -1: 87, 5: 60, 0: 45, 6: 41,..."
7,0.03,0.859062,-0.02,"[992, 993, 1037, 1062, 1071, 1083, 1084, 1591,...",0.06,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...",0.08,0.93,13.0,"Counter({5: 2386, -1: 79, 0: 64, 4: 54, 6: 45,..."
8,0.03,0.808650,-0.02,"[992, 993, 1035, 1037, 1062, 1122, 1275, 1600,...",0.06,"[6, 5, 5, 2, 5, 6, 5, 2, 5, 5, 2, 5, 5, 5, 5, ...",0.09,0.87,13.0,"Counter({5: 2219, 2: 150, -1: 147, 4: 58, 6: 4..."
9,0.02,0.817383,-0.02,"[440, 992, 993, 1037, 1041, 1570, 1572, 1591, ...",0.07,"[9, 9, 5, 9, 9, 9, 9, -1, 8, 1, 9, 9, 1, 6, 9,...",0.08,0.88,13.0,"Counter({9: 2227, -1: 134, 7: 80, 1: 53, 8: 44..."

adding 28 random population

100%|██████████| 31/31 [49:52<00:00, 96.55s/it]

TIME: GA: 49.88252563476563 min
TIME: Total: 50.461418970425925 min
(1676, 23341) (1676, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Lung, (1676, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.47 sec
Entropy computation 3.39 sec
KNN computation 8.79 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 4.38 sec
Handle redundant features 0.15 sec
Returning 193 redundant features and  57 important features
TIME: 1d Features : 0.3160281101862589 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2806, orig size 2999, nb imp : 57
adding 50 random population

 10%|▉         | 3/31 [01:09<10:40, 22.88s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.1,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."

adding 18 random population

 19%|█▉        | 6/31 [05:08<21:29, 51.56s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"

adding 39 random population

 29%|██▉       | 9/31 [11:42<30:00, 81.84s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"

adding 46 random population

 39%|███▊      | 12/31 [16:46<24:32, 77.49s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"

adding 22 random population

 48%|████▊     | 15/31 [25:29<29:01, 108.83s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"

adding 27 random population

 58%|█████▊    | 18/31 [28:45<15:30, 71.56s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"
5,0.02,0.872613,0.01,"[60, 103, 115, 120, 215, 224, 248, 384, 425, 4...",0.09,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.17,0.89,44.0,"Counter({4: 1464, -1: 95, 1: 65, 2: 17, 0: 13,..."

adding 35 random population

 68%|██████▊   | 21/31 [33:06<11:20, 68.07s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"
5,0.02,0.872613,0.01,"[60, 103, 115, 120, 215, 224, 248, 384, 425, 4...",0.09,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.17,0.89,44.0,"Counter({4: 1464, -1: 95, 1: 65, 2: 17, 0: 13,..."
6,0.01,0.867568,0.04,"[18, 94, 141, 145, 150, 156, 162, 230, 248, 27...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.89,45.0,"Counter({2: 1538, -1: 114, 0: 12, 1: 12})"

adding 50 random population

 77%|███████▋  | 24/31 [36:38<06:53, 59.08s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"
5,0.02,0.872613,0.01,"[60, 103, 115, 120, 215, 224, 248, 384, 425, 4...",0.09,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.17,0.89,44.0,"Counter({4: 1464, -1: 95, 1: 65, 2: 17, 0: 13,..."
6,0.01,0.867568,0.04,"[18, 94, 141, 145, 150, 156, 162, 230, 248, 27...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.89,45.0,"Counter({2: 1538, -1: 114, 0: 12, 1: 12})"
7,0.03,0.848371,0.07,"[23, 29, 67, 85, 108, 111, 124, 203, 423, 434,...",0.14,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, ...",0.14,0.87,49.0,"Counter({3: 1490, -1: 132, 0: 23, 2: 18, 1: 13})"

adding 15 random population

 87%|████████▋ | 27/31 [40:56<04:14, 63.55s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"
5,0.02,0.872613,0.01,"[60, 103, 115, 120, 215, 224, 248, 384, 425, 4...",0.09,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.17,0.89,44.0,"Counter({4: 1464, -1: 95, 1: 65, 2: 17, 0: 13,..."
6,0.01,0.867568,0.04,"[18, 94, 141, 145, 150, 156, 162, 230, 248, 27...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.89,45.0,"Counter({2: 1538, -1: 114, 0: 12, 1: 12})"
7,0.03,0.848371,0.07,"[23, 29, 67, 85, 108, 111, 124, 203, 423, 434,...",0.14,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, ...",0.14,0.87,49.0,"Counter({3: 1490, -1: 132, 0: 23, 2: 18, 1: 13})"
8,0.05,0.881082,0.02,"[22, 23, 34, 56, 94, 100, 124, 135, 145, 153, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.89,156.0,"Counter({0: 1650, 1: 15, -1: 11})"

adding 26 random population

 97%|█████████▋| 30/31 [49:28<01:42, 102.58s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.865214,0.04,"[29, 34, 117, 162, 165, 166, 167, 339, 562, 60...",0.07,"[4, 4, 4, 4, 4, 4, -1, 4, 4, 3, 4, 4, 4, 4, 4,...",0.10,0.88,45.0,"Counter({4: 1504, -1: 113, 3: 25, 0: 12, 2: 11..."
1,0.05,0.893678,0.02,"[12, 19, 23, 30, 34, 53, 68, 97, 123, 156, 200...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.90,109.0,"Counter({0: 1647, 1: 19, -1: 10})"
2,0.01,0.875643,0.00,"[1, 33, 35, 47, 134, 137, 306, 386, 439, 849, ...",0.02,"[1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...",0.03,0.90,38.0,"Counter({1: 1538, -1: 110, 0: 14, 2: 14})"
3,0.06,0.909992,0.02,"[19, 23, 34, 36, 43, 49, 83, 85, 95, 97, 117, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.43,0.92,138.0,"Counter({0: 1651, 1: 17, -1: 8})"
4,0.01,0.866200,0.03,"[1, 12, 26, 52, 88, 99, 113, 126, 145, 162, 20...",0.03,"[1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 1, 1, 1...",0.02,0.88,53.0,"Counter({1: 1552, -1: 110, 0: 14})"
5,0.02,0.872613,0.01,"[60, 103, 115, 120, 215, 224, 248, 384, 425, 4...",0.09,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...",0.17,0.89,44.0,"Counter({4: 1464, -1: 95, 1: 65, 2: 17, 0: 13,..."
6,0.01,0.867568,0.04,"[18, 94, 141, 145, 150, 156, 162, 230, 248, 27...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.89,45.0,"Counter({2: 1538, -1: 114, 0: 12, 1: 12})"
7,0.03,0.848371,0.07,"[23, 29, 67, 85, 108, 111, 124, 203, 423, 434,...",0.14,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, ...",0.14,0.87,49.0,"Counter({3: 1490, -1: 132, 0: 23, 2: 18, 1: 13})"
8,0.05,0.881082,0.02,"[22, 23, 34, 56, 94, 100, 124, 135, 145, 153, ...",0.08,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.32,0.89,156.0,"Counter({0: 1650, 1: 15, -1: 11})"
9,0.02,0.881374,0.02,"[39, 53, 100, 113, 135, 162, 177, 200, 311, 36...",0.08,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.09,0.90,45.0,"Counter({1: 1531, -1: 100, 2: 24, 0: 21})"

adding 26 random population

100%|██████████| 31/31 [52:45<00:00, 102.11s/it]

TIME: GA: 52.756029999256135 min
TIME: Total: 53.07205843925476 min
(3909, 23341) (3909, 23341) keeping 3000 genes

##########  Quake_10x_Limb_Muscle, (3909, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 2.02 sec
Entropy computation 7.29 sec
KNN computation 21.05 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 10.37 sec
Handle redundant features 0.12 sec
Returning 104 redundant features and  53 important features
TIME: 1d Features : 0.7723073840141297 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2896, orig size 3000, nb imp : 53
adding 50 random population

 10%|▉         | 3/31 [03:05<28:50, 61.82s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.88909,0.0,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.9,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."

adding 34 random population

 19%|█▉        | 6/31 [19:14<1:21:24, 195.38s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."

adding 11 random population

 29%|██▉       | 9/31 [32:28<1:13:38, 200.86s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."

adding 36 random population

 39%|███▊      | 12/31 [56:21<1:34:13, 297.53s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."

adding 50 random population

 48%|████▊     | 15/31 [1:09:27<1:01:27, 230.46s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."

adding 28 random population

 58%|█████▊    | 18/31 [1:28:30<57:00, 263.14s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."
5,0.01,0.874181,-0.01,"[38, 54, 100, 106, 129, 175, 176, 197, 201, 22...",0.06,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...",0.12,0.89,78.0,"Counter({13: 3314, -1: 194, 14: 70, 3: 60, 6: ..."

adding 34 random population

 68%|██████▊   | 21/31 [1:48:06<46:27, 278.70s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."
5,0.01,0.874181,-0.01,"[38, 54, 100, 106, 129, 175, 176, 197, 201, 22...",0.06,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...",0.12,0.89,78.0,"Counter({13: 3314, -1: 194, 14: 70, 3: 60, 6: ..."
6,0.01,0.873199,0.01,"[62, 65, 103, 123, 142, 144, 154, 206, 220, 22...",0.05,"[8, 8, -1, 8, 8, 8, 8, 8, 3, 8, 8, 8, -1, 8, 8...",0.07,0.89,69.0,"Counter({8: 3464, -1: 252, 5: 48, 6: 33, 3: 28..."

adding 42 random population

 77%|███████▋  | 24/31 [2:10:57<36:36, 313.82s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."
5,0.01,0.874181,-0.01,"[38, 54, 100, 106, 129, 175, 176, 197, 201, 22...",0.06,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...",0.12,0.89,78.0,"Counter({13: 3314, -1: 194, 14: 70, 3: 60, 6: ..."
6,0.01,0.873199,0.01,"[62, 65, 103, 123, 142, 144, 154, 206, 220, 22...",0.05,"[8, 8, -1, 8, 8, 8, 8, 8, 3, 8, 8, 8, -1, 8, 8...",0.07,0.89,69.0,"Counter({8: 3464, -1: 252, 5: 48, 6: 33, 3: 28..."
7,0.01,0.880786,0.01,"[6, 19, 62, 65, 129, 175, 276, 284, 350, 381, ...",0.04,"[6, 6, 6, 6, 6, 5, 6, 6, 6, 7, 6, 6, 6, 6, 6, ...",0.07,0.89,71.0,"Counter({6: 3479, -1: 211, 5: 46, 4: 43, 1: 42..."

adding 36 random population

 87%|████████▋ | 27/31 [2:29:53<19:27, 291.82s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."
5,0.01,0.874181,-0.01,"[38, 54, 100, 106, 129, 175, 176, 197, 201, 22...",0.06,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...",0.12,0.89,78.0,"Counter({13: 3314, -1: 194, 14: 70, 3: 60, 6: ..."
6,0.01,0.873199,0.01,"[62, 65, 103, 123, 142, 144, 154, 206, 220, 22...",0.05,"[8, 8, -1, 8, 8, 8, 8, 8, 3, 8, 8, 8, -1, 8, 8...",0.07,0.89,69.0,"Counter({8: 3464, -1: 252, 5: 48, 6: 33, 3: 28..."
7,0.01,0.880786,0.01,"[6, 19, 62, 65, 129, 175, 276, 284, 350, 381, ...",0.04,"[6, 6, 6, 6, 6, 5, 6, 6, 6, 7, 6, 6, 6, 6, 6, ...",0.07,0.89,71.0,"Counter({6: 3479, -1: 211, 5: 46, 4: 43, 1: 42..."
8,0.01,0.876476,0.02,"[41, 129, 229, 282, 348, 360, 437, 443, 454, 5...",0.07,"[7, 7, 7, 7, 7, 7, -1, 7, 7, 7, 7, 7, 7, 7, 7,...",0.10,0.89,68.0,"Counter({7: 3424, -1: 224, 6: 90, 5: 60, 8: 29..."

adding 37 random population

 97%|█████████▋| 30/31 [2:44:34<04:07, 247.42s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.889090,0.00,"[19, 23, 38, 80, 129, 229, 284, 371, 381, 401,...",0.05,"[9, 1, 9, 9, 9, 9, 9, 9, 9, 8, 9, 10, 9, 9, 9,...",0.09,0.90,71.0,"Counter({9: 3489, -1: 198, 5: 43, 10: 35, 7: 2..."
1,0.01,0.899742,0.01,"[8, 9, 76, 103, 121, 129, 252, 310, 441, 531, ...",0.04,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.05,0.91,60.0,"Counter({3: 3614, -1: 209, 2: 37, 0: 27, 4: 11..."
2,0.01,0.890376,-0.00,"[12, 38, 62, 80, 110, 115, 129, 162, 175, 229,...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, ...",0.07,0.90,77.0,"Counter({5: 3514, -1: 209, 6: 46, 2: 43, 4: 32..."
3,0.01,0.913019,-0.01,"[2, 38, 54, 65, 121, 124, 129, 176, 197, 276, ...",0.03,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.06,0.93,67.0,"Counter({3: 3629, -1: 176, 4: 34, 1: 28, 2: 23..."
4,0.01,0.866386,0.01,"[17, 35, 162, 175, 187, 201, 234, 259, 377, 43...",0.09,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.12,0.88,73.0,"Counter({8: 3365, -1: 237, 2: 60, 5: 57, 1: 50..."
5,0.01,0.874181,-0.01,"[38, 54, 100, 106, 129, 175, 176, 197, 201, 22...",0.06,"[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...",0.12,0.89,78.0,"Counter({13: 3314, -1: 194, 14: 70, 3: 60, 6: ..."
6,0.01,0.873199,0.01,"[62, 65, 103, 123, 142, 144, 154, 206, 220, 22...",0.05,"[8, 8, -1, 8, 8, 8, 8, 8, 3, 8, 8, 8, -1, 8, 8...",0.07,0.89,69.0,"Counter({8: 3464, -1: 252, 5: 48, 6: 33, 3: 28..."
7,0.01,0.880786,0.01,"[6, 19, 62, 65, 129, 175, 276, 284, 350, 381, ...",0.04,"[6, 6, 6, 6, 6, 5, 6, 6, 6, 7, 6, 6, 6, 6, 6, ...",0.07,0.89,71.0,"Counter({6: 3479, -1: 211, 5: 46, 4: 43, 1: 42..."
8,0.01,0.876476,0.02,"[41, 129, 229, 282, 348, 360, 437, 443, 454, 5...",0.07,"[7, 7, 7, 7, 7, 7, -1, 7, 7, 7, 7, 7, 7, 7, 7,...",0.10,0.89,68.0,"Counter({7: 3424, -1: 224, 6: 90, 5: 60, 8: 29..."
9,0.01,0.892721,0.01,"[38, 120, 229, 265, 282, 317, 408, 418, 441, 4...",0.05,"[6, 1, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...",0.10,0.91,67.0,"Counter({6: 3499, -1: 195, 7: 42, 5: 27, 9: 27..."

adding 49 random population

100%|██████████| 31/31 [2:59:28<00:00, 347.37s/it]

TIME: GA: 179.4757386048635 min
TIME: Total: 180.24804627100627 min
(2746, 20670) (2746, 20670) keeping 3000 genes

##########  mouse_bladder_cell, (2746, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.6 sec
Entropy computation 5.66 sec
KNN computation 15.83 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 7.84 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.26 sec
Returning 221 redundant features and  58 important features
TIME: 1d Features : 0.5579946080843607 min
TIME: 2d scores: 7.947285970052083e-09 min
*** Optimization algorithm
Non redundant features 2778, orig size 2999, nb imp : 58
adding 50 random population

 10%|▉         | 3/31 [01:54<17:32, 37.58s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.9,99.0,"Counter({0: 2550, -1: 166, 1: 30})"

adding 29 random population

 19%|█▉        | 6/31 [15:04<1:03:06, 151.45s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"

adding 32 random population

 29%|██▉       | 9/31 [25:20<55:43, 152.00s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."

adding 50 random population

 39%|███▊      | 12/31 [37:02<51:42, 163.27s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."

adding 24 random population

 48%|████▊     | 15/31 [57:57<1:06:43, 250.24s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"

adding 42 random population

 58%|█████▊    | 18/31 [1:10:56<45:26, 209.70s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"
5,0.01,0.895326,0.01,"[35, 42, 43, 45, 53, 94, 96, 108, 150, 212, 23...",0.02,"[2, 3, 3, 3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3,...",0.04,0.91,60.0,"Counter({3: 2552, -1: 144, 1: 24, 2: 15, 0: 11})"

adding 42 random population

 68%|██████▊   | 21/31 [1:17:23<23:03, 138.33s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"
5,0.01,0.895326,0.01,"[35, 42, 43, 45, 53, 94, 96, 108, 150, 212, 23...",0.02,"[2, 3, 3, 3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3,...",0.04,0.91,60.0,"Counter({3: 2552, -1: 144, 1: 24, 2: 15, 0: 11})"
6,0.01,0.907543,0.01,"[7, 20, 22, 23, 26, 52, 96, 101, 107, 118, 133...",0.05,"[2, 2, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, -1, 2...",0.05,0.92,116.0,"Counter({2: 2584, -1: 121, 1: 16, 3: 13, 0: 12})"

adding 18 random population

 77%|███████▋  | 24/31 [1:43:43<33:46, 289.54s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"
5,0.01,0.895326,0.01,"[35, 42, 43, 45, 53, 94, 96, 108, 150, 212, 23...",0.02,"[2, 3, 3, 3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3,...",0.04,0.91,60.0,"Counter({3: 2552, -1: 144, 1: 24, 2: 15, 0: 11})"
6,0.01,0.907543,0.01,"[7, 20, 22, 23, 26, 52, 96, 101, 107, 118, 133...",0.05,"[2, 2, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, -1, 2...",0.05,0.92,116.0,"Counter({2: 2584, -1: 121, 1: 16, 3: 13, 0: 12})"
7,0.01,0.901499,0.01,"[40, 44, 65, 67, 83, 84, 85, 95, 103, 122, 209...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.92,60.0,"Counter({2: 2559, -1: 139, 1: 21, 0: 15, 3: 12})"

adding 49 random population

 87%|████████▋ | 27/31 [1:49:24<10:27, 156.93s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"
5,0.01,0.895326,0.01,"[35, 42, 43, 45, 53, 94, 96, 108, 150, 212, 23...",0.02,"[2, 3, 3, 3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3,...",0.04,0.91,60.0,"Counter({3: 2552, -1: 144, 1: 24, 2: 15, 0: 11})"
6,0.01,0.907543,0.01,"[7, 20, 22, 23, 26, 52, 96, 101, 107, 118, 133...",0.05,"[2, 2, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, -1, 2...",0.05,0.92,116.0,"Counter({2: 2584, -1: 121, 1: 16, 3: 13, 0: 12})"
7,0.01,0.901499,0.01,"[40, 44, 65, 67, 83, 84, 85, 95, 103, 122, 209...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.92,60.0,"Counter({2: 2559, -1: 139, 1: 21, 0: 15, 3: 12})"
8,0.00,0.885638,0.01,"[22, 32, 47, 52, 53, 65, 74, 90, 101, 121, 128...",0.05,"[2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, -1, 2, 2, -1...",0.04,0.89,109.0,"Counter({2: 2498, -1: 183, 1: 38, 0: 15, 3: 12})"

adding 10 random population

 97%|█████████▋| 30/31 [2:02:05<02:54, 174.87s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895174,0.01,"[26, 30, 34, 40, 63, 69, 93, 98, 103, 172, 173...",0.03,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.03,0.90,99.0,"Counter({0: 2550, -1: 166, 1: 30})"
1,0.01,0.926502,0.00,"[18, 25, 32, 45, 48, 52, 65, 88, 96, 101, 105,...",0.01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.06,0.94,94.0,"Counter({0: 2702, -1: 28, 1: 16})"
2,0.01,0.902101,0.01,"[4, 15, 22, 26, 50, 53, 60, 73, 90, 139, 164, ...",0.04,"[3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3,...",0.05,0.91,84.0,"Counter({3: 2543, -1: 138, 2: 23, 1: 18, 4: 14..."
3,0.00,0.875165,0.01,"[26, 30, 43, 48, 52, 97, 101, 107, 109, 117, 2...",0.07,"[3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.04,0.88,114.0,"Counter({3: 2441, -1: 197, 1: 54, 4: 21, 0: 17..."
4,0.01,0.909595,0.01,"[9, 11, 26, 32, 38, 48, 52, 74, 82, 84, 97, 11...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.06,0.92,110.0,"Counter({2: 2537, -1: 128, 1: 30, 3: 26, 0: 25})"
5,0.01,0.895326,0.01,"[35, 42, 43, 45, 53, 94, 96, 108, 150, 212, 23...",0.02,"[2, 3, 3, 3, 3, 3, 3, 3, 3, -1, 3, 3, 3, 3, 3,...",0.04,0.91,60.0,"Counter({3: 2552, -1: 144, 1: 24, 2: 15, 0: 11})"
6,0.01,0.907543,0.01,"[7, 20, 22, 23, 26, 52, 96, 101, 107, 118, 133...",0.05,"[2, 2, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, -1, 2...",0.05,0.92,116.0,"Counter({2: 2584, -1: 121, 1: 16, 3: 13, 0: 12})"
7,0.01,0.901499,0.01,"[40, 44, 65, 67, 83, 84, 85, 95, 103, 122, 209...",0.04,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.92,60.0,"Counter({2: 2559, -1: 139, 1: 21, 0: 15, 3: 12})"
8,0.00,0.885638,0.01,"[22, 32, 47, 52, 53, 65, 74, 90, 101, 121, 128...",0.05,"[2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, -1, 2, 2, -1...",0.04,0.89,109.0,"Counter({2: 2498, -1: 183, 1: 38, 0: 15, 3: 12})"
9,0.01,0.902850,0.00,"[18, 53, 82, 90, 92, 108, 167, 180, 181, 229, ...",0.03,"[1, 1, -1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.02,0.91,92.0,"Counter({1: 2569, -1: 148, 2: 18, 0: 11})"

adding 46 random population

100%|██████████| 31/31 [2:10:11<00:00, 251.97s/it]

TIME: GA: 130.18525149424872 min
TIME: Total: 130.74324865341185 min
(2881, 21143) (2881, 21143) keeping 3000 genes

##########  Romanov, (2881, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 1.13 sec
Entropy computation 5.33 sec
KNN computation 15.18 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 7.57 sec
Handle redundant features 0.13 sec
Returning 169 redundant features and  48 important features
TIME: 1d Features : 0.5385286688804627 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2830, orig size 2999, nb imp : 48
adding 50 random population

 10%|▉         | 3/31 [01:53<17:27, 37.40s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.0,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."

adding 21 random population

 19%|█▉        | 6/31 [15:12<1:03:37, 152.69s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."

adding 22 random population

 29%|██▉       | 9/31 [21:44<43:19, 118.14s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"

adding 49 random population

 39%|███▊      | 12/31 [31:52<43:45, 138.18s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"

adding 4 random population

 48%|████▊     | 15/31 [39:48<33:40, 126.27s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."

adding 26 random population

 58%|█████▊    | 18/31 [49:29<30:01, 138.59s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."
5,0.01,0.871796,0.03,"[119, 149, 155, 186, 209, 292, 347, 424, 730, ...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.03,0.89,64.0,"Counter({2: 2638, -1: 200, 3: 18, 1: 14, 0: 11})"

adding 35 random population

 68%|██████▊   | 21/31 [57:44<21:33, 129.39s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."
5,0.01,0.871796,0.03,"[119, 149, 155, 186, 209, 292, 347, 424, 730, ...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.03,0.89,64.0,"Counter({2: 2638, -1: 200, 3: 18, 1: 14, 0: 11})"
6,0.01,0.871954,0.02,"[14, 76, 155, 290, 394, 424, 466, 511, 551, 59...",0.02,"[-1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...",0.03,0.89,51.0,"Counter({3: 2615, -1: 201, 4: 29, 0: 14, 1: 12..."

adding 42 random population

 77%|███████▋  | 24/31 [1:04:15<12:54, 110.62s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."
5,0.01,0.871796,0.03,"[119, 149, 155, 186, 209, 292, 347, 424, 730, ...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.03,0.89,64.0,"Counter({2: 2638, -1: 200, 3: 18, 1: 14, 0: 11})"
6,0.01,0.871954,0.02,"[14, 76, 155, 290, 394, 424, 466, 511, 551, 59...",0.02,"[-1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...",0.03,0.89,51.0,"Counter({3: 2615, -1: 201, 4: 29, 0: 14, 1: 12..."
7,0.00,0.860999,0.03,"[8, 30, 60, 77, 126, 177, 185, 186, 218, 219, ...",0.04,"[-1, 4, 4, 4, 4, -1, 4, 4, 4, 4, 4, 4, 4, 4, 4...",0.02,0.87,66.0,"Counter({4: 2579, -1: 233, 3: 23, 2: 16, 1: 16..."

adding 38 random population

 87%|████████▋ | 27/31 [1:11:44<07:32, 113.23s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."
5,0.01,0.871796,0.03,"[119, 149, 155, 186, 209, 292, 347, 424, 730, ...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.03,0.89,64.0,"Counter({2: 2638, -1: 200, 3: 18, 1: 14, 0: 11})"
6,0.01,0.871954,0.02,"[14, 76, 155, 290, 394, 424, 466, 511, 551, 59...",0.02,"[-1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...",0.03,0.89,51.0,"Counter({3: 2615, -1: 201, 4: 29, 0: 14, 1: 12..."
7,0.00,0.860999,0.03,"[8, 30, 60, 77, 126, 177, 185, 186, 218, 219, ...",0.04,"[-1, 4, 4, 4, 4, -1, 4, 4, 4, 4, 4, 4, 4, 4, 4...",0.02,0.87,66.0,"Counter({4: 2579, -1: 233, 3: 23, 2: 16, 1: 16..."
8,0.00,0.859590,0.03,"[48, 76, 209, 238, 292, 348, 389, 436, 511, 55...",0.03,"[-1, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3...",0.02,0.87,57.0,"Counter({3: 2576, -1: 230, 4: 30, 1: 18, 2: 17..."

adding 33 random population

 97%|█████████▋| 30/31 [1:19:50<01:59, 119.05s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.00,0.835766,0.02,"[0, 18, 35, 48, 76, 105, 172, 175, 186, 263, 2...",0.06,"[-1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, -1, 5, 5...",0.02,0.85,75.0,"Counter({5: 2506, -1: 275, 6: 29, 2: 20, 0: 15..."
1,0.01,0.857029,0.04,"[3, 15, 27, 35, 71, 76, 130, 153, 171, 176, 32...",0.06,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",0.03,0.88,44.0,"Counter({3: 2586, -1: 224, 2: 31, 4: 15, 0: 13..."
2,0.01,0.867173,0.02,"[30, 108, 170, 186, 187, 195, 257, 298, 363, 3...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.04,0.88,57.0,"Counter({2: 2588, -1: 203, 1: 61, 3: 17, 0: 12})"
3,0.01,0.860575,0.03,"[6, 21, 35, 76, 157, 185, 186, 187, 191, 215, ...",0.04,"[-1, 2, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.02,0.87,63.0,"Counter({2: 2585, -1: 229, 3: 39, 0: 15, 1: 13})"
4,0.01,0.855764,0.01,"[41, 48, 124, 186, 209, 218, 238, 264, 400, 47...",0.03,"[5, 5, 5, 5, 5, 5, 5, 5, -1, 5, -1, 5, 5, 5, 5...",0.04,0.87,59.0,"Counter({5: 2544, -1: 213, 3: 40, 2: 26, 1: 17..."
5,0.01,0.871796,0.03,"[119, 149, 155, 186, 209, 292, 347, 424, 730, ...",0.03,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",0.03,0.89,64.0,"Counter({2: 2638, -1: 200, 3: 18, 1: 14, 0: 11})"
6,0.01,0.871954,0.02,"[14, 76, 155, 290, 394, 424, 466, 511, 551, 59...",0.02,"[-1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,...",0.03,0.89,51.0,"Counter({3: 2615, -1: 201, 4: 29, 0: 14, 1: 12..."
7,0.00,0.860999,0.03,"[8, 30, 60, 77, 126, 177, 185, 186, 218, 219, ...",0.04,"[-1, 4, 4, 4, 4, -1, 4, 4, 4, 4, 4, 4, 4, 4, 4...",0.02,0.87,66.0,"Counter({4: 2579, -1: 233, 3: 23, 2: 16, 1: 16..."
8,0.00,0.859590,0.03,"[48, 76, 209, 238, 292, 348, 389, 436, 511, 55...",0.03,"[-1, 3, -1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3...",0.02,0.87,57.0,"Counter({3: 2576, -1: 230, 4: 30, 1: 18, 2: 17..."
9,0.00,0.877312,0.04,"[41, 71, 119, 157, 246, 467, 493, 511, 618, 70...",0.04,"[-1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 0, 3, 3,...",0.03,0.89,54.0,"Counter({3: 2614, -1: 188, 2: 29, 0: 28, 1: 12..."

adding 2 random population

100%|██████████| 31/31 [1:24:18<00:00, 163.19s/it]

TIME: GA: 84.3137427687645 min
TIME: Total: 84.85227499802907 min
(1090, 23341) (1090, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Limb_Muscle, (1090, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.3 sec
Entropy computation 2.32 sec
KNN computation 5.88 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 2.8 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.21 sec
Returning 214 redundant features and  54 important features
TIME: 1d Features : 0.21187479893366495 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2786, orig size 3000, nb imp : 54
adding 50 random population

 10%|▉         | 3/31 [00:51<07:49, 16.79s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"

adding 11 random population

 19%|█▉        | 6/31 [03:26<14:14, 34.18s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"

adding 35 random population

 29%|██▉       | 9/31 [05:27<12:15, 33.42s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"

adding 46 random population

 39%|███▊      | 12/31 [07:45<11:10, 35.27s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"

adding 22 random population

 48%|████▊     | 15/31 [11:49<13:47, 51.71s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"

adding 34 random population

 58%|█████▊    | 18/31 [14:04<08:57, 41.35s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"
5,0.01,0.860260,0.05,"[20, 48, 52, 53, 86, 100, 107, 186, 191, 192, ...",0.05,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.07,0.88,58.0,"Counter({1: 992, -1: 69, 0: 18, 2: 11})"

adding 35 random population

 68%|██████▊   | 21/31 [17:08<07:29, 44.98s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"
5,0.01,0.860260,0.05,"[20, 48, 52, 53, 86, 100, 107, 186, 191, 192, ...",0.05,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.07,0.88,58.0,"Counter({1: 992, -1: 69, 0: 18, 2: 11})"
6,0.02,0.871500,0.02,"[17, 36, 46, 75, 112, 175, 185, 270, 277, 310,...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1...",0.03,0.89,57.0,"Counter({1: 1015, -1: 63, 0: 12})"

adding 27 random population

 77%|███████▋  | 24/31 [19:31<04:41, 40.18s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"
5,0.01,0.860260,0.05,"[20, 48, 52, 53, 86, 100, 107, 186, 191, 192, ...",0.05,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.07,0.88,58.0,"Counter({1: 992, -1: 69, 0: 18, 2: 11})"
6,0.02,0.871500,0.02,"[17, 36, 46, 75, 112, 175, 185, 270, 277, 310,...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1...",0.03,0.89,57.0,"Counter({1: 1015, -1: 63, 0: 12})"
7,0.01,0.854119,0.06,"[48, 57, 75, 96, 185, 191, 236, 277, 310, 333,...",0.04,"[1, 1, 0, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.87,70.0,"Counter({1: 986, -1: 79, 0: 14, 2: 11})"

adding 46 random population

 87%|████████▋ | 27/31 [23:46<03:38, 54.75s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"
5,0.01,0.860260,0.05,"[20, 48, 52, 53, 86, 100, 107, 186, 191, 192, ...",0.05,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.07,0.88,58.0,"Counter({1: 992, -1: 69, 0: 18, 2: 11})"
6,0.02,0.871500,0.02,"[17, 36, 46, 75, 112, 175, 185, 270, 277, 310,...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1...",0.03,0.89,57.0,"Counter({1: 1015, -1: 63, 0: 12})"
7,0.01,0.854119,0.06,"[48, 57, 75, 96, 185, 191, 236, 277, 310, 333,...",0.04,"[1, 1, 0, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.87,70.0,"Counter({1: 986, -1: 79, 0: 14, 2: 11})"
8,0.01,0.855796,0.03,"[31, 40, 75, 86, 175, 198, 299, 310, 467, 476,...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0,...",0.02,0.87,49.0,"Counter({0: 1002, -1: 77, 1: 11})"

adding 33 random population

 97%|█████████▋| 30/31 [25:48<00:40, 40.30s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.821854,0.03,"[16, 109, 125, 127, 128, 175, 185, 192, 193, 2...",0.02,"[1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.84,45.0,"Counter({1: 961, -1: 99, 2: 17, 0: 13})"
1,0.02,0.857982,0.01,"[8, 24, 91, 108, 112, 116, 133, 145, 185, 261,...",0.02,"[-1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, -1, ...",0.03,0.88,46.0,"Counter({1: 1012, -1: 67, 0: 11})"
2,0.02,0.885919,0.02,"[18, 19, 46, 48, 51, 104, 114, 121, 132, 138, ...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0,...",0.07,0.91,41.0,"Counter({0: 1001, -1: 60, 1: 29})"
3,0.01,0.857750,0.02,"[19, 22, 47, 73, 75, 83, 119, 130, 180, 220, 2...",0.02,"[0, 0, -1, 0, 0, -1, 0, -1, 0, 0, 0, 0, 0, 0, ...",0.02,0.87,52.0,"Counter({0: 998, -1: 82, 1: 10})"
4,0.01,0.873838,0.02,"[18, 57, 104, 107, 143, 151, 153, 163, 182, 24...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.03,0.89,43.0,"Counter({1: 1005, -1: 72, 0: 13})"
5,0.01,0.860260,0.05,"[20, 48, 52, 53, 86, 100, 107, 186, 191, 192, ...",0.05,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",0.07,0.88,58.0,"Counter({1: 992, -1: 69, 0: 18, 2: 11})"
6,0.02,0.871500,0.02,"[17, 36, 46, 75, 112, 175, 185, 270, 277, 310,...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1...",0.03,0.89,57.0,"Counter({1: 1015, -1: 63, 0: 12})"
7,0.01,0.854119,0.06,"[48, 57, 75, 96, 185, 191, 236, 277, 310, 333,...",0.04,"[1, 1, 0, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1...",0.05,0.87,70.0,"Counter({1: 986, -1: 79, 0: 14, 2: 11})"
8,0.01,0.855796,0.03,"[31, 40, 75, 86, 175, 198, 299, 310, 467, 476,...",0.02,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -1, 0, 0, 0,...",0.02,0.87,49.0,"Counter({0: 1002, -1: 77, 1: 11})"
9,0.01,0.857908,0.02,"[20, 24, 26, 48, 75, 78, 132, 153, 163, 175, 2...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1,...",0.03,0.88,48.0,"Counter({1: 1001, -1: 77, 0: 12})"

adding 43 random population

100%|██████████| 31/31 [27:32<00:00, 53.29s/it]

TIME: GA: 27.535137335459392 min
TIME: Total: 27.747012492020925 min
(2122, 19046) (2122, 19046) keeping 3000 genes

##########  Muraro, (2122, 3000)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.71 sec
Entropy computation 4.17 sec
KNN computation 11.15 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...

  0%|          | 0/31 [00:00<?, ?it/s]

Hierarchical clustering 5.6 sec
Handle redundant features 0.17 sec
Returning 348 redundant features and  14 important features
TIME: 1d Features : 0.3989237666130066 min
TIME: 2d scores: 0.0 min
*** Optimization algorithm
Non redundant features 2652, orig size 3000, nb imp : 14
adding 50 random population

 10%|▉         | 3/31 [01:25<13:05, 28.06s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.9,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"

adding 23 random population

 19%|█▉        | 6/31 [11:18<47:12, 113.29s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."

adding 36 random population

 29%|██▉       | 9/31 [20:04<45:10, 123.20s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."

adding 38 random population

 39%|███▊      | 12/31 [30:34<44:52, 141.71s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."

adding 43 random population

 48%|████▊     | 15/31 [35:24<25:50, 96.93s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."

adding 20 random population

 58%|█████▊    | 18/31 [47:27<31:43, 146.45s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."
5,0.01,0.880600,0.01,"[49, 68, 90, 99, 110, 164, 192, 206, 293, 295,...",0.04,"[4, 2, 4, 1, 4, 4, 4, 4, 4, 4, 3, 4, 5, 3, 1, ...",0.10,0.89,104.0,"Counter({4: 1875, -1: 128, 5: 32, 3: 31, 1: 28..."

adding 41 random population

 68%|██████▊   | 21/31 [59:21<26:56, 161.64s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."
5,0.01,0.880600,0.01,"[49, 68, 90, 99, 110, 164, 192, 206, 293, 295,...",0.04,"[4, 2, 4, 1, 4, 4, 4, 4, 4, 4, 3, 4, 5, 3, 1, ...",0.10,0.89,104.0,"Counter({4: 1875, -1: 128, 5: 32, 3: 31, 1: 28..."
6,0.01,0.878809,0.03,"[3, 6, 68, 99, 186, 192, 202, 204, 227, 260, 3...",0.06,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.15,0.89,70.0,"Counter({8: 1839, -1: 119, 9: 33, 3: 29, 7: 24..."

adding 43 random population

 77%|███████▋  | 24/31 [1:08:28<16:33, 141.86s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."
5,0.01,0.880600,0.01,"[49, 68, 90, 99, 110, 164, 192, 206, 293, 295,...",0.04,"[4, 2, 4, 1, 4, 4, 4, 4, 4, 4, 3, 4, 5, 3, 1, ...",0.10,0.89,104.0,"Counter({4: 1875, -1: 128, 5: 32, 3: 31, 1: 28..."
6,0.01,0.878809,0.03,"[3, 6, 68, 99, 186, 192, 202, 204, 227, 260, 3...",0.06,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.15,0.89,70.0,"Counter({8: 1839, -1: 119, 9: 33, 3: 29, 7: 24..."
7,0.01,0.857431,0.04,"[37, 39, 99, 105, 110, 123, 129, 159, 164, 186...",0.08,"[5, 5, 5, 5, -1, 5, 5, 5, 5, 5, 5, -1, 5, 5, 5...",0.11,0.86,121.0,"Counter({5: 1820, -1: 165, 2: 33, 1: 28, 4: 27..."

adding 10 random population

 87%|████████▋ | 27/31 [1:21:01<11:02, 165.63s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."
5,0.01,0.880600,0.01,"[49, 68, 90, 99, 110, 164, 192, 206, 293, 295,...",0.04,"[4, 2, 4, 1, 4, 4, 4, 4, 4, 4, 3, 4, 5, 3, 1, ...",0.10,0.89,104.0,"Counter({4: 1875, -1: 128, 5: 32, 3: 31, 1: 28..."
6,0.01,0.878809,0.03,"[3, 6, 68, 99, 186, 192, 202, 204, 227, 260, 3...",0.06,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.15,0.89,70.0,"Counter({8: 1839, -1: 119, 9: 33, 3: 29, 7: 24..."
7,0.01,0.857431,0.04,"[37, 39, 99, 105, 110, 123, 129, 159, 164, 186...",0.08,"[5, 5, 5, 5, -1, 5, 5, 5, 5, 5, 5, -1, 5, 5, 5...",0.11,0.86,121.0,"Counter({5: 1820, -1: 165, 2: 33, 1: 28, 4: 27..."
8,0.01,0.860407,0.02,"[21, 57, 68, 100, 112, 121, 123, 130, 134, 168...",0.05,"[-1, 5, 5, 5, 5, -1, 5, 5, 5, 5, 5, 5, 5, 5, 5...",0.09,0.87,94.0,"Counter({5: 1825, -1: 158, 3: 38, 4: 31, 6: 22..."

adding 25 random population

 97%|█████████▋| 30/31 [1:33:06<02:50, 170.37s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.895787,0.02,"[39, 67, 99, 110, 164, 192, 202, 218, 293, 297...",0.02,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1,...",0.03,0.90,102.0,"Counter({1: 1967, -1: 126, 0: 15, 2: 14})"
1,0.01,0.872513,0.05,"[6, 37, 53, 57, 106, 110, 188, 192, 260, 293, ...",0.08,"[-1, 5, 7, 7, 1, -1, 5, 7, 7, 7, -1, 7, 7, 7, ...",0.13,0.88,91.0,"Counter({7: 1822, -1: 128, 6: 46, 4: 35, 5: 26..."
2,0.01,0.889447,0.01,"[26, 57, 77, 110, 112, 118, 159, 192, 198, 218...",0.05,"[-1, 4, 4, 4, 4, 4, 4, -1, 4, 4, -1, 0, 4, 4, ...",0.11,0.90,110.0,"Counter({4: 1903, -1: 112, 3: 42, 2: 21, 5: 16..."
3,0.01,0.862375,0.07,"[35, 104, 218, 297, 370, 394, 409, 412, 421, 4...",0.13,"[7, 2, 7, 7, 0, -1, 7, 7, 7, 7, 7, 7, 7, 7, 7,...",0.09,0.88,60.0,"Counter({7: 1829, -1: 134, 2: 51, 6: 30, 1: 19..."
4,0.01,0.860750,0.05,"[21, 39, 61, 110, 159, 168, 192, 202, 292, 293...",0.06,"[3, -1, 3, 3, 3, 3, 3, 2, 3, 3, 3, -1, 3, 3, 3...",0.07,0.87,100.0,"Counter({3: 1843, -1: 163, 4: 53, 2: 26, 1: 26..."
5,0.01,0.880600,0.01,"[49, 68, 90, 99, 110, 164, 192, 206, 293, 295,...",0.04,"[4, 2, 4, 1, 4, 4, 4, 4, 4, 4, 3, 4, 5, 3, 1, ...",0.10,0.89,104.0,"Counter({4: 1875, -1: 128, 5: 32, 3: 31, 1: 28..."
6,0.01,0.878809,0.03,"[3, 6, 68, 99, 186, 192, 202, 204, 227, 260, 3...",0.06,"[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, ...",0.15,0.89,70.0,"Counter({8: 1839, -1: 119, 9: 33, 3: 29, 7: 24..."
7,0.01,0.857431,0.04,"[37, 39, 99, 105, 110, 123, 129, 159, 164, 186...",0.08,"[5, 5, 5, 5, -1, 5, 5, 5, 5, 5, 5, -1, 5, 5, 5...",0.11,0.86,121.0,"Counter({5: 1820, -1: 165, 2: 33, 1: 28, 4: 27..."
8,0.01,0.860407,0.02,"[21, 57, 68, 100, 112, 121, 123, 130, 134, 168...",0.05,"[-1, 5, 5, 5, 5, -1, 5, 5, 5, 5, 5, 5, 5, 5, 5...",0.09,0.87,94.0,"Counter({5: 1825, -1: 158, 3: 38, 4: 31, 6: 22..."
9,0.01,0.875987,0.04,"[26, 154, 168, 188, 192, 198, 218, 243, 250, 2...",0.08,"[2, 2, 2, 2, -1, -1, 2, 2, 2, 2, 2, 2, 2, 2, 2...",0.06,0.89,89.0,"Counter({2: 1889, -1: 138, 1: 38, 0: 32, 3: 25})"

adding 41 random population

100%|██████████| 31/31 [1:40:36<00:00, 194.72s/it]

TIME: GA: 100.60301099618276 min
TIME: Total: 101.00193509658178 min

In [9]:
results.groupby("dataset_name").agg({"ari": max})

                               ari
dataset_name
Muraro                        0.07
Quake_10x_Limb_Muscle         0.02
Quake_Smart-seq2_Diaphragm    0.08
Quake_Smart-seq2_Limb_Muscle  0.06
Quake_Smart-seq2_Lung         0.07
Quake_Smart-seq2_Trachea      0.12
Romanov                       0.04
mouse_ES_cell                -0.01
mouse_bladder_cell            0.01

In [6]:
clustering = "leiden"
results = None
method = "adapted_silhouette"
# imp_f = np.arange(20)
for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = 3000, normalize_input=False)
    data = preprocessing.MinMaxScaler().fit_transform(data)
    n_clusters = len(np.unique(truth))

    print(f"\n##########  {name}, {data.shape}")

    # Clustering 1D
    meta_features = feature_ranking.rank_features(data,
                                              nb_bins=20,
                                              rank_threshold=98,
                                              z_file=None,
                                              metric='correlation',
                                              redundant_threshold=0.4)
    t2 = time.time()
    print(f"TIME: 1d Features : {(t2-t1)/60} min")


    t3 = time.time()
    t4 = time.time()
    print(f"TIME: 2d scores: {(t4-t3)/60} min")
    round_size = 3
    epochs = 10*round_size

    sampling = {
    "ARCHIVE2D": { 
        "ga": 0,
        "max": 0 },
    "CLOSE": { 
        "ga": 0.35,
        "max": 0.35 },
    "IMP1D": { 
        "ga": 0.35,
        "max": 0.35 },
    "RANDOM": { 
        "ga": 0.3,
        "max": 0.3},
    }

    params = ga.ga_parameters(
        n_clusters,
        data.shape[1],
        truth,
        meta_features,
        method=method,
        truth_methods=['ari'],
        archive_2d=None,#population[:data.shape[1] // 4],
        epochs=epochs,
        sampling = sampling,
        round_size=round_size,
        allow_subspace_overlap = True,
        improvement_per_mutation_report = False,
        clustering = clustering
        
    )
    solutions, archive= ga.run(data, params)
#     display(params["report"].groupby(["op", "improvement"]).count())
    solutions["dataset_name"] = name
    
    t5 = time.time()
    n_total = t5-t1
    print(f"TIME: GA: {(t5-t4)/60} min")
    print(f"TIME: Total: {(t5-t1)/60} min")
    solutions["total_time"] = round((t5-t1)/60, 1)
    solutions["t(feature_sel)"] = round((t2-t1)/60, 1)
    solutions["t(cnn)"] = round((t3-t2)/60, 1)
    solutions["t(clustering2d)"] = round((t4-t3)/60, 1)
    solutions["t(ga)"] = round((t5-t4)/60, 1)
    
    solutions["n_ga"] = archive.shape[0]
    solutions["n_cnn"] = n_total
    solutions["input_size"] = data.shape[1]
    
    
    solutions["n_non_redundant"] = meta_features[(meta_features["redundant"] ==1) ].shape[0]
    solutions["n_imp"] = meta_features[(meta_features["relevance"] !=0)].shape[0]
    solutions["n_imp4"] = meta_features[(meta_features["relevance"] ==4)].shape[0]
    solutions["n_imp3"] = meta_features[(meta_features["relevance"] ==3)].shape[0]
    
    
    if results is None: 
        results = solutions
    else:
        results = pd.concat([results, solutions], ignore_index = True)
    results.to_excel("../reports/scRNAseq_leiden.xlsx")

(1350, 23341) (1350, 23341) keeping 3000 genes

##########  Quake_Smart-seq2_Trachea, (1350, 2999)
*** Computing 1D feature ranking ...

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:90: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

Dispersion tests took 0.53 sec
Entropy computation 2.77 sec
KNN computation 7.68 sec
Sorting and thresholds 0.02 sec
Performing hierarchical clustering...
Hierarchical clustering 4.08 sec

  0%|          | 0/31 [00:00<?, ?it/s]

Handle redundant features 0.21 sec
Returning 376 redundant features and  45 important features
TIME: 1d Features : 0.2835372567176819 min
TIME: 2d scores: 3.973642985026042e-09 min
*** Optimization algorithm
Non redundant features 2623, orig size 2999, nb imp : 45
adding 50 random population

 10%|▉         | 3/31 [19:18<2:54:19, 373.56s/it]

,adapted_ratkowsky_lance,adapted_silhouette,ari,features,nmi,partition,point_biserial,silhouette,size,structure
0,0.01,0.860828,0.1,"[40, 101, 102, 116, 136, 185, 193, 260, 262, 2...",0.07,"[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",0.27,0.87,76.0,"Counter({0: 1209, 1: 53, 2: 37, 3: 28, 4: 10, ..."

adding 20 random population

 16%|█▌        | 5/31 [1:03:46<5:31:36, 765.24s/it]

KeyboardInterrupt:

In [10]:
# ! mv ../reports/scRNAseq_leiden.xlsx ../reports/scRNAseq_hdbscan.xlsx

# Supervised analysis of datasets

In [ ]:
import scripts.ga_evaluation as ga_evaluation

imp_f = np.arange(20)
result_df = pd.DataFrame()

for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = data.shape[1], normalize_input=False)


    n_clusters = len(np.unique(truth))

    result = {"Dataset" : name,
             "Original Dimensions": f"{data.shape[0]} x {data.shape[1]}",
             "Cluster sizes" : ", ".join(np.array(list(Counter(truth).values())).astype(str))}
    
    predK = KMeans(n_clusters= n_clusters, random_state = 2).fit(data).labels_
    ari_all = adjusted_rand_score(truth, predK)
    
    predK = KMeans(n_clusters= n_clusters, random_state = 2).fit(data[:, :5]).labels_
    ari_top10 = adjusted_rand_score(truth, predK)
    
    pca = PCA(2)
    pca_data = pca.fit_transform(data)

    predK = KMeans(n_clusters= n_clusters, random_state = 2).fit(pca_data).labels_
    ari_pca = adjusted_rand_score(truth, predK)
    
    r1 = ga_evaluation.random_sampling(data, truth, n_clusters, algo = "gmm")
    r2 = ga_evaluation.random_sampling(data, truth, n_clusters, algo = "hdbscan")
    result["ARI all dataset"] = round(ari_all,2)
    result["ARI PCA dataset"] = round(ari_pca,2)
    result["ARI top 10 features"] = round(ari_top10,2)
    result["Random GMM"] = round(r1,2)
    result["Random HDBSCAN"] = round(r2,2)
    result_df = result_df.append(result, ignore_index = True)

result_df

# Run time analysis

In [ ]:
results = pd.read_excel("reports/r_cnn.xlsx", index_col=0)

In [ ]:
results["label"] = results["dataset_name"] + " (" +results["input_size"].astype(str) + " features) "

In [ ]:
perf = results.groupby("input_size").min()[['t(feature_sel)', 't(cnn)','t(ga)']]

In [ ]:
perf = perf.rename(columns = {
    't(feature_sel)' : '1D Feature ranking', 
    't(cnn)' : '2D Feature ranking with NN',
    't(ga)': 'Optimization algorithm for top 10 subspaces'
})

In [ ]:
plt.figure(figsize = (10,3))
ax = plt.gca()
perf.plot(kind='bar', stacked=True, ax = ax)
plt.ylabel("time (min)")
plt.xticks(rotation = 0)
sns.despine()
plt.title("Run times on West, Khan, Gordon and Boroveki datasets")
plt.xlabel("Number of dimensions in the input dataset")
plt.savefig(f"images/run_times.pdf", bbox_inches='tight')

# Best scores using supervised feature selection

In [10]:
import scripts.ga_evaluation as ga_evaluation
from sklearn import mixture
import hdbscan

In [15]:
for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    if truth.min()>0:
        truth = truth - truth.min()
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = data.shape[1], normalize_input=False)
    print(Counter(truth))
    n_clusters = len(np.unique(truth))
    gmm_scores = []
    hdbscan_scores = []
    features = feature_ranking.supervised_feature_ranking(data, truth,
                                               nbTopFeatures=10, random_state=42)

    input_data = data[:, features]
    gmm = mixture.GaussianMixture(n_components=n_clusters,
                      covariance_type="full", random_state=0)
    pred = gmm.fit_predict(input_data)
    ari = adjusted_rand_score(truth, pred)
    gmm_scores.append(ari)

    pred = hdbscan.HDBSCAN(min_cluster_size =2).fit(input_data).labels_
    ari = adjusted_rand_score(truth, pred)
    hdbscan_scores.append(ari)

        
    print(f"\n\n\n{name} GMM ari = {max(gmm_scores)}, ")
    print(f"{name} HDBSCAN ari = {max(hdbscan_scores)}, ")

(1350, 23341) (1350, 23341) keeping 23341 genes
Counter({3: 830, 0: 206, 2: 201, 1: 113})
[16:38:52] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Quake_Smart-seq2_Trachea GMM ari = 0.5267989404777248,
Quake_Smart-seq2_Trachea HDBSCAN ari = 0.08320905817621092,
(870, 23341) (870, 23341) keeping 23341 genes
Counter({4: 439, 3: 241, 1: 81, 0: 78, 2: 31})
[16:39:01] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Quake_Smart-seq2_Diaphragm GMM ari = 0.7813372139535002,
Quake_Smart-seq2_Diaphragm HDBSCAN ari = 0.7738596239403225,
(2717, 24175) (2717, 24175) keeping 24175 genes
Counter({0.0: 933, 3.0: 798, 2.0: 683, 1.0: 303})
[16:39:14] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



mouse_ES_cell GMM ari = 0.2886405048356399,
mouse_ES_cell HDBSCAN ari = 0.39060146890004777,
(1676, 23341) (1676, 23341) keeping 23341 genes
Counter({6: 693, 10: 423, 4: 113, 3: 90, 8: 85, 7: 65, 0: 57, 1: 53, 9: 37, 5: 35, 2: 25})
[16:39:50] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Quake_Smart-seq2_Lung GMM ari = 0.6528241249902078,
Quake_Smart-seq2_Lung HDBSCAN ari = 0.062580444428364,
(3909, 23341) (3909, 23341) keeping 23341 genes
Counter({2: 1330, 4: 1136, 0: 461, 5: 354, 1: 320, 3: 308})
[16:40:13] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Quake_10x_Limb_Muscle GMM ari = 0.6951785170715785,
Quake_10x_Limb_Muscle HDBSCAN ari = 0.02377920119200925,
(2746, 20670) (2746, 20670) keeping 20670 genes
Counter({0: 717, 1: 357, 2: 344, 3: 316, 4: 236, 5: 224, 6: 131, 7: 80, 8: 75, 9: 64, 10: 44, 12: 41, 11: 38, 13: 36, 14: 30, 15: 13})
[16:40:42] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



mouse_bladder_cell GMM ari = 0.32247963308464656,
mouse_bladder_cell HDBSCAN ari = 0.18740787982140453,
(2881, 21143) (2881, 21143) keeping 21143 genes
Counter({5: 1001, 4: 898, 2: 356, 0: 267, 1: 240, 6: 71, 3: 48})
[16:41:21] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Romanov GMM ari = 0.29584638107446926,
Romanov HDBSCAN ari = 0.01115244547176785,
(1090, 23341) (1090, 23341) keeping 23341 genes
Counter({5: 540, 4: 258, 2: 141, 0: 71, 3: 45, 1: 35})
[16:41:51] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Quake_Smart-seq2_Limb_Muscle GMM ari = 0.7431196474221365,
Quake_Smart-seq2_Limb_Muscle HDBSCAN ari = 0.4103854648957912,
(2122, 19046) (2122, 19046) keeping 19046 genes
Counter({1: 812, 2: 448, 4: 245, 0: 219, 3: 193, 7: 101, 8: 80, 5: 21, 6: 3})
[16:42:03] WARNING: ../src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softmax' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.



Muraro GMM ari = 0.8032066862242001,
Muraro HDBSCAN ari = 0.14371657949748118,

# Mutual Information

In [8]:
from sklearn.feature_selection import chi2,  mutual_info_classif, SelectKBest

In [9]:
for name in files:
    t1 = time.time()
    data_mat = h5py.File(f"{path}/real_data/{name}.h5", "r")

    truth = np.array(data_mat['Y'])
    data = np.array(data_mat['X'])
    data = preprocess_data(data, nb_genes = data.shape[1], normalize_input=False)
    print(Counter(truth))
    n_clusters = len(np.unique(truth))
    gmm_scores = []
    hdbscan_scores = []
    sel = SelectKBest(mutual_info_classif, k=50).fit_transform(data, truth)
    for i in range(2, 50):
        input_data = sel[:, :i]
        gmm = mixture.GaussianMixture(n_components=n_clusters,
                          covariance_type="full", random_state=0)
        pred = gmm.fit_predict(input_data)
        ari = adjusted_rand_score(truth, pred)
        gmm_scores.append(ari)

        pred = hdbscan.HDBSCAN(min_cluster_size =2).fit(input_data).labels_
        ari = adjusted_rand_score(truth, pred)
        hdbscan_scores.append(ari)

        
    print(f"\n\n\n{name} GMM ari = {max(gmm_scores)}, ")
    print(f"{name} HDBSCAN ari = {max(hdbscan_scores)}, ")

(1350, 23341) (1350, 23341) keeping 23341 genes
Counter({3: 830, 0: 206, 2: 201, 1: 113})



Quake_Smart-seq2_Trachea GMM ari = 0.6129149806343049,
Quake_Smart-seq2_Trachea HDBSCAN ari = 0.9008038537712834,
(870, 23341) (870, 23341) keeping 23341 genes
Counter({4: 439, 3: 241, 1: 81, 0: 78, 2: 31})



Quake_Smart-seq2_Diaphragm GMM ari = 0.9732022491521348,
Quake_Smart-seq2_Diaphragm HDBSCAN ari = 0.9637359652718737,
(2717, 24175) (2717, 24175) keeping 24175 genes
Counter({1.0: 933, 4.0: 798, 3.0: 683, 2.0: 303})



mouse_ES_cell GMM ari = 0.8273002091209083,
mouse_ES_cell HDBSCAN ari = 0.6575234314031914,
(1676, 23341) (1676, 23341) keeping 23341 genes
Counter({6: 693, 10: 423, 4: 113, 3: 90, 8: 85, 7: 65, 0: 57, 1: 53, 9: 37, 5: 35, 2: 25})



Quake_Smart-seq2_Lung GMM ari = 0.7520819033960576,
Quake_Smart-seq2_Lung HDBSCAN ari = 0.8718218369984635,
(3909, 23341) (3909, 23341) keeping 23341 genes
Counter({2: 1330, 4: 1136, 0: 461, 5: 354, 1: 320, 3: 308})



Quake_10x_Limb_Muscle GMM ari = 0.8828427959130767,
Quake_10x_Limb_Muscle HDBSCAN ari = 0.6196228886760387,
(2746, 20670) (2746, 20670) keeping 20670 genes
Counter({1: 717, 2: 357, 3: 344, 4: 316, 5: 236, 6: 224, 7: 131, 8: 80, 9: 75, 10: 64, 11: 44, 13: 41, 12: 38, 14: 36, 15: 30, 16: 13})



mouse_bladder_cell GMM ari = 0.413794611352707,
mouse_bladder_cell HDBSCAN ari = 0.402579490941692,
(2881, 21143) (2881, 21143) keeping 21143 genes
Counter({5: 1001, 4: 898, 2: 356, 0: 267, 1: 240, 6: 71, 3: 48})



Romanov GMM ari = 0.5244402230146769,
Romanov HDBSCAN ari = 0.26537664772337455,
(1090, 23341) (1090, 23341) keeping 23341 genes
Counter({5: 540, 4: 258, 2: 141, 0: 71, 3: 45, 1: 35})



Quake_Smart-seq2_Limb_Muscle GMM ari = 0.8689560394300746,
Quake_Smart-seq2_Limb_Muscle HDBSCAN ari = 0.8269317838544251,
(2122, 19046) (2122, 19046) keeping 19046 genes
Counter({1: 812, 2: 448, 4: 245, 0: 219, 3: 193, 7: 101, 8: 80, 5: 21, 6: 3})



Muraro GMM ari = 0.9157850389440677,
Muraro HDBSCAN ari = 0.4416992845049381,

In [ ]:
import scripts.ga_evaluation as ga_evaluation
filenames = np.array(["khan","west",  "gordon",'borovecki'])
path = '../data/microarray/'

for name in filenames:
    t1 = time.time()
    data = pd.read_pickle(f'{path}' + name + '.pkl')
    truth = data["truth"].values
    input_data = data.drop("truth", axis = 1).values

    n_clusters = len(np.unique(truth))
    gmm = mixture.GaussianMixture(n_components=n_clusters,
                      covariance_type="full", random_state=0)
    pred = gmm.fit_predict(input_data)
    ari = adjusted_rand_score(truth, pred)
    print(f"{name} GMM ari = {ari}")

    pred = hdbscan.HDBSCAN(min_cluster_size =2).fit(input_data).labels_
    ari = adjusted_rand_score(truth, pred)
    print(f"{name} HDBSCAN ari = {ari}")

In [ ]:
import scripts.ga_evaluation as ga_evaluation
filenames = np.array(['borovecki'])
path = '../data/microarray/'

for name in filenames:
    t1 = time.time()
    data = pd.read_pickle(f'{path}' + name + '.pkl')
    truth = data["truth"].values
    input_data = data.drop("truth", axis = 1).values
    input_data = input_data[:, :10000]
    

    n_clusters = len(np.unique(truth))
    
    pred = hdbscan.HDBSCAN(min_cluster_size =2).fit(input_data).labels_
    ari = adjusted_rand_score(truth, pred)
    print(f"{name} HDBSCAN ari = {ari}")
    
    gmm = mixture.GaussianMixture(n_components=n_clusters,
                      covariance_type="full", random_state=0)
    pred = gmm.fit_predict(input_data)
    ari = adjusted_rand_score(truth, pred)
    print(f"{name} GMM ari = {ari}")

# Execution time analysis

In [ ]:
results = pd.read_excel("reports/r_cnn.xlsx", index_col=0)

results["label"] = results["dataset_name"] + " (" +results["input_size"].astype(str) + " features) " 

perf = results.groupby("input_size").min()[['t(feature_sel)', 't(cnn)','t(ga)']]

perf = perf.rename(columns = {
    't(feature_sel)' : '1D Feature ranking', 
    't(cnn)' : '2D Feature ranking with NN',
    't(ga)': 'Optimization algorithm for top 10 subspaces'
})



plt.figure(figsize = (10,3))
ax = plt.gca()
perf.plot(kind='bar', stacked=True, ax = ax)
plt.ylabel("time (min)")
plt.xticks(rotation = 0)
sns.despine()
plt.title("Run times on West, Khan, Gordon and Boroveki datasets")
plt.xlabel("Number of dimensions in the input dataset")
plt.savefig(f"images/run_times.pdf", bbox_inches='tight')